{include file="public/header"}

<div class="content" id="lessonEdit">
	<div class="rightBox">
		<div class="main">
			
			<div class="seach_tigs" id="edit">
				<h3 id="addLesson">优惠券基础信息</h3>
	            
	                <ul class="clearfix">
                        <li>
                            <label class="seach-label">
                                <span>*</span>优惠券名称：
                            </label>
                            <input type="text" name="" value="" class="form-control" v-model="name">
                        </li>
                        <li>
                            <label class="seach-label">
                                <span>*</span>优惠券图片：
                            </label>
                            <div class="file_top">
                                <span>点击选择图片</span>
                                <input type="file" name="pic" id="file" class="upload" onchange="uploadpic(this)">
                                <input type="hidden" name="" class="" id="hpic" v-model="img" value="">
                            </div>
                            <div class="fileBox">
                                <p>建议上传图片的尺寸比例为1:1，大小不超过1M</p>
                                <img :src="img" height="100" id="image" v-model="img">
                            </div>
                        </li>
                        <li>
                            <label class="seach-label">
                                <span>*</span>优惠券链接：
                            </label>
                            <input type="text" name="" value="" class="form-control" v-model="couponurl">
                        </li>
                        <li>
                            <label class="seach-label">
                                <span>*</span>面值：
                            </label>
                            <input type="text" name="" value="" class="form-control" v-model="price" style="width: 300px">
                        </li>
                        <li>
                            <label class="seach-label"></label>
                            <input type="checkbox" name="" style="-webkit-appearance:checkbox;" v-model="iswhere"> 满 <input type="text" name="" value="" class="form-control" v-model="whereprice" style="width: 260px"> 可使用
                        </li>
                        <li>
                            <label class="seach-label">
                                <span>*</span>每人限领：
                            </label>
                            <input type="text" name="" value="" class="form-control" v-model="maxnum" style="width: 300px">
                        </li>
                        <li>
                            <label class="seach-label">
                                <span>*</span>发放总量：
                            </label>
                            <input type="text" name="" value="" class="form-control" v-model="count" style="width: 300px"> 张
                        </li>
                        <li>
                        	<label class="seach-label">
                                <span>*</span>生效时间：
                            </label>
                        	<input class="form-control input-xlarge" id="test5" type="text">
                        </li>
                        <li>
                        	<label class="seach-label">
                                <span>*</span>过期时间：
                            </label>
                        	<input class="form-control input-xlarge" id="test4" type="text">
                        </li>
                        <li>
                        	<label class="seach-label">
                                <span>*</span>使用说明：
                            </label>
                            <textarea style="width: 300px;height: 150px;padding:10px;" v-model="content"></textarea>
                        </li>
                        <li class="seach"><input type="submit" name="" value="确认" @click="get()"><a href="javascript:history.back(-1)" id="back">返回</a></li>
                    </ul>
                
            </div>

		</div>
	</div>
</div>
{include file="public/footer"}
<script src="__PUBLIC__/admin/js/laydate.js"></script>
<script type="text/javascript">

function uploadpic(this0){
    $.ajaxFileUpload({
        fileElementId: 'file',    //需要上传的文件域的ID，即<input type="file">的ID。
        url: baseurl+'?s=admin/Uploadpic/index', //后台方法的路径
        type: 'post',   //当要提交自定义参数时，这个参数要设置成post
        dataType: 'json', //返回值类型 一般设置为json
        contentType: "application/x-www-form-urlencoded; charset=utf-8",
        success: function(data) {   //提交成功后自动执行的处理函数，参数data就是服务器返回的数据。
            console.log(data.src);
            $('#hpic').val(data.src);
            $('#image').attr('src',data.src);
        }
    });
}


var vue=new Vue({
	el:'#lessonEdit',
	data:{
		name:'',
        couponurl:'',
        price:'',
        iswhere:'',
        whereprice:'',
        maxnum:'',
        count:'',
        content:'',
        img:'',
        id:'<?php echo @$_GET['id']?>'

	},
    mounted: function(){
         laydate.render({
            elem: '#test5,#test4',//指定元素
            type: 'datetime'
        });
    },
	methods:{
	   get:function(){
        var startTime=$('#test5').val();
        var endTime=$('#test4').val();
        var img=$('#hpic').val();
        if(!this.name){
            layer.alert('优惠券名称不能为空！');
            return;
        }
        if(!this.couponurl){
            layer.alert('优惠券链接不能为空！');
            return;
        }
        if(!this.price){
            layer.alert('面值不能为空！');
            return;
        }
        if(!this.whereprice){
            layer.alert('满额使用不能为空！');
            return;
        }
        if(!this.maxnum){
            layer.alert('每人限领值不能为空！');
            return;
        }
        if(!this.count){
            layer.alert('发放总量不能为空！');
            return;
        }
        if(!startTime || !endTime){
            layer.alert('起始时间不能为空！');
            return;
        }
        if(!this.content){
            layer.alert('使用说明不能为空！');
            return;
        }
        this.$http.post(baseurl+'?s=admin/Coupon/update_coupon',{
            'id':this.id,
            'name':this.name,
            'couponurl':this.couponurl, 
            'price':this.price,
            'iswhere':this.iswhere,
            'whereprice':this.whereprice,
            'maxnum':this.maxnum,
            'count':this.count,
            'starttime':startTime,
            'endtime':endTime,
            'content':this.content,
            'pic':img
            }).then(res=>{
                if(res.bodyText==1){
                    layer.msg('保存成功！',function(){
                        window.history.go(-1);
                    })
                }
        },res=>{
            console.log('请求失败处理,请检查Network!');
        })
       }
	},
	created:function(){ 
        if(!this.id){
            $('#addLesson').html('新增优惠券');
            return;
        }
		this.$http.post(baseurl+'?s=admin/Coupon/index',{'id':this.id,list:1}).then(res=>{
                $('#addLesson').html('优惠券基础信息');
				var val=eval('('+res.bodyText+')')['value'][0];
                this.name=val['NAME'];
                this.couponurl=val['COUPONURL'];
                this.price=val['PRICE'];
                this.iswhere=val['ISWHERE'];
                this.whereprice=val['WHEREPRICE'];
                this.maxnum=val['MAXNUM'];
                this.count=val['COUNT'];
                $('#test5').val(val['STARTTIME']);
                $('#test4').val(val['ENDTIME']);
                this.content=val['CONTENT'];
                this.img=val['PIC'];
			},res=>{
				console.log('请求失败处理,请检查Network!');
			})
	}

})

</script>

</body>
</html>