{include file="public/header"}	
<div class="content" id="update">
	<div class="rightBox">
		<div class="main">
			<div class="seach_tigs">
				<h3>交易流水</h3>
				<div class="topBtns sc">
					
				</div>
				<div class="seach_tigs">
	            
	                <ul class="clearfix">
	                    <li>
	                        <label class="seach-label">
	                            订单编号：
	                        </label>
	                        <input type="text" name="" placeholder="请输入订单编号" class="form-control" v-model="ordercode ">
	                    </li>
	                    <li style="width: 33%">
	                        <label class="seach-label">
	                            交易流水号：
	                        </label>
	                        <input type="text" name="" placeholder="请输入交易流水号" class="form-control" v-model="paycode">
	                    </li>
	                </ul>
	                <div class="topBtns seach">
	                    <input type="button" name="" value="搜索" @click="get()">
	                </div>
	        </div>
                <table class="tableBox">
                    <thead>
                        <tr>
                            <th>订单编号</th>
                            <th>交易流水号</th>
                            <th>交易状态</th>
                            <th>创建/支付时间</th>
                            <th>交易金额</th>
                           <!--  <th>支付通道</th> -->
                            <th width="10%">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(v,index) in products">
                            <td>{{v.ORDERCODE}}</td>
                            <td>{{v.PAYCODE}}</td>
                            <td>{{v.STATE}}</td>
                            <td>{{v.PAYTIME}}</td>
                            <td>{{v.MONEY}}</td>
                            <!-- <td>{{v.way}}</td> -->
                            <td>
                            <a href="javascript:void(0);" @click="remove(v.ID,index)">删除</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
		</div>
	</div>
</div>
{include file="public/footer"}
<script src="__PUBLIC__/admin/js/laydate.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/page.js"></script>
<script type="text/javascript">

var vue=new Vue({
	el:'#update',
	data:{
		products:[
			
		],
		ordercode:'',
		paycode:''
	},
	methods:{
		get:function(){
			this.$http.post(baseurl+'?s=admin/Account/index',{where:{'code':this.ordercode,'paycode':this.paycode},list:1}).then(res=>{
				page.where={'code':this.ordercode,'paycode':this.paycode};
				var val=eval('('+res.bodyText+')');
				this.products=val['value'];
				page.htmlPage(val['allCount']);
			},res=>{
				console.log('请求失败,请检查Network!');
			})
		},
		remove:function(ids,arrid){
			layer.alert('确定要删除吗?',function(){
				//console.log(i);
				vue.$http.post(baseurl+'?s=admin/Account/delaccount',{id:ids}).then(res=>{
					//console.log(res);
					var num=eval('('+res.bodyText+')');
					if(num==1){
						layer.msg('删除成功！',{time:1500});
						vue.products.splice(arrid,1);
					}else{
						location.reload();
					}
				},res=>{
					console.log("请求失败处理,请检查Network！");
				})	
			});
			
		}
		 
	},
	created:function(){
		page.url='admin/Account/index';
        page.onload(); 
		/*this.$http.post(baseurl+'?s=admin/Coupon/index',{list:1}).then(res=>{
				this.products=eval('('+res.bodyText+')')['value'];
				//console.log(this.products);
			},res=>{
				console.log('请求失败处理,请检查Network!');
			})*/
	}

})

</script>
</body>
</html>