{include file="public/header"}

<div class="content" id="school">
	<div class="rightBox">
		<div class="main">
			<h3 style="margin-bottom: 30px;">活动列表</h3>
            <div class="seach_tigs">
                <ul class="clearfix">
                    <li>
                        <label class="seach-label"> 渠道：</label>
                        <input type="text" name="" placeholder="请输入渠道名称" class="form-control" v-model="name" style="width: 30%">
                    </li>
                </ul>
                <div class="seach" style="margin-left: 70px;">
                    <input type="button" name="" value="搜索" @click="get()">
                </div>
            </div>
	        <table class="tableBox">
                    <thead>
                        <tr>
                            <th>姓名</th>
                            <th>电话</th>
                            <th>校区</th>
                            <th>科目</th>
                            <th>报名时间</th>
                            <th>渠道</th>
                            <th>媒介</th>
                            <th>关键词</th>
                            <th>单元</th>
                            <th>计划</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(v,index) in products">
                                <td>{{v.NAME}}</td>
                                <td>{{v.PHONE}}</td>
                                <td>{{v.SCHOOL}}</td>
                                <td>{{v.SUBJECT}}</td>
                                <td>{{v.DATETIME}}</td>
                                <td>{{v.utm_source}}</td>
                                <td>{{v.utm_medium}}</td>
                                <td>{{v.utm_term}}</td>
                                <td>{{v.utm_content}}</td>
                                <td>{{v.utm_campaign}}</td>
                                <td><a href="javascript:void(0)" @click="remove(v.ID,index)">删除</a></td>
                            </tr>                   
                        </tbody>
                </table>
                
		</div>
	</div>
</div>
<div class="page">
	<ul class="clearfix pageonload" v-html="html">
       {{html}}
    </ul>
</div>
{include file="public/footer"}
<script type="text/javascript" src="__PUBLIC__/admin/js/page.js"></script>
<script type="text/javascript">
    
    var vue=new Vue({
        el:'#school',
        data:{
            products:[],
            name:''
        },
        methods:{
            get:function(){
                this.$http.post(baseurl+'?s=admin/index/activity',{where:{
                	'utm_source':this.name
                }}).then(function(res){
                	page.where={'name':this.name};
                	var val=eval('('+res.bodyText+')');
                    this.products=val['value'];
                    //console.log(this.products);
                   //给分页组件传入总页数
                   page.htmlPage(val['allCount']);
                   //console.log(page.allCount);
                },function(res){
                	console.log('请求失败处理，请检查Network!');
                })
            },
            remove:function(ids,arrid){
                layer.alert('确定要删除吗？',function(){
                    vue.$http.post(baseurl+'?s=admin/index/delete_activity',{id:ids}).then(res=>{
                        var num=eval('('+res.bodyText+')');
                        if(num==1){
                            layer.msg('删除成功',{time:1500});
                            vue.products.splice(arrid,1);
                        }else{
                            location.reload();
                        }
                    },res=>{
                        console.log('请求失败处理，请检查Network!');
                    })
                })
                
            }
        },
        created:function(){
        	 page.url='admin/index/activity';
             page.onload();
        }
        
    })
</script>
</body>
</html>