<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta content="" />
<meta content="" />
<meta name="robots" content="noindex,nofollow">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>课程管理</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/common.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/reset.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/lesson.css">
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/vue.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/vue-resource.min.js"></script>
<script type="text/javascript">
    var baseurl="<?php echo BASE_URL;?>";
</script>
</head>

<body style="height: 100%">

<div class="top clearfix">
    <div class="main">
        <div class="ad_logo left">金石教育后台</div>
        <div class="quit right">
            <span><i class="icon iconfont">&#xe638;</i> admin <i class="icon iconfont">&#xe65c;</i></span>
            <ul>
                <li><a href=""><i class="icon iconfont">&#xe62c;</i> 修改密码</a></li>
                <li><a href=""><i class="icon iconfont">&#xe62e;</i> 退出</a></li>
            </ul>

        </div>
    </div>
</div>  
<div class="nav">
    <div class="main">
        <ul id="first" class="clearfix">
            <li class="active"><a href="#">订单管理</a>
                <ul id="second">
                    <li><a href="#">订单列表</a></li>
                    <li><a href="#">评价列表</a></li>
                </ul>
            </li>
            <li><a href="#">派单管理</a>
                <ul id="second">
                    <li><a href="#">派单列表</a></li>
                </ul>
            </li>
            <li><a href="#">课程管理</a>
                <ul id="second">
                    <li><a href="<?php echo BASE_URL;?>?s=admin/lesson/lesson_school.html">校区列表</a></li>
                    <li><a href="<?php echo BASE_URL;?>?s=admin/lesson/lesson_teacher.html">教师列表</a></li>
                    <li><a href="<?php echo BASE_URL;?>?s=admin/lesson/lesson_list.html">课程列表</a></li>
                </ul>
            </li>
            <li><a href="#">优惠券</a>
                <ul id="second">
                    <li><a href="#">优惠券使用详情</a></li>
                    <li><a href="#">优惠券列表</a></li>
                </ul>
            </li>
            
            <li><a href="#">用户管理</a>
                <ul id="second">
                    <li><a href="#">用户列表</a></li>
                </ul>
            </li>
            <li><a href="#">测试题管理</a>
                <ul id="second">
                    <li><a href="#">测试题列表</a></li>
                    <li><a href="#">答题列表</a></li>
                </ul>
            </li>
            <li><a href="#">活动管理</a>
                <ul id="second">
                    <li><a href="#">活动列表</a></li>
                </ul>
            </li>
            <li><a href="#">意见反馈</a>
                <ul id="second">
                    <li><a href="#">意见列表</a></li>
                </ul>
            </li>
            <li><a href="#">权限管理</a>
                <ul id="second">
                    <li><a href="#">菜单管理</a></li>
                    <li><a href="#">角色管理</a></li>
                    <li><a href="#">后台用户管理</a></li>
                </ul>
            </li>
            <li><a href="#">系统管理</a>
                <ul id="second">
                    <li><a href="#">修改密码</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>