<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="Keywords" content="">
<meta name="Description" content="">
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
<meta content="telephone=no" name="format-detection" />
<meta content="email=no" name="format-detection" />
<title>金石教育推广</title>
<link rel="stylesheet" type="text/css" href="css/reset.css?v=1.0">
<link rel="stylesheet" type="text/css" href="css/style.css?v=1.0">
<script type="text/javascript">
	var h tml=document.documentElement;
	var hwidth=html.getBoundingClientRect().width;	/*获取屏幕的宽度*/
	//console.log(hwidth);
	html.style.fontSize=hwidth/30+"px";  /*根据屏幕大小的不同设置根节点的字体大小*/
</script>
</head>

<body>
<div class="banner"><img src="images/xiao_01.jpg" width="100%"></div>
<div class="from" id="form">
	<div class="main">
		<form action="" method="">
			<div><span>姓名 | </span><input type="text" name=""></div>
			<div><span>电话 | </span><input type="text" name=""></div>
			<div><span>校区 | </span><input type="text" name=""></div>
			<div><span>学科 | </span><input type="text" name=""></div>
			<button type="submit">1元领取价值199元体验课</button>
		</form>
		<h1>寒假来临，此刻的你是不是心慌了呢</h1>
		<h2>因为，寒假....<br>这是孩子最开心，也是家长们最忧愁的阶段</h2>
		<p>1. 漫漫寒假，无暇陪伴，孩子安全如何保障？</p>
		<p>2. 沉迷娱乐，新学期会不会影响成绩？</p>
		<p>3. 寒假作业无力辅导，谁来救救家长？</p>
	</div>
</div>
<div class="exper">
	<img src="images/xiao_03.jpg" width="100%">
	<div class="main">
		<h4>问题一箩筐，不怕，金石教育统统帮你解决！</h4>
		<p>金石教育帮助孩子规划寒假学习时间，培养自律习惯、掌握时间管理的能力；更有免费暖冬自习室，专业学科老师陪读，随时进行答疑解惑，并实时向家长反馈学员在校学习情况。</p>
		<a href="#" class="same" name="#form">1元抢报限量体验课</a>
	</div>
	<img src="images/xiao_05.jpg" width="100%">
	<img src="images/xiao_06.jpg" width="100%">
	<div class="main"><a href="#" class="same sameTwo" name="#form">1元抢报限量体验课</a></div>
</div>
<div class="teacher">
	<div class="main">
		<img src="images/xiao_09.jpg" width="100%">
		<img src="images/xiao_12.jpg" width="100%">
		<img src="images/xiao_14.jpg" width="100%">
		<img src="images/xiao_16.jpg" width="100%">
	</div>
</div>
<div class="main"><a href="#" class="same sameTwo" name="#form">约名师！预约1元体验课</a></div>
<div class="bottom">
	<div class="main">
		<p>Powered by EduSoho v8.3.6 ©2014-2019</p>
		<h2>课程内容版权均归 青岛金石教育科技股份有限公司 所有</h2>
		<h4>鲁ICP备12014631号-2</h4>
	</div>
</div>
</body>
</html>