{include file="common/header"}

<body>
<div id="index">
	<div id="allmap"></div>
<div class="top">
	<div class="main clearfix">
		<div class="position left" @click="get()"><i class="icon iconfont">&#xe6c1;</i><span id="posi"></span></div>
		<div class="seach right"><input type="text" name="" placeholder="请在搜索框内输入搜索内容"><button type="submit"><i class="icon iconfont">&#xe614;</i></button></div>
	</div>
</div>

<!--banner-->
<div class="banner">
  <div class="swiper-container">
    <div class="swiper-wrapper">
	    <div class="swiper-slide" v-for="t in bannerLis">
	    	<img :src="t.imgUrl" alt="">
	    </div>
    </div>
    <!-- 如果需要分页器-->
    <div class="swiper-pagination"></div>
  </div>
</div>
<div class="clear"></div>

<div class="test">
	<h3 class="title">学习性格测试</h3>
	<div class="swiper-container">
    <div class="swiper-wrapper">
           
            <div class="swiper-slide" v-for="v in imgLis" :style="{backgroundImage:'url('+v.imgUrl+')'}"></div>
           <!--  <div class="swiper-slide" style="background-image:url(__PUBLIC__/index/images/index_05.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(__PUBLIC__/index/images/index_05.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(__PUBLIC__/index/images/index_05.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(__PUBLIC__/index/images/index_05.jpg)"></div> -->
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>

</div>

<div class="ticket">
	<div class="main">
		<h3 class="title">票券领取</h3>
		<ul class="clearfix">
			<li class="on"><a href="" class="color">
				<h2>200</h2>
				<span>RMB</span>
				<p>领取票券</p>
				<i class="icon iconfont">&#xe629;</i>
			</a></li>
			<li class="default"><a href="" class="color">
				<h2>200</h2>
				<span>RMB</span>
				<p>领取票券</p>
				<i class="icon iconfont">&#xe629;</i>
			</a></li>
			<li class="default"><a href="" class="color">
				<h2>200</h2>
				<span>RMB</span>
				<p>领取票券</p>
				<i class="icon iconfont">&#xe629;</i>
			</a></li>
		</ul>
	</div>
</div>

<div class="hot">
	<div class="main">
		<h3 class="title">热门活动</h3>
		<a :href="v.imgHref" v-for="v in hotLis"><img :src="v.imgUrl"></a>
		<!-- <a href=""><img src="__PUBLIC__/index/images/index_09.jpg"></a> -->
	</div>
</div>
<div class="phone addr">
	<div class="main">
		<a href=""><i class="icon iconfont">&#xe6c1;</i> &nbsp;查看各校区地址<span><i class="icon iconfont">&#xe615;</i></span></a>
	</div>
</div>
<div class="phone">
	<div class="main">
		<a :href="'tel:'+phone"><i class="icon iconfont">&#xe688;</i> &nbsp;金石教育热线：{{phone}}<span><i class="icon iconfont">&#xe615;</i></span></a>
	</div>
</div>
<div class="phone">
	<div class="main">
		<a :href="'tel:'+phoneKe"><i class="icon iconfont">&#xe688;</i> &nbsp;小学拼课专线：{{phoneKe}}<span><i class="icon iconfont">&#xe615;</i></span></a>
	</div>
</div>

<div class="name">
	<h4>青岛金石教育科技股份有限公司</h4>
	<p>www.jinshiedu.com</p>
</div>


<div class="fixedNav">
	<div class="main">
		<ul>
			<li><a href="" class="active">
				<i class="icon iconfont">&#xe65e;</i>
				<p>首页</p>
			</a></li>
			<li><a href="">
				<i class="icon iconfont">&#xe626;</i>
				<p>课程</p>
			</a></li>
			<li><a href="">
				<i class="icon iconfont">&#xe617;</i>
				<p>购物车</p>
			</a></li>
			<li><a href="">
				<i class="icon iconfont">&#xe638;</i>
				<p>我的</p>
			</a></li>
		</ul>
	</div>
</div>
</div>

<div class="posAll">
	<div class="posBox">
		<div class="main">
			<i class="icon iconfont">&#xe6c1;</i><span id="posi2" style="font-size:1.024rem;"></span><span style="font-size:1.024rem;">(GPS定位)</span>
		</div>
	</div>
	<div class="posBox">
		<div class="main2">
			<p>历史访问</p>
			<ul class="clearfix">
				<li><a href="">潍坊</a></li>
				<li><a href="">潍坊</a></li>
				<li><a href="">潍坊</a></li>
			</ul>
		</div>
	</div>
	<div class="posBox">
		<div class="main2">
			<p>选择其他城市</p>
			<ul class="clearfix">
				<li><a href="" class="on">青岛</a></li>
				<li><a href="">济南</a></li>
				<li><a href="">潍坊</a></li>
				<li><a href="">滨海</a></li>
				<li><a href="">临沂</a></li>
				<li><a href="">日照</a></li>
				<li><a href="">威海</a></li>
				<li><a href="">烟台</a></li>
				<li><a href="">淄博</a></li>
			</ul>
		</div>
	</div>
	<div class="posBox">
		<div class="main2">
			<p>选择地区</p>
			<ul class="clearfix">
				<li><a href="" class="on">市南</a></li>
				<li><a href="">市北</a></li>
				<li><a href="">崂山</a></li>
				<li><a href="">李沧</a></li>
				<li><a href="">城阳</a></li>
				<li><a href="">黄岛</a></li>
				<li><a href="">即墨</a></li>
				<li><a href="">胶州</a></li>
				<li><a href="">莱西</a></li>
			</ul>
		</div>
	</div>
	<div class="posBox">
		<div class="main2">
			<p>选择校区</p>
			<ul class="clearfix">
				<li><a href="" class="on">香港中路校区</a></li>
				<li><a href="">延安三路校区</a></li>
				<li><a href="">中山路校区</a></li>
				<li><a href="">银川西路校区</a></li>
				<li><a href="">宁夏路校区</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="shade"></div>

{include file="common/footer"}
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=s4u13aUZAj36D4XWMm52TexzlwGGg7GG"></script>
<script type="text/javascript"> 
var vue= new Vue({
	el:'#index',
	data:{
		bannerLis:[],
		hotLis:[],
		imgLis:[],
		phone:'',
		phoneKe:''
	},
	methods:{
		get:function(){
	   		this.$http.get('http://api.map.baidu.com/geoconv/v1/?coords=120.38442818,36.1052149&from=1&to=5&ak=s4u13aUZAj36D4XWMm52TexzlwGGg7GG').then(res=>{
	   				alert(res);
	   		},res=>{

	   		});
	   }
	},
	mounted(){
		var mySwiper = new Swiper('.banner .swiper-container',{
		    loop: true,
			autoplay:5000,
		    autoplayDisableOnInteraction: false,
			speed:500,
			// 如果需要分页器
		    pagination: '.banner .swiper-pagination',
			paginationClickable: true,
			grabCursor : true,
			nextButton: '.arrow-right',
		    prevButton: '.arrow-left',
			parallax:true,
		  });  
		var swiper = new Swiper('.test .swiper-container', {
	      effect: 'coverflow',
	      loop : true,
		  //slidesPerView : 'auto',
		  //loopedSlides :8,
	      grabCursor: true,
	      centeredSlides: true,
	      slidesPerView: 'auto',
	      coverflowEffect: {
	        rotate: 50,
	        stretch: 0,
	        depth: 100,
	        modifier: 1,
	        slideShadows : true,
	      },
	      pagination: {
	        el: '.test .swiper-pagination',
	      },
	    });

	},
	created:function(){
		// 百度地图API功能
		var map = new BMap.Map("allmap");
		var point = new BMap.Point(116.331398,39.897445);
		map.centerAndZoom(point,12);
		var lat , lng;
		var geolocation = new BMap.Geolocation();
		geolocation.getCurrentPosition(function(r){
		    if(this.getStatus() == BMAP_STATUS_SUCCESS){
		        var mk = new BMap.Marker(r.point);
		        map.addOverlay(mk);
		        map.panTo(r.point);
		        lng=r.point.lng;
		        lat=r.point.lat;
		        
		        //获取省市区
		        $.ajax({ 
				    url: 'http://api.map.baidu.com/geocoder/v2/?callback=renderReverse&location='+lat+','+lng+'&output=json&pois=1&ak=s4u13aUZAj36D4XWMm52TexzlwGGg7GG', 
				    type: 'GET', 
				    dataType: 'JSONP', 
				    success: function(res){
				    console.log(res);
				      console.log(res.result.formatted_address);
				    } 
				});
		    }
		    else {
		        layer.msg('获取地理位置失败！');
		    }        
		},{enableHighAccuracy: true});
		
		
		this.$http.post(baseurl+'?s=index/index/get_index').then(res=>{
			
			var val=eval('('+res.bodyText+')');
			this.bannerLis=val['bannerLis'];
			this.hotLis=val['hotLis'];
			this.imgLis=val['imgLis'];
			this.phone=val['PHONE'];
			this.phoneKe=val['PHONE1'];
		},res=>{
			console.log('请求失败,请检查Network!');
		});
	}
})

$(function(){
	$('.position').click(function(){
		$('.posAll').animate({left:0},400);
		$('.shade').css({'display':'block','background':'rgba(0,0,0,.5)'})
	});
	$('.shade').click(function(){
		$('.posAll').animate({left:'-80%'},400);
		$(this).css({'display':'none'});
	})
})




 
</script>
</body>
</html>
