{include file="common/header"}

<body>
<div id="index">
	<div id="allmap"></div>
<div class="top">
	<div class="main clearfix">
		<div class="position left"><i class="icon iconfont">&#xe6c1;</i><span id="posi"></span></div>
		<div class="seach right"><input type="text" name="" placeholder="请在搜索框内输入搜索内容"><button type="submit"><i class="icon iconfont">&#xe614;</i></button></div>
	</div>
</div>

<!--banner-->
<div class="banner">
  <div class="swiper-container">
    <div class="swiper-wrapper">
	    <div class="swiper-slide" v-for="(t,index) in bannerLis">
	    	<img :src="t.imgUrl" alt="">
	    </div>
    </div>
    <!-- 如果需要分页器-->
    <div class="swiper-pagination">
    	<span v-for="(t,index) in bannerLis"></span>
    </div>
  </div>
</div>

<div class="test">
	<h3 class="title">学习性格测试</h3>
	<div class="swiper-container">
    <div class="swiper-wrapper">
           
            <?php foreach($bannerlis['imgLis'] as $v):?>
           	<div  class="swiper-slide" style="backgroundImage:url(<?php echo $v['imgUrl']?>)">
           		<a href="<?php echo $v['imgHref']?>" style="width: 100%;height: 100%;display: flex;"></a>
           	</div>
           <?php endforeach;?>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>

</div>

<div class="ticket">
	<div class="main">
		<h3 class="title">票券领取</h3>
		<ul class="clearfix">
			<li class="default" v-for="v in coupon"><a href="javascript:void(0)" class="color">
				<h2>{{v.PRICE}}</h2>
				<span>RMB</span>
				<p>领取票券</p>
				<i class="icon iconfont">&#xe629;</i>
			</a></li>
		</ul>
	</div>
</div>

<div class="hot">
	<div class="main">
		<h3 class="title">热门活动</h3>
		<a :href="v.imgHref" v-for="v in hotLis"><img :src="v.imgUrl"></a>
		<!-- <a href=""><img src="__PUBLIC__/index/images/index_09.jpg"></a> -->
	</div>
</div>
<div class="phone addr">
	<div class="main">
		<a href=""><i class="icon iconfont">&#xe6c1;</i> &nbsp;查看各校区地址<span><i class="icon iconfont">&#xe615;</i></span></a>
	</div>
</div>
<div class="phone">
	<div class="main">
		<a :href="'tel:'+phone"><i class="icon iconfont">&#xe688;</i> &nbsp;金石教育热线：{{phone}}<span><i class="icon iconfont">&#xe615;</i></span></a>
	</div>
</div>
<div class="phone">
	<div class="main">
		<a :href="'tel:'+phoneKe"><i class="icon iconfont">&#xe688;</i> &nbsp;小学拼课专线：{{phoneKe}}<span><i class="icon iconfont">&#xe615;</i></span></a>
	</div>
</div>

<div class="name">
	<h4>青岛金石教育科技股份有限公司</h4>
	<p>www.jinshiedu.com</p>
</div>


<div class="posAll">
	<div class="posBox">
		<div class="main">
			<i class="icon iconfont">&#xe6c1;</i><span id="posi2" style="font-size:1.024rem;"></span><span style="font-size:1.024rem;">(GPS定位)</span>
		</div>
	</div>
	<div class="posBox">
		<div class="main2">
			<p>当前省</p>
			<ul class="clearfix">
				<li ><a href="javascript:void(0);" class='on'>{{provincename}}</a></li>
			</ul>
		</div>
	</div>
	<div class="posBox">
		<div class="main2">
			<p>选择其他城市</p>
			<ul class="clearfix">
				<li v-for="(key,index) in city">
					<div v-if="index === cityid">
						<a href="javascript:void(0)" @click="getcity(index,event)" class='on'>{{key}}</a>	
					</div>
					<div v-else>
						<a href="javascript:void(0)" @click="getcity(index,event)">{{key}}</a>	
					</div>
				</li>

			</ul>
		</div>
	</div>
	<div class="posBox">
		<div class="main2">
			<p>选择地区</p>
			<ul class="clearfix">
				<li v-for="(key,index) in area">
					<div v-if="index === areaid">
						<a href="javascript:void(0)" @click="getschool(index,event)" class='on1'>{{key}}</a>
					</div>
					<div v-else>
						<a href="javascript:void(0)" @click="getschool(index,event)">{{key}}</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="posBox school_last">
		<div class="main2">
			<p>选择校区</p>
			<ul class="clearfix">
				<li v-for="(key,index) in school">
					<div v-if="key.ID === schoolid">
						<a href="javascript:void(0)" @click="addschool(key.ID,event)" class='on'>{{key.SCHOOL_NAME}}</a>
					</div>
					<div v-else>
						<a href="javascript:void(0)" @click="addschool(key.ID,event)">{{key.SCHOOL_NAME}}</a>
					</div>
					
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="shade"></div>
</div>
{include file="common/footer"}
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=s4u13aUZAj36D4XWMm52TexzlwGGg7GG"></script>
<script type="text/javascript">
var vue= new Vue({
	el:'#index',
	data:{
		bannerLis:[],
		hotLis:[],
		imgLis:[],
		phone:'',
		phoneKe:'',
		city:[],
		cityid:'',
		area:[],
		areaid:'',
		active:'',
		provinceid:'',
		provincename:'',
		school:[],
		schoolid:'',
		coupon:[]
	},
	methods:{
		getcity:function(id,e){
			this.area=getaddress(this.provinceid,id).val;
			$('.on').attr('class','');
			$(e.srcElement).attr('class','on');
		},
		getschool:function(area,e){
			this.areaid=area;
			this.$http.post(baseurl+'?s=index/index/get_school',{'area':area}).then(res=>{
				var val=eval('('+res.bodyText+')');
				this.school=val;
				
				$('.on1').attr('class','');
				$(e.srcElement).attr('class','on1');
			},res=>{
				console.log('请求失败,请检查Network!');
			});
			
		},
		addschool:function(index,e){
			//记录值
			setcookie('city',this.cityid);
			setcookie('area',this.areaid);
			setcookie('school',index);//记录校区
			$('.on2').attr('class','');
			$(e.srcElement).attr('class','on2');
		}
	},
	mounted:function(){
		//var that = this;
		this.mySwiper = new Swiper('.banner .swiper-container',{
			
		    loop: true,
			autoplay:5000,
		    autoplayDisableOnInteraction: false,
			speed:500,
			// 如果需要分页器
		    pagination: '.banner .swiper-pagination',
			paginationClickable: true,
			grabCursor : true,
			nextButton: '.arrow-right',
		    prevButton: '.arrow-left',
			parallax:true,
			observer:true,
    		observeParents:true,
    		/*onSlideChangeEnd: function(swiper){ 
		　　　swiper.update();  
		　　　mySwiper.startAutoplay();
		　　  mySwiper.reLoop();  
			}*/
		  });  

		this.$nextTick(function() {							
			this.mySwiper.startAutoplay()//重新开始轮播
			this.mySwiper.reLoop()//重新计算slides个数
		})

		this.swiper = new Swiper('.test .swiper-container', {
			
	      	effect: 'coverflow',
		    loop : true,
			//slidesPerView : 'auto',
			//loopedSlides :8,
		    grabCursor: true,
		    centeredSlides: true,
		    slidesPerView: 'auto',
		    coverflowEffect: {
	        rotate: 50,
	        stretch: 0,
	        depth: 100,
	        modifier: 1,
	        slideShadows : true,
	        observer:true,//修改swiper自己或子元素时，自动初始化swiper
    		observeParents:true,//修改swiper的父元素时，自动初始化swiper
	      },
	      pagination: {
	        el: '.test .swiper-pagination',
	      },
	    });
	},
	created:function(){
		// 百度地图API功能
		var map = new BMap.Map("allmap");
		var point = new BMap.Point(116.331398,39.897445);
		map.centerAndZoom(point,12);
		var lat , lng;
		var geolocation = new BMap.Geolocation();
		geolocation.getCurrentPosition(function(r){
		    if(this.getStatus() == BMAP_STATUS_SUCCESS){
		        var mk = new BMap.Marker(r.point);
		        map.addOverlay(mk);
		        map.panTo(r.point);
		        lng=r.point.lng;
		        lat=r.point.lat;
		     
		        //获取省市区
		        $.ajax({ 
				    url: 'http://api.map.baidu.com/geocoder/v2/?callback=renderReverse&location='+lat+','+lng+'&output=json&pois=1&ak=s4u13aUZAj36D4XWMm52TexzlwGGg7GG', 
				    type: 'GET', 
				    dataType: 'JSONP', 
				    success: function(res){
				      posi.innerHTML=res.result.addressComponent.city;
				      posi2.innerHTML=res.result.addressComponent.city;
				      
				      var a=getadd(res.result.addressComponent.province,res.result.addressComponent.city,res.result.addressComponent.district);
				      //记录省市区
				      
				      vue.provincename=res.result.addressComponent.province;
				      vue.city=a.city;
				      vue.area=a.area;
				      
				      //查看cookie是否有记录值
					  vue.cityid=getcookie('city');
					  vue.areaid=getcookie('area');
					  vue.schoolid=getcookie('school');
					  vue.provinceid=a.provinceid;

					  if (!vue.cityid && !vue.areaid && !vue.schoolid) {
					  	  vue.areaid=a.areaid;
					      vue.cityid=a.cityid;
					  }
					  
					 if (vue.schoolid) {
						vue.$http.post(baseurl+'?s=index/index/get_school',{'area':vue.areaid}).then(res=>{
							var val=eval('('+res.bodyText+')');
							vue.school=val;
							
						},res=>{
							console.log('请求失败,请检查Network!');
						});
					  }
				    } 
				});
		    }
		    else {
		        layer.msg('获取地理位置失败！');
		    }       

		},{enableHighAccuracy: true});
		
		this.$http.post(baseurl+'?s=index/index/get_index').then(res=>{
			var val=eval('('+res.bodyText+')');
			this.bannerLis=val['bannerLis'];
			this.hotLis=val['hotLis'];
			this.imgLis=val['imgLis'];
			this.phone=val['PHONE'];
			this.phoneKe=val['PHONE1'];
		},res=>{
			console.log('请求失败,请检查Network!');
		});
		this.$http.post(baseurl+'?s=index/Index/get_coupon').then(res=>{
			var val=eval('('+res.bodyText+')')['value'];
			// for(var i=0;i<val.length;i++){
			// 	console.log(Math.round(val[i].PRICE));
			// }
			// console.log(val[0].PRICE);
			this.coupon=val.slice(0,3);
			//console.log(this.coupon);
		},res=>{
			console.log('请求失败,请检查Network!');
		});
		
	}
});

$(function(){
	$('.position').click(function(){
		$('.posAll').animate({left:0},400);
		$('.shade').css({'display':'block','background':'rgba(0,0,0,.5)'});
	});
	
	$('.shade').click(function(){
		$('.posAll').animate({left:'-80%'},400);
		$(this).css({'display':'none'});
	});
	$('.school_last ul li').each(function(){
		$(this).find('a').click(function()  {
			//alert(111);
			$('.posAll').animate({left:'-80%'},400); 
		})
	});
	/*var num=$('.ticket ul li h2').html();
			console.log(1);
			console.log(num);
			num=parseInt(num);*/  
});

</script>
</body>
</html>
