<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="Keywords" content="">
<meta name="Description" content="">
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
<meta content="telephone=no" name="format-detection" />
<meta content="email=no" name="format-detection" />
<title>金石教育_小升初教育研讨会</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/index/css/reset.css?v=1.0">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/index/css/layer.css?v=1.0">

<style type="text/css">
	html,body{height: 100%;}
	.layui-layer-btn .layui-layer-btn0{font-size: 0.3rem;}
	img{vertical-align: middle;}
	.from{margin-top: -13rem;width:100%;position: absolute;left:0;bottom:0.8rem;}
	.from input{border:none;width: 100%;margin:.4rem 0;height: 2.3rem;font-size: 1rem;color:#666;text-align: center;border-radius: 0.6rem;background: #eee;}
	.from span{color:#F00;}
	.main{width: 86%;margin:0 auto;}
	.from a{background: #ff5400;display: block;width: 60%;text-align: center;height: 2.5rem;line-height: 2.5rem;color:#FFF;border-radius:3rem;margin:.5rem auto 0.8rem auto;font-size:1.2rem;box-shadow: 0 0 15px #ff5400;}
	.from div{font-size: 1rem;}
	.from p{color:#cb4f45;text-align: center;font-size: 1rem;}
	.banner .side{position: relative;}
	.banner 
</style>
</head>

<body>
<div id="form">
<div class="banner">
	<img src="__PUBLIC__/index/images/jl_01.jpg" width="100%">
	<img src="__PUBLIC__/index/images/jl_02.jpg" width="100%">
	<img src="__PUBLIC__/index/images/jl_03.jpg" width="100%">
	<div class="side">
		<img src="__PUBLIC__/index/images/jl_04.jpg" width="100%">
		<img src="__PUBLIC__/index/images/jl_05.jpg" width="100%">
		<div class="from">
			<div class="main">
				<input type="number" name="" class="phone" oninput="if(value.length>11)value=value.slice(0,11)" placeholder="请输入手机号" v-model="phone">
				<input type="text" name="" v-model="name" placeholder="请输入您的姓名">
				<a href="javascript:void(0)" @click="get()">立即免费报抢</a>
			</div>
		</div>
	</div>
</div>


		
		

<div class="banner">
	<img src="__PUBLIC__/index/images/jl_06.jpg" width="100%">
	<img src="__PUBLIC__/index/images/jl_07.jpg" width="100%">
	<img src="__PUBLIC__/index/images/jl_08.jpg" width="100%">
	<img src="__PUBLIC__/index/images/jl_09.jpg" width="100%">
	<img src="__PUBLIC__/index/images/jl_10.jpg" width="100%">
	<img src="__PUBLIC__/index/images/jl_11.jpg" width="100%">
	<img src="__PUBLIC__/index/images/jl_12.jpg" width="100%">
	<img src="__PUBLIC__/index/images/jl_13.jpg" width="100%">
	<img src="__PUBLIC__/index/images/jl_14.jpg" width="100%">
	<img src="__PUBLIC__/index/images/jl_15.jpg" width="100%">
	<img src="__PUBLIC__/index/images/jl_16.jpg" width="100%">
	<img src="__PUBLIC__/index/images/jl_17.jpg" width="100%">
	<img src="__PUBLIC__/index/images/jl_18.jpg" width="100%">
	<img src="__PUBLIC__/index/images/jl_19.jpg" width="100%">
	<img src="__PUBLIC__/index/images/jl_20.jpg" width="100%">
	<img src="__PUBLIC__/index/images/jl_21.jpg" width="100%">
	<img src="__PUBLIC__/index/images/jl_22.jpg" width="100%">
	<img src="__PUBLIC__/index/images/jl_23.jpg" width="100%">
	<img src="__PUBLIC__/index/images/jl_24.jpg" width="100%">
	<img src="__PUBLIC__/index/images/jl_25.jpg" width="100%">
	<img src="__PUBLIC__/index/images/jl_26.jpg" width="100%">
	<img src="__PUBLIC__/index/images/jl_27.jpg" width="100%">
	<img src="__PUBLIC__/index/images/jl_28.jpg" width="100%">
</div>
</div>


<script type="text/javascript" src="__PUBLIC__/index/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/index/js/vue.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/index/js/vue-resource.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/index/js/layer.js"></script>
<script type="text/javascript">
	var html=document.documentElement;
	var hwidth=html.getBoundingClientRect().width;	/*获取屏幕的宽度*/
	//console.log(hwidth);
	html.style.fontSize=hwidth/30+"px";  /*根据屏幕大小的不同设置根节点的字体大小*/
	var baseurl="<?php echo BASE_URL;?>";
</script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=s4u13aUZAj36D4XWMm52TexzlwGGg7GG"></script>
<script type="text/javascript">
	var utm_source="<?php echo @$_GET['utm_source'];?>";
	var utm_medium="<?php echo @$_GET['utm_medium'];?>";
	var utm_term="<?php echo @$_GET['utm_term'];?>";
	var utm_content="<?php echo @$_GET['utm_content'];?>";
	var utm_campaign="<?php echo @$_GET['utm_campaign'];?>";

var vue=new Vue({
	el:'#form',
	data:{
		phone:'',
		name:'',
	},
	methods:{
		get:function(){
			//var phone=$('input.phone').val();
			var pattern=/^([\u4e00-\u9fa5]{2,4}|[a-zA-Z]{2,16})$/g;
				if(!this.phone){
					layer.msg('电话不能为空',{time:1500});
					return;
				}
				if(!(/^1(3|4|5|7|8)\d{9}$/.test(this.phone))){ 
			        layer.msg("手机号码有误，请重填");  
			        return; 
			    }
			    if(!this.name){
			    	layer.msg('姓名不能为空',{time:1500});
					return;
			    }
			    if(!pattern.test(this.name)){
					layer.alert('姓名只能是2-4个汉字或26个英文字母');
					return;
				}
			this.$http.post(baseurl+'?s=index/index/activity',{'name':this.name,'phone':this.phone,'school':'即莱地区',subject:'小升初','utm_source':utm_source,'utm_medium':utm_medium,'utm_term':utm_term,'utm_content':utm_content,'utm_campaign':utm_campaign}).then(res=>{
				var num=eval('('+res.bodyText+')');
				if(num==1){
					layer.msg('预约成功，我们会在第一时间联系您',{time:1500});
				
				}else{
					layer.msg('已预约',{time:1500});
				}
			},res=>{
				console.log('请求失败,请检查Network!');
			})
		},
	}
})

</script>
</body>
</html>