{include file="common/header"}

<body>
<div class="spTop">
	<div class="main">
		<div class="spTitle"><span>七年级</span> <i class="icon iconfont">&#xe615;</i> <span>语文</span> <i class="icon iconfont">&#xe615;</i> <span>基金班</span> <i class="icon iconfont">&#xe615;</i> <span>许向前</span><a href="#"><i class="icon iconfont">&#xe65e;</i></a></div>
	</div>
	<div class="banner sp_banner"><img src="images/sp_02.jpg" alt="" width="100%"></div>
	<div class="main">
		<h2>[寒假课程报名] 金石教育七年级语文基金班</h2>
		<h3>￥299</h3>
		<p>1123人已报名</p>
	</div>
</div>

<div class="quan">
	<div class="main">
		<h3><a href="#">优惠券</a>领取优惠券</h3>
	</div>
</div>
<div class="guige">
	<p><a href="javascript:void(0)" class="main">选择产品规格<i class="icon iconfont">&#xe615;</i></a></p>
</div>
<div class="teacher">
	<div class="main">
		<div class="teacImg"><img src="images/sp_05.png"></div>
		<h2 class="teacName">陈浩</h2>
		<p class="school">海尔路校区</p>
		<h3>教师介绍</h3>
		<p class="tea_tt">以下全部都是教师简介以下全部都是教师简介以下全部都是教师简介以下全部都是教师简介以下全部都是教师简介以下全部都是教师简介以下全部都是教师简介以下全部都是教师简介以下全部都是教师简介。</p>
		<h3>育人事迹</h3>
		<p class="tea_tt">以下全部都是教师简介以下全部都是教师简介以下全部都是教师简介以下全部都是教师简介以下全部都是教师简介以下全部都是教师简介以下全部都是教师简介以下全部都是教师简介以下全部都是教师简介。</p>
	</div>
</div>
<div class="introduce">
	<a href="#">查看该老师所有课程</a><a href="#">查看该老师所有评价</a>
	<div class="introMain">
		<div class="main">
			<h2>课程介绍</h2>
			<p>开课时间：2017.12.25</p>
			<p>开课节数：共15节</p>
			<p>开课时长：120分钟/节</p>
			<span>以下是课程大纲及详情</span>
		</div>
	</div>
</div>
<div class="intr">此商品已售罄</div>
<div class="shopping">
	<div class="main">
		<a href="javascript:void(0)">加入购物车</a><a href="javascript:void(0)">立即购买</a>
	</div>
</div>
<div class="fixed">
	<a href="#" class="fix_phone"><i class="icon iconfont">&#xe6bf;</i></a>
	<a href="#" class="fix_gwc"><i class="icon iconfont">&#xe617;</i><span>1</span></a>
</div>
<!-- 购物车弹窗 -->
<div class="bg">
	<div class="choice">
		<div class="choTop clearfix">
			<div class="main">
				<img src="images/sp_03.jpg" class="left">
				<div class="center left">
					<h3>[寒假课程报名]金石教育七年...</h3>
					<p>￥23~￥100</p>
				</div>
				<div class="right"><i class="icon iconfont">&#xe662;</i></div>
			</div>
		</div>
		<div class="choCenter">
			<div class="main">
				<h3>选择规格</h3>
				<a href="#" class="on">体验课1节</a><a href="#">课程定金</a>
			</div>
		</div>
		<div class="choBottom">
			<div class="main clearfix">
				<div class="left">
					<h3>购买数量：</h3>
					<p>剩余<span>20</span>件(每人限购<span>1</span>件)</p>
				</div>
				<div class="right">
					<a href="javascript:void(0)" val='1'  class="reduce num">-</a><span>1</span><a href="javascript:void(0)" class="plus num">+</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 领取商品券 -->
<div class="test_lay sp_quan">
	<div class="quan_box">
		<div class="main2">
			<h3>快来领取呦</h3>
			<ul>
				<li>
					<p class="sp_time">有效期至2017.06.15<span>满1000减200</span></p>
					<div class="clear on"><a href="#">
						<div class="left">
							<h1>200</h1>
							<p>RMB</p>
						</div>
						<div class="right">领取票券<i class="icon iconfont">&#xe615;</i></div>
					</a></div>
				</li>
				<li>
					<p class="sp_time">有效期至2017.06.15<span>满1000减200</span></p>
					<div class="clear"><a href="#">
						<div class="left">
							<h1>200</h1>
							<p>RMB</p>
						</div>
						<div class="right">领取票券<i class="icon iconfont">&#xe615;</i></div>
					</a></div>
				</li>
			</ul>
			<a href="javascript:void(0)" class="back">返回</a>
		</div>
	</div>
</div>

{include file="common/footer"}
<script type="text/javascript" src="__PUBLIC__/index/js/hc-mobile-nav.js"></script>

</body>
</html>