{include file="common/header"}

<body>
<div id="lessonList">
<div class="tab">
	<div class="main2">
		<ul>
			<li v-for="v in type" @click="typeLe(v.ID)">
          <a href="javascript:;" onclick="clickheader(this)">{{v.NAME}}
            <span ><i class="icon iconfont">&#xe65b;</i></span>
          </a>
      </li>
		</ul>
	</div>
</div>
<div class="lessonLi">
  <div class="main4">
	<ul>
		<li v-for="v in listBox"><a href="javascript:void(0)" @click="goupdate(v.ID)">
			<h3>{{v.NAME}}({{v.SEASONTYPE}})</h3>
			<p>{{v.CLASSINFOR}}</p>
      <p class="time">{{v.STARTTIME}} 至 {{v.ENDTIME}}</p>
      <div class="bot clearfix">
        <div><img :src="v.PIC"><span>{{v.TEACHERNAME}}</span></div>
        <h1><span>￥</span>{{v.PRICE}}</h1>
      </div>  
		</a></li>
	</ul>
  </div>
</div>

<!-- <div class="search"><i class="icon iconfont">&#xe614;</i></div> -->

<div id="sideNav">
      <div class="wrapper clearfix">
        <nav id="main-nav">
          <ul class="second-nav">
            <li v-for="(v,index) in products">
              <a href="#" class="vname">{{v.NAME}}</a>
              <ul>
              	<li v-for="t in products[index].SUBJECTID" onclick="grade(this)">
                  <a href="#">{{t.NAME}}</a>
                  <input type="hidden" name="" :value="v.ID" class="vid">
                  <input type="hidden" name="" :value="t.ID" class="tid">
                </li>
              </ul>
            </li>
          </ul>
        </nav>
        <a class="toggle"><img src="__PUBLIC__/index/images/less_02.png" @click="get()"></a>
      </div>
</div>
<!--< div class="lessSearch"><i class="icon iconfont">&#xe614;</i></div> -->
</div>


<script>
$(window).scroll(function(){

　　var scrollTop = $(this).scrollTop();
　　var scrollHeight = $(document).height();
　　var windowHeight = $(this).height();
　　if(scrollTop + windowHeight == scrollHeight){
　　 //nearbyData();//加载数据的函数
    //layer.open({type: 2});
    vue.$options.methods.nearbyData();
　　}
});


function clickheader(this0){
  $('.block').attr('class','');
  $(this0).find('span').addClass('block');
}
  
  var school=getcookie('school');
  var gradeId;
  var subjectId;
  var typeId;
  // var vname;
  // var tname;

function grade(list){
  vid=$(list).find('.vid').val();
  tid=$(list).find('.tid').val();
  gradeId=vid;
  subjectId=tid;
  //记录cookie
  /*vname=$(list).parent('ul').siblings('a').html();
  tname=$(list).children('a').html();
  console.log(vname);
  setcookie('gradeId',vname);
  setcookie('subjectId',tname);*/
  vue.grade();
}



 
var vue=new Vue({
  el:'#lessonList',
  data:{
    products:[],
    type:[],
    listBox:[],
    name:'<?php echo @$_GET['name']?>',
    page:'1',
    status:''
  },
  methods:{
    goupdate:function(id){
      window.location.href=baseurl+'?s=index/Lesson/lesson_show&id='+id;
    },
    grade:function(){
      this.$http.post(baseurl+'?s=index/Lesson/get_class',{'class':gradeId,'subject':subjectId,'school':school,'classtypeguid':typeId}).then(res=>{
        var val=eval('('+res.bodyText+')');
        this.listBox=val.slice(0,3);
      },res=>{
        console.log('请求失败,请检查Network!');
      })
    },
    typeLe:function(vid){
      typeId=vid;
      this.$http.post(baseurl+'?s=index/Lesson/get_class',{'classtypeguid':typeId,'school':school,'class':gradeId,'subject':subjectId}).then(res=>{
        this.listBox=eval('('+res.bodyText+')');
      },res=>{
        console.log('请求失败,请检查Network!');
      })
    },
    nearbyData:function(){
      layer.msg('加载中...',{time:1500},function(){
        if(this.status==2){
          layer.msg('没有更多数据了',{time:1500});
          return;
        }
        vue.page++;
        vue.$http.post(baseurl+'?s=index/Lesson/get_class',{'name':vue.name,'page':vue.page}).then(res=>{
          
          var val=eval('('+res.bodyText+')');
          vue.listBox=vue.listBox.concat(val);
          //console.log(vue.listBox);
          if(val==''){
            this.status=2;
            layer.msg('没有更多数据了',{time:1500});
            return;
          }
        },res=>{
          console.log('请求失败,请检查Network!');
        });
      });
    },
    get:function(){
        $(function(){
          var $nav = $('#main-nav');
          var $toggle = $('.toggle');
          var defaultData = {
            maxWidth: false,
            customToggle: $toggle,
            navTitle: '金石教育',
            levelTitles: true
          };
          // we'll store our temp stuff here
          var $clone = null;
          var data = {};
          // calling like this only for demo purposes
          const initNav = function(conf) {
            if ($clone) {
              // clear previous instance
              $clone.remove();
            }
            // remove old toggle click event
            $toggle.off('click');
            // make new copy
            $clone = $nav.clone();
            // remember data
            $.extend(data, conf);
            // call the plugin
            $clone.hcMobileNav($.extend({}, defaultData, data));
          }
          // run first demo
          initNav({});
          $('.actions').find('a').on('click', function(e) {
            e.preventDefault();
            var $this = $(this).addClass('active');
            var $siblings = $this.parent().siblings().children('a').removeClass('active');
            initNav(eval('(' + $this.data('demo') + ')'));
          });
          
          /*$('.second-nav .nav-close').click(function(){
              alert(111);
          })*/

        });
    }
  },
  created:function(){
    this.$http.post(baseurl+'?s=index/Lesson/index',{list:1}).then(res=>{
      this.products=eval('('+res.bodyText+')')['value'];
    },res=>{
       console.log('请求失败,请检查Network!');
    });
    this.$http.post(baseurl+'?s=index/Lesson/get_classtype').then(res=>{
      this.type=eval('('+res.bodyText+')');

    },res=>{
      console.log('请求失败,请检查Network!');
    });
    this.$http.post(baseurl+'?s=index/Lesson/get_class',{'name':this.name,'page':this.page}).then(res=>{
        var val=eval('('+res.bodyText+')');
        this.listBox=val;
    },res=>{
      console.log('请求失败,请检查Network!');
    });
  }
})
</script>

{include file="common/footer"}
<script type="text/javascript" src="__PUBLIC__/index/js/hc-mobile-nav.js"></script>


</body>
</html>