{include file="common/header"}

<body id="lessonList">
<div class="tab">
	<div class="main2">
		<ul>
			<li><a href="#">金石V课<span class="block"><i class="icon iconfont">&#xe65b;</i></span></a></li>
			<li><a href="#">金石拼课</a></li>
			<li><a href="#">金石1对1</a></li>
		</ul>
	</div>
</div>
<div class="lessonLi">
	<ul>
		<li><a href="#">
			<h1>基金班</h1>
			<span>Fund class</span>
			<h3>七年级语文</h3>
			<p>以教学大纲为主线</p>
			<p>综合梳理重要知识，构建系统学科框架</p>
		</a></li>
		<li><a href="#">
			<h1>培优班</h1>
			<span>Training class</span>
			<h3>七年级语文</h3>
			<p>以教学大纲为主线</p>
			<p>综合梳理重要知识，构建系统学科框架</p>
		</a></li>
		<li><a href="#">
			<h1>精英班</h1>
			<span>Elite class</span>
			<h3>七年级语文</h3>
			<p>以教学大纲为主线</p>
			<p>综合梳理重要知识，构建系统学科框架</p>
		</a></li>
	</ul>
</div>

<!-- <div class="search"><i class="icon iconfont">&#xe614;</i></div> -->

<div id="sideNav">
      <div class="wrapper clearfix">
        <nav id="main-nav">
          <ul class="second-nav">
            <li>
              <a href="#">四年级</a>
              <ul>
              	<li><a href="#">语文</a></li>
                <li><a href="#">数学</a></li>
                <li><a href="#">英语</a></li>
                <li><a href="#">政治</a></li>
                <li><a href="#">历史</a></li>
                <li><a href="#">地理</a></li>
                <li><a href="#">生物</a></li>
              </ul>
            </li>
            <li>
              <a href="#">五年级</a>
              <ul>
              	<li><a href="#">语文</a></li>
                <li><a href="#">数学</a></li>
                <li><a href="#">英语</a></li>
                <li><a href="#">政治</a></li>
                <li><a href="#">历史</a></li>
                <li><a href="#">地理</a></li>
                <li><a href="#">生物</a></li>
              </ul>
            </li>
            <li>
              <a href="#">六年级</a>
              <ul>
              	<li><a href="#">语文</a></li>
                <li><a href="#">数学</a></li>
                <li><a href="#">英语</a></li>
                <li><a href="#">政治</a></li>
                <li><a href="#">历史</a></li>
                <li><a href="#">地理</a></li>
                <li><a href="#">生物</a></li>
              </ul>
            </li>
            <li>
              <a href="#">七年级</a>
              <ul>
              	<li><a href="#">语文</a></li>
                <li><a href="#">数学</a></li>
                <li><a href="#">英语</a></li>
                <li><a href="#">政治</a></li>
                <li><a href="#">历史</a></li>
                <li><a href="#">地理</a></li>
                <li><a href="#">生物</a></li>
              </ul>
            </li>
            <li>
              <a href="#">八年级</a>
              <ul>
              	<li><a href="#">语文</a></li>
                <li><a href="#">数学</a></li>
                <li><a href="#">英语</a></li>
                <li><a href="#">政治</a></li>
                <li><a href="#">历史</a></li>
                <li><a href="#">地理</a></li>
                <li><a href="#">生物</a></li>
              </ul>
            </li>
            <li>
              <a href="#">九年级</a>
              <ul>
              	<li><a href="#">语文</a></li>
                <li><a href="#">数学</a></li>
                <li><a href="#">英语</a></li>
                <li><a href="#">政治</a></li>
                <li><a href="#">历史</a></li>
                <li><a href="#">地理</a></li>
                <li><a href="#">生物</a></li>
              </ul>
            </li>
            <li>
              <a href="#">高一</a>
              <ul>
              	<li><a href="#">语文</a></li>
                <li><a href="#">数学</a></li>
                <li><a href="#">英语</a></li>
                <li><a href="#">政治</a></li>
                <li><a href="#">历史</a></li>
                <li><a href="#">地理</a></li>
                <li><a href="#">生物</a></li>
              </ul>
            </li>
            <li>
              <a href="#">高二</a>
              <ul>
              	<li><a href="#">语文</a></li>
                <li><a href="#">数学</a></li>
                <li><a href="#">英语</a></li>
                <li><a href="#">政治</a></li>
                <li><a href="#">历史</a></li>
                <li><a href="#">地理</a></li>
                <li><a href="#">生物</a></li>
              </ul>
            </li>
            <li>
              <a href="#">高三</a>
              <ul>
              	<li><a href="#">语文</a></li>
                <li><a href="#">数学</a></li>
                <li><a href="#">英语</a></li>
                <li><a href="#">政治</a></li>
                <li><a href="#">历史</a></li>
                <li><a href="#">地理</a></li>
                <li><a href="#">生物</a></li>
              </ul>
            </li>
            <li>
              <a href="#">艺考</a>
              <ul>
              	<li><a href="#">语文</a></li>
                <li><a href="#">数学</a></li>
                <li><a href="#">英语</a></li>
                <li><a href="#">政治</a></li>
                <li><a href="#">历史</a></li>
                <li><a href="#">地理</a></li>
                <li><a href="#">生物</a></li>
              </ul>
            </li>
          </ul>
        </nav>
        <a class="toggle"><img src="__PUBLIC__/index/images/less_02.png"></a>
      </div>
</div>
<div class="lessSearch"><i class="icon iconfont">&#xe614;</i></div>
{include file="common/footer2"}
<script type="text/javascript" src="__PUBLIC__/index/js/hc-mobile-nav.js"></script>
<script>
var vue=new Vue({
  el:'#lessonList',
  data:{

  },
  methods:{

  },
  created:function(){
    this.$http.post().then(res=>{

    },res=>{

    })
  }
})
// $(function(){

// })

  $(function(){
    var $nav = $('#main-nav');
    var $toggle = $('.toggle');
    var defaultData = {
      maxWidth: false,
      customToggle: $toggle,
      navTitle: '金石教育',
      levelTitles: true
    };
    // we'll store our temp stuff here
    var $clone = null;
    var data = {};
    // calling like this only for demo purposes
    const initNav = function(conf) {
      if ($clone) {
        // clear previous instance
        $clone.remove();
      }
      // remove old toggle click event
      $toggle.off('click');
      // make new copy
      $clone = $nav.clone();
      // remember data
      $.extend(data, conf);
      // call the plugin
      $clone.hcMobileNav($.extend({}, defaultData, data));
    }
    // run first demo
    initNav({});
    $('.actions').find('a').on('click', function(e) {
      e.preventDefault();
      var $this = $(this).addClass('active');
      var $siblings = $this.parent().siblings().children('a').removeClass('active');
      initNav(eval('(' + $this.data('demo') + ')'));
    });
  });
</script>

</body>
</html>