{include file="common/header"}

<body>
<div id="back"><div class="main"><a href="javascript:history.back(-1)"><i class="icon iconfont">&#xe63b;</i></a></div></div>
<div class="about">
	<div class="aboutTop">
		<div class="main3">
			<p>金石教育是由青岛市教育局、青岛市民政局批准的教育机构。专攻1对1个性化教育、小班化金石V课、5人迷你型金石拼课，为中小学生提供专业的小升初、中高考辅导。</p>
		</div>
	</div>
	<div class="aboutBottom">
		<img src="__PUBLIC__/index/images/4-5_03.png">
		<p>www.jinshiedu.com</p>
		<p>2009-2017 © All rights Reserved</p>
		<h3>青岛金石教育科技股份有限公司</h3>
	</div>
</div>

{include file="common/footer"}
</body>
</html>