<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="Keywords" content="">
<meta name="Description" content="">
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
<meta content="telephone=no" name="format-detection" />
<meta content="email=no" name="format-detection" />
<title>金石教育微商城_关于我们</title>
<link href="http://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/reset.css">
<link rel="stylesheet" type="text/css" href="css/index.css">
<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.4&ak=s4u13aUZAj36D4XWMm52TexzlwGGg7GG"></script>
<script src="js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script src="http://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
</head>

<body>
<div class="about">
	<div class="aboutTop">
		<div class="main3">
			<p>金石教育是由青岛市教育局、青岛市民政局批准的教育机构。专攻1对1个性化教育、小班化金石V课、5人迷你型金石拼课，为中小学生提供专业的小升初、中高考辅导。</p>
		</div>
	</div>
	<div class="aboutBottom">
		<img src="images/4-5_03.png">
		<p>www.jinshiedu.net</p>
		<p>2009-2017 © All rights Reserved</p>
		<h3>青岛金石教育科技股份有限公司</h3>
	</div>
</div>

<script type="text/javascript" src="js/common2.js"></script>
</body>
</html>