{include file="common/header"}

<body>
<div class="mineBox">
	<div class="main">
		<div class="headImg">
			<img src="__PUBLIC__/index/images/cc_03.jpg" alt="">
		</div>
		<p>人生若永如初见</p>
	</div>
</div>
<ul class="mineLi">
	<li><a href="<?php echo BASE_URL;?>?s=index/center/my_order.html">
		我的订单<i class="icon iconfont">&#xe615;</i>
	</a></li>
	<li><a href="<?php echo BASE_URL;?>?s=index/center/my_coupon.html">
		优惠券<i class="icon iconfont">&#xe615;</i>
	</a></li>
	<li><a href="#">
		学习性格分析<i class="icon iconfont">&#xe615;</i>
	</a></li>
	<li><a href="<?php echo BASE_URL;?>?s=index/center/my_center.html">
		我的个人信息<i class="icon iconfont">&#xe615;</i>
	</a></li>
	<li><a href="#">
		意见反馈<i class="icon iconfont">&#xe615;</i>
	</a></li>
	<li><a href="#">
		关于金石教育<i class="icon iconfont">&#xe615;</i>
	</a></li>
</ul>


{include file="common/footer"}
</body>
</html>