{include file="common/header"}

<body>
<div class="pj" id="pj">
	<form action="">
		<textarea placeholder="写下您对老师的感受，对其他小伙伴帮助很大呦~" v-model="content"></textarea>
		<button type="submit" @click="get()">提交评价</button>
	</form>
</div>
{include file="common/footer"}
<script type="text/javascript">
var vue=new Vue({
	el:'#pj',
	data:{
		id:'1',
		content:''
	},
	methods:{
		get:function(){
			this.$http.post(baseurl+'?s=index/Center/eval',{'id':this.id}).then(res=>{
				var num=eval('('+res.bodyText+')');
				if(num==1){
					layer.msg('提交成功!',{time:1300});
				}else{
					location.reload();
				}
			},res=>{
				console.log('请求失败,请检查Network!');
			})
		}
	}
})
</script>
</body>
</html>