{include file="common/header"}

<body>
<div id="myCenter">
<div class="mineBox inforMa">
	<p class="infor"><a href="javascript:history.back(-1)" class="cancel">取消</a><a class="sure" @click="get()">确定</a></p>
	<div class="main">
		<div class="headImg">
			<img src="__PUBLIC__/index/images/cc_03.jpg" alt="">
		</div>
		<p>人生若永如初见</p>
	</div>
</div>
<div class="mationTop maInput">
	<ul>
		<li><input type="text" name="" readonly="readonly" v-model="campus"></li>
		<li><input type="number" name="" placeholder="手机号" v-model="phone"></li>
		<li><input type="text" name="" placeholder="家长姓名" v-model="parentName"></li>
		<li><input type="text" name="" placeholder="学生姓名" v-model="studentName"></li>
		<li><input type="text" name="" readonly="readonly" id="dateSelectorOne" placeholder="出生年月日"></li>
		<li><input type="text" name="" id="sex" readonly="readonly" placeholder="性别"></li>
		<li><input type="text" name="" placeholder="学校" v-model="school"></li>
		<li><input type="text" name="" readonly="readonly" id="grade" placeholder="年级"></li>
	</ul> 
</div>

<div class="selectLI selectInfor sex">
   <div class="">
       <p><span>选择性别</span><button type="submit" class="sure ensure">确定</button></p>
       <ul>
           <li><div class="main">
               <span>男</span>
               <input name="radio1" type="radio" form="hxForm">
           </div></li>
           <li><div class="main">
               <span>女</span>
               <input name="radio1" type="radio" form="hxForm">
           </div></li>
       </ul>
   </div>
</div>
<div class="selectLI selectInfor grade">
   <div class="">
       <p><span>选择年级</span><button type="submit" class="sure ensure">确定</button></p>
       <ul>
           <li v-for="v in products"><div class="main">
               <span>{{v.NAME}}</span>
               <input name="radio2" type="radio" form="hxForm">
           </div></li>
       </ul>
   </div>
</div>
</div>
{include file="common/footer2"}
<script type="text/javascript">

var vue=new Vue({
  el:'#myCenter',
  data:{
    id:'',
    img:'',
    name:'',
    campus:'海尔路校区',//校区
    phone:'13906413323',
    parentName:'柏大林',
    studentName:'柏小林',
    school:'青岛二中',
    products:''//年级
  },
  methods:{
    get:function(){
      var sex=$('#sex').val();
      var grade=$('#grade').val();
      var birthTime=$('#dateSelectorOne').val();
      this.$http.post(baseurl+'?s=index/center/mycenter',{'id':this.id,'phone':this.phone,'parentName':this.parentName,'studentName':this.studentName,'birthTime':birthTime,'sex':sex,'school':this.school,'grade':grade}).then(res=>{
        var num=eval('('+res.bodyText+')');
        if(num==1){
          layer.msg('保存成功！',{time:1500});
        }
      },res=>{
        console.log('请求失败,请检查Network!');
      })
    }
  },
  created:function(){
    this.$http.post(baseurl+'').then(res=>{
      var val=eval('('+res.bodyText+')');
      this.id=val['ID'];
      this.img=val['IMG'];
      this.name=val['NAME'];
      this.campus=val['CAMPUS'];
      this.phone=val['PHONE'];
      this.parentName=val['PARENTNAME'];
      this.studentName=val['STUDENTNAME'];
      this.school=val['SCHOOL'];
      $('#sex').val(val['SEX']);
      $('#grade').val(val['GRADE']);
    },res=>{
      console.log('请求失败,请检查Network!');
    });
    //年级
    this.$http.post(baseurl+'?s=admin/Lesson/school_classList').then(res=>{
      this.products=eval('('+res.bodyText+')')['value'];
      //console.log(this.products);
    },res=>{
      console.log('请求失败处理,请检查Network!');
    })

  }
})

new Mdate("dateSelectorOne");
</script>
</body>
</html>