{include file="common/header"}

<body  style="background:#FFF;">

<div class="yhq2Box">
<!-- <div class="yhq_box yhq2">
  <h3>校区票券</h3>
  <ul>
    <li>
      <div class="main2">
        <p class="sp_time">有效期至2017.06.15<span>满1000减200</span></p>
        <div class="clear on"><a href="#">
          <div class="left">
            <h1>200</h1>
            <p>RMB</p>
          </div>
          <div class="right"><span>使用票券</span><i class="icon iconfont">&#xe615;</i></div>
        </a></div>
        <p class="sp_time">每人仅限使用一张</p>
      </div>
    </li>
  </ul>
</div> -->
<div class="yhq_box yhq2">
  <h3>商城票券</h3>
    <ul>
      <template v-for="v in products">
      <!-- <li v-if="v.STATE === 1">
        <div class="main2">
          <p class="sp_time">有效期:{{v.STARTTIME}} 至 {{v.ENDTIME}}<span>满1000减200</span></p>
          <div class="clear on"><a href="#">
            <div class="left">
              <h1>{{v.PRICE}}</h1>
              <p>RMB</p>
            </div>
            <div class="right"><span>使用票券</span><i class="icon iconfont">&#xe615;</i></div>
          </a></div>
          <p class="sp_time">每人仅限使用一张</p>
        </div>
      </li> -->
      <li v-if="v.STATE === 2">
        <div class="main2">
          <p class="sp_time">有效期：{{v.STARTTIME}} 至 {{v.ENDTIME}}<span>满1000减{{v.PRICE}}</span></p>
          <div class="clear on"><a href="#">
            <div class="left">
              <h1>{{v.PRICE}}</h1>
              <p>RMB</p>
            </div>
            <div class="right"><span>已拥有票券</span></div>
          </a></div>
          <p class="sp_time">每人仅限使用一张</p>
        </div>
      </li>
      <li v-else-if="v.STATE===1">
        <div class="main2">
          <p class="sp_time">有效期：{{v.STARTTIME}} 至 {{v.ENDTIME}} <span>满1000减{{v.PRICE}}</span></p>
          <div class="clear on2"><a href="#">
            <div class="left">
              <h1>{{v.PRICE}}</h1>
              <p>RMB</p>
            </div>
            <div class="right"><span>已使用票券</span></div>
          </a></div>
          <p class="sp_time">每人仅限使用一张</p>
        </div>
      </li>
      <li v-else-if="v.STATE===3">
        <div class="main2">
          
          <div class="clear on2"><a href="#" class="active">
            <div class="left">
              <h1>{{v.PRICE}}</h1>
              <p>RMB</p>
            </div>
            <div class="right"><span>票券已过期</span></div>
          </a></div>
          
        </div>
      </li>
      
      </template>
    </ul>
</div>
</div>


<!-- <div class="test_lay sp_quan ewm">
  <div class="quan_box">
    <div class="main2">
      <img src="images/ewm_03.jpg">
      <p>请将二维码出示给老师<br>进行核对</p>
    </div>
  </div>
</div> -->
{include file="common/footer"}
<script type="text/javascript">
var vue=new Vue({
  el:'.yhq2Box',
  data:{
    userid:'1',
    products:[]
  },
  methods:{
   
  },
  created:function(){
    this.$http.post(baseurl+'?s=index/Center/my_coupon',{list:1,'userid':this.userid}).then(res=>{
       this.products=eval('('+res.bodyText+')');
    },res=>{
      console.log('请求失败,请检查Network!');
    })
  }
})
</script>
</body>
</html>