{include file="common/header"}

<body>
<div id="back"><div class="main"><a href="javascript:history.back(-1)"><i class="icon iconfont">&#xe63b;</i></a></div></div>
<div class="orderBox">
	<template v-for="(v,index) in curriculum">
		<!-- 待支付 -->
	<div class="cartBox pay myOrder" v-if="v.STATE === 1">
		<ul>
			<li v-for="(v,index) in curriculum[index]['GOODS']">
				<div class="topLi clearfix">
					<a href="#">
						<div class="main">
							<div class="orderImg left"><img src="__PUBLIC__/index/images/order_03.png" alt="" class="bq"><img :src="v.IMG"></div>
							<div class="left cartTxt">
								<h2>{{v.GOODSNAME}}</h2>
								<p>{{v.SCHOOLNAME}}丨{{v.TEACHERNAME}}</p>
								<p>课程定金 <span>×{{v.NUM}}</span><span class="price">￥{{v.PRICE}}</span></p>
							</div>
						</div>
					</a>
				</div>
			</li>
		</ul>
		<div class="zf">
			<h3>合计 <span>￥{{v.ALLPRICE}}</span><a href="#" @click="cancel(v.ORDERID)">取消订单</a><a href="#" style="color:#f00">付款</a></h3>
		</div>
	</div>
	<!-- 已付款 -->
	<div class="cartBox pay myOrder" v-else-if="v.STATE === 2">
		<ul>
			<li v-for="(v,index) in curriculum[index]['GOODS']">
				<div class="topLi clearfix">
					<a href="#">
						<div class="main">
							<div class="orderImg left"><img src="__PUBLIC__/index/images/order_11.png" alt="" class="bq"><img :src="v.IMG"></div>
							<div class="left cartTxt">
								<h2>{{v.GOODSNAME}}</h2>
								<p>{{v.SCHOOLNAME}}丨{{v.TEACHERNAME}}</p>
								<p>课程定金 <span>×{{v.NUM}}</span><span class="price">￥{{v.PRICE}}</span></p>
							</div>
						</div>
					</a>
				</div>
			</li>
		</ul>
		<div class="zf">
			<h3>合计 <span>￥{{v.ALLPRICE}}</span><a href="#" style="color:#f00">评价</a><a href="#">查看订单</a></h3>
		</div>
	</div>
	<!-- 待评价 -->
	<div class="cartBox pay myOrder" v-else-if="v.STATE === 5">
		<ul>
			<li v-for="(v,index) in curriculum[index]['GOODS']">
				<div class="topLi clearfix">
					<a href="#">
						<div class="main">
							<div class="orderImg left"><img src="__PUBLIC__/index/images/order_06.png" alt="" class="bq"><img :src="v.IMG"></div>
							<div class="left cartTxt">
								<h2>{{v.GOODSNAME}}</h2>
								<p>{{v.SCHOOLNAME}}丨{{v.TEACHERNAME}}</p>
								<p>课程定金 <span>×{{v.NUM}}</span><span class="price">￥{{v.PRICE}}</span></p>
							</div>
						</div>
					</a>
				</div>
			</li>
		</ul>
		<div class="zf">
			<h3>合计 <span>￥{{v.ALLPRICE}}</span><a href="#" style="color:#f00">评价</a><a href="#">查看订单</a></h3>
		</div>
	</div>
	<!-- 已取消 -->
	<div class="cartBox pay myOrder" v-else-if="v.STATE === 3">
		<ul>
			<li v-for="(v,index) in curriculum[index]['GOODS']">
				<div class="topLi clearfix">
					<a href="#">
						<div class="main">
							<div class="orderImg left"><img src="__PUBLIC__/index/images/order_10.png" alt="" class="bq"><img :src="v.IMG"></div>
							<div class="left cartTxt">
								<h2>{{v.GOODSNAME}}</h2>
								<p>{{v.SCHOOLNAME}}丨{{v.TEACHERNAME}}</p>
								<p>课程定金 <span>×{{v.NUM}}</span><span class="price">￥{{v.PRICE}}</span></p>
							</div>
						</div>
					</a>
				</div>
			</li>
		</ul>
		<div class="zf">
			<h3>合计 <span>￥{{v.ALLPRICE}}</span><a href="#" style="color:#f00" @click="remove(v.ORDERID,index)">删除</a></h3>
		</div>
	</div>
	<!-- 已删除 -->
	<div class="cartBox pay myOrder" v-else-if="v.STATE === 4">
		<ul>
			<li v-for="(v,index) in curriculum[index]['GOODS']">
				<div class="topLi clearfix">
					<a href="#">
						<div class="main">
							<div class="orderImg left"><img src="__PUBLIC__/index/images/order_12.png" alt="" class="bq"><img :src="v.IMG"></div>
							<div class="left cartTxt">
								<h2>{{v.GOODSNAME}}</h2>
								<p>{{v.SCHOOLNAME}}丨{{v.TEACHERNAME}}</p>
								<p>课程定金 <span>×{{v.NUM}}</span><span class="price">￥{{v.PRICE}}</span></p>
							</div>
						</div>
					</a>
				</div>
			</li>
		</ul>
		<div class="zf">
			<h3>合计 <span>￥{{v.ALLPRICE}}</span></h3>
		</div>
	</div>
	<!-- 已完成 -->
	<div class="cartBox pay myOrder" v-else-if="v.STATE === 6">
		<ul>
			<li v-for="(v,index) in curriculum[index]['GOODS']">
				<div class="topLi clearfix">
					<a href="#">
						<div class="main">
							<div class="orderImg left"><img src="__PUBLIC__/index/images/order_08.png" alt="" class="bq"><img :src="v.IMG"></div>
							<div class="left cartTxt">
								<h2>{{v.GOODSNAME}}</h2>
								<p>{{v.SCHOOLNAME}}丨{{v.TEACHERNAME}}</p>
								<p>课程定金 <span>×{{v.NUM}}</span><span class="price">￥{{v.PRICE}}</span></p>
							</div>
						</div>
					</a>
				</div>
			</li>
		</ul>
		<div class="zf">
			<h3>合计 <span>￥{{v.ALLPRICE}}</span></h3>
		</div>
	</div>
	</template>
	
</div>

{include file="common/footer"}
<script type="text/javascript">
var vue=new Vue({
	el:'.orderBox',
	data:{
		curriculum:[
			
		],
		userid:'1',
		orderid:'1'
	},
	methods:{
		//取消订单
		cancel:function(id){
			layer.open({
			    content: '确定要删除吗？',
			    btn: ['确认', '取消'],
			    yes: function(index){
					vue.$http.post(baseurl+'?s=index/Order/cancel_order',{'orderid':id}).then(res=>{
	                    var num=eval('('+res.bodyText+')');
	                    if(num==1){
	                        layer.msg('订单已取消！',{time:1500});
	                    }else{
	                        location.reload();
	                    }
	                },res=>{
	                    console.log('请求失败处理,请检查Network!');
	                })
					layer.close(index);
			    }
			  });

			/*layer.alert('确定要取消订单吗？',function(){
                vue.$http.post(baseurl+'?s=index/Order/cancel_order',{'id':id}).then(res=>{
                    var num=eval('('+res.bodyText+')');
                    if(num==1){
                        layer.msg('订单已取消！',{time:1500});
                        vue.curriculum.splice(arrid,1);
                    }else{
                        location.reload();
                    }
                },res=>{
                    console.log('请求失败处理,请检查Network!');
                })
            })*/
		},
		remove:function(id,arrid){
			layer.open({
			    content: '确定要删除吗？',
			    btn: ['确认', '取消'],
			    yes: function(index){
					vue.$http.post(baseurl+'?s=index/Order/cancel_order',{'orderid':id}).then(res=>{
	                    var num=eval('('+res.bodyText+')');
	                    if(num==1){
	                        layer.msg('订单已删除！',{time:1500});
	                        vue.curriculum.splice(arrid,1);
	                    }else{
	                        location.reload();
	                    }
	                },res=>{
	                    console.log('请求失败处理,请检查Network!');
	                })
					layer.close(index);
			    }
			});
		}
	},
	created:function(){
		this.$http.post(baseurl+'?s=index/Center/my_order',{list:1,'id':this.userid}).then(res=>{
			this.curriculum=eval('('+res.bodyText+')');
		},res=>{ 
			console.log('请求失败,请检查Network!');
		})
	}
}) 
</script>
</body>
</html>