{include file="common/header"}

<body>
<div id="back"><div class="main"><a href="javascript:history.back(-1)"><i class="icon iconfont">&#xe63b;</i></a></div></div>
<div class="orderBox">
	<template v-for="(v,index) in curriculum">
	<div class="cartBox pay myOrder">
		<ul>
			<li v-for="(v,index) in curriculum[index]">
				<div class="topLi clearfix">
					<a href="#">
						<div class="main">
							<div class="orderImg left"><img :src="v.status" alt=""><img :src="v.img" class="bq"></div>
							<div class="left cartTxt">
								<h2>{{v.title}}</h2>
								<p>{{v.campus}}丨{{v.teacherName}}</p>
								<p>课程定金 <span>×1</span><span class="price">￥{{v.price}}</span></p>
							</div>
						</div>
					</a>
				</div>
			</li>
		</ul>
		<div class="zf">
			<h3>合计 <span>￥300</span><a href="#">去支付</a></h3>
		</div>
	</div>
	</template>
	
</div>

{include file="common/footer"}
<script type="text/javascript">
var vue=new Vue({
	el:'.orderBox',
	data:{
		curriculum:[
			[
				{
					id:'',
					img:'__PUBLIC__/index/images/order_06.png',
					status:'__PUBLIC__/index/images/gw_03.jpg',
					title:'[寒假课程报名] 金石教育七年级语文基金班',
					campus:'海尔路校区',
					teacherName:'许向前',
					price:'299'
				},
				{
					id:'',
					img:'__PUBLIC__/index/images/order_06.png',
					status:'__PUBLIC__/index/images/gw_03.jpg',
					title:'[寒假课程报名] 金石教育七年级英语基金班',
					campus:'宁夏路校区',
					teacherName:'许向前',
					price:'399'
				},

			],
			[
				{
					id:'',
					img:'__PUBLIC__/index/images/order_06.png',
					status:'__PUBLIC__/index/images/gw_03.jpg',
					title:'[寒假课程报名] 金石教育七年级英语基金班',
					campus:'宁夏路校区',
					teacherName:'许向前',
					price:'199'
				}
			],
			[
				{
					id:'',
					img:'__PUBLIC__/index/images/order_06.png',
					status:'__PUBLIC__/index/images/gw_03.jpg',
					title:'[寒假课程报名] 金石教育七年级英语基金班',
					campus:'宁夏路校区',
					teacherName:'许向前',
					price:'99'
				}
			]
		],
		index:'',//数组下标
		userId:'',
		orderId:'',
		orderCode:'',
		payCode:'',
		allPrice:'',
		payTime:'',
		status:''

	},
	methods:{

	},
	created:function(){
		var index;
		for(var i=0;i<this.curriculum.length;i++){
			index=this.curriculum[i];
			console.log(index);
		}
		
		this.$http.post(baseurl+'').then(res=>{
			var val=eval('('+res.bodyText+')');//订单ID,商品ID,订单状态...
			this.curriculum=val; //1、整个二维数组
			//this.curriculum[index]=val[] //2、获得二维数组下标，接收每个数组的数据
			//3、赋值
			this.curriculum[index].id=val['ID'];
			this.curriculum[index].img=val['IMG'];
		},res=>{
			console.log('请求失败,请检查Network!');
		})
	}
}) 
</script>
</body>
</html>