<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="Keywords" content="">
<meta name="Description" content="">
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
<meta content="telephone=no" name="format-detection" />
<meta content="email=no" name="format-detection" />
<title>金石教育微商城_我的订单</title>
<link href="http://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/reset.css?v=1.0">
<link rel="stylesheet" type="text/css" href="css/index.css?v=1.0">
<link rel="stylesheet" href="css/sideNav.css?v=1.0">
<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.4&ak=s4u13aUZAj36D4XWMm52TexzlwGGg7GG"></script>
<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script src="http://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
</head>

<body>
<div class="orderBox">
	<div class="cartBox pay myOrder">
		<ul>
			<li>
				<div class="topLi clearfix">
					<a href="#">
						<div class="main">
							<div class="orderImg left"><img src="images/gw_03.jpg" alt=""><img src="images/order_03.png" class="bq"></div>
							<div class="left cartTxt">
								<h2>[寒假课程报名] 金石教育七年级语文基金班</h2>
								<p>海尔路校区丨许向前</p>
								<p>课程定金 <span>×1</span><span class="price">￥299</span></p>
							</div>
						</div>
					</a>
				</div>
			</li>
			<li>
				<div class="topLi clearfix">
					<a href="#">
						<div class="main">
							<div class="orderImg left"><img src="images/gw_03.jpg" alt=""><img src="images/order_06.png" class="bq"></div>
							<div class="left cartTxt">
								<h2>[寒假课程报名] 金石教育七年级语文基金班</h2>
								<p>海尔路校区丨许向前</p>
								<p>课程定金 <span>×1</span><span class="price">￥1</span></p>
							</div>
						</div>
					</a>
				</div>
			</li>
		</ul>
		<div class="zf">
			<h3>合计 <span>￥300</span><a href="#">去支付</a></h3>
		</div>
	</div>
	<div class="cartBox pay myOrder">
		<ul>
			<li>
				<div class="topLi clearfix">
					<a href="#">
						<div class="main">
							<div class="orderImg left"><img src="images/gw_03.jpg" alt=""><img src="images/order_08.png" class="bq"></div>
							<div class="left cartTxt">
								<h2>[寒假课程报名] 金石教育七年级语文基金班</h2>
								<p>海尔路校区丨许向前</p>
								<p>课程定金 <span>×1</span><span class="price">￥299</span></p>
							</div>
						</div>
					</a>
				</div>
			</li>
		</ul>
		<div class="zf">
			<h3>合计 <span>￥299</span><a href="#">已完成</a></h3>
		</div>
	</div>
	<div class="cartBox pay myOrder">
		<ul>
			<li>
				<div class="topLi clearfix">
					<a href="#">
						<div class="main">
							<div class="orderImg left"><img src="images/gw_03.jpg" alt=""><img src="images/order_10.png" class="bq"></div>
							<div class="left cartTxt">
								<h2>[寒假课程报名] 金石教育七年级语文基金班</h2>
								<p>海尔路校区丨许向前</p>
								<p>课程定金 <span>×1</span><span class="price">￥299</span></p>
							</div>
						</div>
					</a>
				</div>
			</li>
		</ul>
		<div class="zf">
			<h3>合计 <span>￥299</span></h3>
		</div>
	</div>
</div>

<div class="fixedNav">
	<div class="main">
		<ul>
			<li><a href="">
				<i class="icon iconfont">&#xe65e;</i>
				<p>首页</p>
			</a></li>
			<li><a href="">
				<i class="icon iconfont">&#xe626;</i>
				<p>课程</p>
			</a></li>
			<li><a href="">
				<i class="icon iconfont">&#xe617;</i>
				<p>购物车</p>
			</a></li>
			<li><a href="" class="active">
				<i class="icon iconfont">&#xe638;</i>
				<p>我的</p>
			</a></li>
		</ul>
	</div>
</div>
<script type="text/javascript" src="js/common2.js"></script>
</body>
</html>