{include file="common/header"}

<body>
<div id="back"><div class="main"><a href="javascript:history.back(-1)"><i class="icon iconfont">&#xe63b;</i></a></div></div>
<div id="detail">
<template v-for="(v,index) in curriculum">
<!-- 已付款 -->
<div v-if="v.STATE === 2">
<div class="orderLi">
		<p>订单编号：<span>{{did}}</span></p>
		<p>下单时间：<span>{{time}}</span></p>
		<!-- <p>买家详情：<span>{{name}}</span> &nbsp;&nbsp;&nbsp;<span>{{phone}}</span></p> -->
</div>
<div class="cart" id="payBox">
	<div class="cartBox pay">
		<ul>
			<li v-for="(v,index) in curriculum[index]['GOODS']">
				<div class="topLi clearfix">
					<a href="javascript:void(0)">
						<div class="main">
							<img :src="v.IMG" alt="" class="left">
							<div class="left cartTxt">
								<h2>{{v.GOODSNAME}}</h2>
								<p>{{v.SCHOOLNAME}}丨{{v.TEACHERNAME}}</p>
								<p>课程定金</p>
							</div>
						</div>
					</a>
				</div>
				<div class="botLi main">
					<h3>￥<span style="margin:0;color:red">{{v.PRICE}}</span></h3>
					<div class="right">×<span>{{v.NUM}}</span></div>
				</div>
			</li>
			
		</ul>
	</div>
</div>
<div class="discount detail">
	<ul>
		<li id="allMoney">
			<div class="main">
				<h2>课程金额<span>￥0</span></h2>
			</div>
		</li>
		<li>
			<div class="main">
				<h2>优惠金额<span>-￥<span id="yh">200</span></span></h2>
			</div>
		</li>
		<li>
			<div class="main">
				<h2>总价<span id="allPrice">￥1099</span></h2>
			</div>
		</li>
		<li>
			<div class="main">
				<p>付款时间：2017.12.25 23:25:18</p>
			</div>
		</li>
		<li>
			<div class="main">
				<h2><a href="javascript:void(0)" style="color: #333;text-align: center;display: block;">立即评价</a></h2>
			</div>
		</li> 
	</ul>
	<!-- <div class="btn">
		<a href="javascript:void(0)" @click="cancel(v.ORDERID)">取消订单</a><a href="javascript:void(0)">立即支付</a>
	</div> -->
</div>
</div>
<!-- 已取消 -->
<div v-if="v.STATE === 3">
<div class="orderLi">
		<p>订单编号：<span>{{did}}</span></p>
		<p>下单时间：<span>{{time}}</span></p>
		<!-- <p>买家详情：<span>{{name}}</span> &nbsp;&nbsp;&nbsp;<span>{{phone}}</span></p> -->
</div>
<div class="cart" id="payBox">
	<div class="cartBox pay">
		<ul>
			<li v-for="(v,index) in curriculum[index]['GOODS']">
				<div class="topLi clearfix">
					<a href="javascript:void(0)">
						<div class="main">
							<img :src="v.IMG" alt="" class="left">
							<div class="left cartTxt">
								<h2>{{v.GOODSNAME}}</h2>
								<p>{{v.SCHOOLNAME}}丨{{v.TEACHERNAME}}</p>
								<p>课程定金</p>
							</div>
						</div>
					</a>
				</div>
				<div class="botLi main">
					<h3>￥<span style="margin:0;color:red">{{v.PRICE}}</span></h3>
					<div class="right">×<span>{{v.NUM}}</span></div>
				</div>
			</li>
			
		</ul>
	</div>
</div>
<div class="discount detail">
	<ul>
		<li id="allMoney">
			<div class="main">
				<h2>课程金额<span>￥0</span></h2>
			</div>
		</li>
		<li>
			<div class="main">
				<h2>优惠金额<span>-￥<span id="yh">200</span></span></h2>
			</div>
		</li>
		<li>
			<div class="main">
				<h2>总价<span id="allPrice">￥{{v.ALLPRICE}}</span></h2>
			</div>
		</li>
		<li>
			<div class="main">
				<h2><a href="javascript:void(0)" style="color: #F00	;text-align: center;display: block;">订单已取消</a></h2>
			</div>
		</li> 
	</ul>
	<!-- <div class="btn">
		<a href="javascript:void(0)" @click="cancel(v.ORDERID)">取消订单</a><a href="javascript:void(0)">立即支付</a>
	</div> -->
</div>
</div>
<!-- 待付款 -->
<div v-if="v.STATE === 1">
<div class="orderLi">
		<p>订单编号：<span>{{did}}</span></p>
		<p>下单时间：<span>{{time}}</span></p>
		<!-- <p>买家详情：<span>{{name}}</span> &nbsp;&nbsp;&nbsp;<span>{{phone}}</span></p> -->
</div>
<div class="cart" id="payBox">
	<div class="cartBox pay">
		<ul>
			<li v-for="(v,index) in curriculum[index]['GOODS']">
				<div class="topLi clearfix">
					<a href="javascript:void(0)">
						<div class="main">
							<img :src="v.IMG" alt="" class="left">
							<div class="left cartTxt">
								<h2>{{v.GOODSNAME}}</h2>
								<p>{{v.SCHOOLNAME}}丨{{v.TEACHERNAME}}</p>
								<p>课程定金</p>
							</div>
						</div>
					</a>
				</div>
				<div class="botLi main">
					<h3>￥<span style="margin:0;color:red">{{v.PRICE}}</span></h3>
					<div class="right">×<span>{{v.NUM}}</span></div>
				</div>
			</li>
			
		</ul>
	</div>
</div>
<div class="discount detail">
	<ul>
		<li id="allMoney">
			<div class="main">
				<h2>课程金额<span>￥0</span></h2>
			</div>
		</li>
		<li>
			<div class="main">
				<h2>优惠金额<span>-￥<span id="yh">200</span></span></h2>
			</div>
		</li>
		<li>
			<div class="main">
				<h2>总价<span id="allPrice">￥{{v.ALLPRICE}}</span></h2>
			</div>
		</li> 
	</ul>
	<div class="btn">
		<a href="javascript:void(0)" @click="cancel(v.ORDERID)">取消订单</a><a href="javascript:void(0)">立即支付</a>
	</div>
</div>
</div>
</template>
</div>

{include file="common/footer"}
<script type="text/javascript">
	var vue=new Vue({
		el:'#detail',
		data:{
			userid:'1',
			orderid:'<?php echo @$_GET['id']?>',
			did:'1542368774',
			time:'2018.10.22 09:56:18',
			/*name:'许向前',
			phone:'13954687745',*/
			curriculum:[],
			
		},
		methods:{
			//取消订单
			cancel:function(id){
				layer.open({
				    content: '确定要删除吗？',
				    btn: ['确认', '取消'],
				    yes: function(index){
						vue.$http.post(baseurl+'?s=index/Order/cancel_order',{'orderid':id}).then(res=>{
		                    var num=eval('('+res.bodyText+')');
		                    if(num==1){
		                        layer.msg('订单已取消！',{time:1500});
		                    }else{
		                        location.reload();
		                    }  
		                },res=>{
		                    console.log('请求失败处理,请检查Network!');
		                })
						layer.close(index);
				    }
				  });
			},
			
		},
		created:function(){
			this.$http.post(baseurl+'?s=index/Center/my_order',{list:1,'orderid':this.orderid,'userid':this.userid}).then(res=>{
				this.curriculum=eval('('+res.bodyText+')');
			},res=>{
				console.log('请求失败,请检查Network!');
			})
		}
	})
</script>
</body>
</html>