{include file="public/header"}	
<div class="content" id="update">
	<div class="rightBox">
		<div class="main">
			<div class="seach_tigs" id="edit">
				<h3>新增课程</h3>
	            
	                <ul class="clearfix">
                        <li>
                            <label class="seach-label">
                                <span>*</span>课程名称：
                            </label>
                            <input type="text" name="" v-model="name" class="form-control">
                        </li>
                        
                        <li>
                            <label class="seach-label">
                                <span>*</span>所属校区：
                            </label>
                            <select class="form-control input-median" text="true" name="province_id"
                                    id="province_id" selectedindex="2" v-model="province"></select>
                            <select class="form-control input-median" text="true" name="city_id" id="city_id" v-model="city"></select>
                            <select class="form-control input-median" text="true" name="district_id" id="district_id"   @change="choose()" v-model="area">
                            </select>
                            
                        </li>
                        <li> 
                            <label class="seach-label">
                                <span>*</span>校区地址：
                            </label>
                            <input type="text" name="" v-model="school_address" class="form-control">
                        </li>
                        <li class="seach"><input type="submit" name="" value="确认" @click="get();"></li>
                    </ul>
                
            </div>

		</div>
	</div>
</div>



{include file="public/footer"}
<script src="http://bm.jinshiedu.net/Public/Plugins/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript">
    showLocation();
    CheckProvince('');
    CheckCity('');
    CheckTown('');
var baseurl="<?php echo BASE_URL;?>";
new Vue({
	el:'#update',
	data:{
		name:'',
		school_address:'',
		province:'',
        city:'',
        area:'',
        school_name:[]
	},
	methods:{
		get:function(){
			this.$http.post(baseurl+'?s=admin/Lesson/add_school',{
				'name':this.name,
				'school_address':this.school_address
			}).then(res=>{
				console.log(res);
			},res=>{
				console.log('请求失败处理,请检查Network!');
			})
		}，
		choose:function(){
            this.$http.post(baseurl+'?s=admin/Lesson/get_school',{
                'province':this.province,
                'city':this.city,
                'area':this.area}).then(res=>{
                    console.log(res);
                    this.school_name=eval('('+res.bodyText+')');

                },res=>{
                    console.log('请求失败处理,请检查Network!');
                })
            
          },
	}
})

</script>

</body>
</html>