{include file="public/header"}	
<div class="content" id="update">
	<div class="rightBox">
		<div class="main">
			<div class="seach_tigs" id="edit">
				<h3>新增校区</h3>
	            
	                <ul class="clearfix">
                        <li>
                            <label class="seach-label">
                                <span>*</span>校区名称：
                            </label>
                            <input type="text" name="" v-model="name" class="form-control">
                            <input type="hidden" name="" v-model="id" class="form-control">
                        </li>
                        <li>
                            <label class="seach-label">
                                <span>*</span>校区电话：
                            </label>
                            <input type="text" name="" v-model="phone" class="form-control">
                        </li>
                        <li>
                            <label class="seach-label">
                                <span>*</span>所属校区：
                            </label>
                            <select class="form-control input-median" text="true" name="province_id"
                                    id="province_id" v-model="province">
                            </select>
                            <select class="form-control input-median" text="true" name="city_id" id="city_id" v-model="city">
                            </select>
                            <select class="form-control input-median" text="true" name="district_id" id="district_id" v-model="area">
                            </select>
                        </li>
                        <li> 
                            <label class="seach-label">
                                <span>*</span>校区地址：
                            </label>
                            <input type="text" name="" v-model="school_address" class="form-control">
                        </li>
                        <li class="seach"><input type="submit" name="" value="确认" @click="get();"> <a href="javascript:history.back(-1)" id="back">返回</a></li>
                    </ul>
                
            </div>

		</div>
	</div>
</div>

{include file="public/footer"}
<script type="text/javascript">
var vue=new Vue({
	el:'#update',
	data:{
		name:'',
        phone:'',
		school_address:'',
		province:'',
        city:'',
        area:'',
        id:'<?php echo @$_GET['id']?>'     
	},
	methods:{
		get:function(){
            //console.log(data);
            if(!this.name){
                layer.alert('姓名不能为空！');
                return;
            }
            if(!this.phone){
                layer.alert('电话不能为空！');
                return;
            }
            if(!this.province){
                layer.alert('省份不能为空！');
                return;
            }
            if(!this.city){
                layer.alert('地级市不能为空！');
                return;
            }
            if(!this.area){
                layer.alert('市、县、区不能为空！');
                return;
            }
            if(!this.school_address){
                layer.alert('校区地址不能为空！');
                return;
            }
			this.$http.post(baseurl+'?s=admin/Lesson/add_school',{
				'name':this.name,
                'phone':this.phone,
				'school_address':this.school_address,
                'province':this.province,
                'city':this.city,
                'area':this.area,
                'id':this.id
			}).then(res=>{
				if (res.bodyText==1) {
                    layer.msg('保存成功！',function(){
                        window.history.go(-1);
                    });  
                }
			},res=>{
				console.log('请求失败处理,请检查Network!');
			})
		}

	},
    created:function(){
        if (!this.id) {return;}
        this.$http.post(baseurl+'?s=admin/Lesson/get_schoollist',{
        'id':this.id
        }).then(res=>{
            var val=eval('('+res.bodyText+')')['value'][0];
            this.name=val['SCHOOL_NAME'];
            this.phone=val['PHONE'];
            this.school_address=val['ADDRESS'];
            this.province=val['PROVINCE'];
            this.city=val['CITY'];
            this.area=val['AREA'];
        },res=>{
            console.log('请求失败处理,请检查Network!');
        })
    }
})

</script>

</body>
</html>