{include file="public/header"}
<style type="text/css">
	table thead tr th:last-child{
		width:100px;
	}
	.tableBox tr td:last-child{
		width:auto;
		font-size: 14px;
	}
</style>

<div class="content" id="list">
	<div class="rightBox">
		<div class="main">
			<h3>课程列表</h3>
			<div class="topBtns">
				<a href="<?php echo BASE_URL;?>?s=admin/lesson/lesson_edit.html">新增课程</a>
				<a href="#">批量上传</a>
				<a href="#">zip模板</a>
			</div>

			<div class="seach_tigs">
	            <form id="form1" method="" action="">
	                <ul class="clearfix">
                        <li>
                            <label class="seach-label">
                                课程名称：
                            </label>
                            <input type="text" name="" value="" placeholder="请输入课程名称" class="form-control" v-model="name">
                        </li>
                        <li>
                            <label class="seach-label">
                                课程编号：
                            </label>
                            <input type="text" name="" value="" placeholder="请输入课程编号" class="form-control" v-model="code">
                        </li>
                        <li class="right">
                            <label class="seach-label">
                                显示状态：
                            </label>
                            <select class="form-control" name="">
                                <option value="">请选择</option>
                                <option  value="1">显示</option>
                                <option  value="2">隐藏</option>
                            </select>
                        </li>
                        <li style="width:52%">
                            <label class="seach-label">
                                所属校区：
                            </label>
                            <select class="form-control input-median" text="true" name="" id="province_id" v-model="province">
                            </select>
                            <select class="form-control input-median" text="true" name="" id="city_id" v-model="city">
                            </select>
                            <select class="form-control input-median" text="true" name="" id="district_id" v-model="area" @change="choose();">
                            </select>
                            <select class="form-control input-median" name="" id="school_id" v-model="school_name2">
                                <option value="">请选择校区</option>
                                 <option v-for="schoolName in school_name">{{schoolName.SCHOOL_NAME}}</option>
                            </select>
                        </li>
                        <li class="right">
                            <label class="seach-label">
                                所属课堂：
                            </label>
                            <select class="form-control" name="type" v-model="lessonType2">
                                <option value="">请选择课堂</option>
                                <option :value="t.value" v-for="t in lessonType">{{t.label}}</option>
                            </select>
                        </li>
                        <li style="width:52%;">
                            <label class="seach-label">
                                年级科目：
                            </label>
                            <select class="form-control" name="grade_id" style="width:40%" v-model="grade2">
                                <option value="">请选择年级</option>
                                <option :value="t.value" v-for="t in grade">{{t.label}}</option>
                            </select>
                            <select class="form-control" name="subject_id" id="subject_id" style="width:40%" v-model="subjects2">
                                <option value="">请选择科目</option>
                                <option :value="t.value" v-for="t in subjects">{{t.label}}</option>
                            </select>
                        </li>
                        
                        
                        <li class="right">
                            <label class="seach-label">
                                关联老师：
                            </label>
                            <select class="form-control" name="teacher_id" id="teacher_id" v-model="teacher2">
                                <option value="">请选择</option>
                                <option :value="t.value" v-for="t in teacher">{{t.label}}</option>                                  
                            </select>
                        </li>
                    </ul>
	                <div class="seach">
	                    <input type="button" name="" value="搜索" @click="get()">
	                </div>
	            	
	            </form>
	        </div>

	        <table class="tableBox">
                    <thead>
                        <tr>
                            <th>选择</th>
                            <th>课程名称</th>
                            <th>课程编号</th>
                            <th>价格</th>
                            <th>所属校区</th>
                            <th>课堂类型</th>
                            <th>年级科目</th>
                            <th>关联教师</th>
                            <th>教师头像</th>
                            <th>添加时间</th>
                            <th>排序</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="storeList">
                        <tr v-for="t in products">
                                <td><input type="checkbox" name="" class="check_one" :value="t.ID" /></td>
                                <td>{{t.NAME}}</td> <!--九年级数学基金班[秋]--> 
                                <td>{{t.code}}</td> <!--20182744-->
                                <td style="color:red">&yen;{{t.price}}</td><!--1.00~200.00-->
                                <td>{{t.school_name2}}</td><!--南京鼓楼校区-->
                                <td>{{t.lessonType2}}</td><!--金石V课-->
                                <td>{{t.grade2}}{{t.subjects2}}</td><!--九年级数学-->
                                <td>{{t.teacher2}}</td><!--宋昂-->
                                <td><img :src="t.teacherImg" height="60"></td><!--img-->
                                <td width="105"></td>
                                <td>0</td>
                                <td>显示</td>
                                <td>
                                <a href="<?php echo BASE_URL;?>?s=admin/lesson/lesson_edit.html">编辑</a><br><a href="#">复制详情</a>
                                </td>
                            </tr>        
                        </tbody>
                </table>
                <div class="topBtns1">
	                <a href="javascript:;" onclick="selectAll()">全选</a>
		            <a href="javascript:;" onclick="uselectAll()">反选</a>
		            <a href="javascript:;" onclick="hideAll()">批量隐藏</a>
	            </div>
              
		</div>
	</div>
</div>
<div class="page">
    <ul class="clearfix pageonload" v-html="html">
       {{html}}
    </ul>
</div>

{include file="public/footer"}
<script type="text/javascript" src="__PUBLIC__/admin/js/page.js"></script>
<script type="text/javascript">
    var vue=new Vue({
        el:'#list',
        data:{
            name:'',
            code:'',
            province:'',
            city:'',
            area:'',
            school_name2:'',
            school_name:[],
            lessonType2:'',
            lessonType:[
                {value:'金石V课',label:'金石V课'},
                {value:'金石拼课',label:'金石拼课'},
                {value:'金石一对一',label:'金石一对一'}
            ],
            grade2:'',
            grade:[
                {value:'高三',label:'高三'},
                {value:'高二',label:'高二'},
                {value:'高一',label:'高一'},
                {value:'九年级',label:'九年级'},
                {value:'八年级',label:'八年级'},
                {value:'七年级',label:'七年级'},
                {value:'六年级',label:'六年级'},
                {value:'五年级',label:'五年级'},
                {value:'四年级',label:'四年级'},
                {value:'三年级',label:'三年级'},
                {value:'二年级',label:'二年级'},
                {value:'一年级',label:'一年级'}
            ],//年级
            subjects2:'',
            subjects:[
                {value:'化学',label:'化学'},
                {value:'物理',label:'物理'},
                {value:'生物',label:'生物'},
                {value:'地理',label:'地理'},
                {value:'政治',label:'政治'},
                {value:'英语',label:'英语'},
                {value:'数学',label:'数学'},
                {value:'语文',label:'语文'}
            ],//科目
            teacher2:'',
            teacher:[
                {value:'慕承和',label:'慕承和'},
                {value:'薛桐',label:'薛桐'},
                {value:'柏林',label:'柏林'},
                {value:'胡歌',label:'胡歌'}
            ],//老师
            price:'',
            teacherImg:'',
            products:[]
        },
        methods:{
            get:function(){
                this.$http.post(baseurl+'?s=admin/Lesson/subject_list',{where:{'name':this.name,'code':this.code,'province':this.province,'city':this.city,'area':this.area,'school_name2':this.school_name2,'lessonType2':this.lessonType2,'grade2':this.grade2,'subjects2':this.subjects2,'teacher2':this.teacher2}}).then(res=>{
                    page.where={'name':this.name,'code':this.code,'province':this.province,'city':this.city,'area':this.area,'school_name2':this.school_name2,'lessonType2':this.lessonType2,'grade2':this.grade2,'subjects2':this.subjects2,'teacher2':this.teacher2};
                        var val=eval('('+res.bodyText+')');
                        this.products=val['value'];
                        console.log(this.products);
                        //给分页组件传入总页数
                        page.htmlPage(val['allCount']);
                },res=>{
                    console.log('请求失败处理,请检查Network!');
                })
            },
            choose:function(){
                this.$http.post(baseurl+'?s=admin/Lesson/get_school',{
                'province':this.province,
                'city':this.city,
                'area':this.area}).then(res=>{
                    console.log(res);
                    this.school_name=eval('('+res.bodyText+')');
                },res=>{
                    console.log('请求失败处理,请检查Network!');
                })
            } 
        },
        created:function(){
            page.url='admin/Lesson/subject_list';
            page.onload();
        }
    })
/********************************************************************/
    showLocation();
    CheckProvince('');
    CheckCity('');
    CheckTown('');
     /**
     **********批量隐藏*************************
    **/
    function hideAll(){
        if($('.check_one:checked').length < 1){
            layer.msg('您还未勾选任何项');
            return false;
        }
        layer.confirm('确定要批量隐藏选中的项吗?',function(){
            var ids = [];
            $('.check_one:checked').each(function(){
                ids.push($(this).val());
            });
            ids = ids.join(',');
            var url = '/admin/teacher/hideAll';
            $.post(url,{'ids':ids},function(data){
                if(data.status == 1){
                    layer.msg(data.info);
                }else{
                    location.reload();
                }
            },'JSON');
        });
    }

/*******************浏览器******************************/  
var isChrome = window.navigator.userAgent.indexOf("Chrome") !== -1;
(function() {
    if (!isChrome) {
        $("#is_chrome").html("为了更好的使用效果请使用Chrome浏览器");
    }
})();
</script>
</body>
</html>