{include file="public/header"}
<!-- 配置文件 -->
<script type="text/javascript" src="utf8-php/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="utf8-php/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue = UE.getEditor('container');
</script>

<div class="content" id="lessonEdit">
	<div class="rightBox">
		<div class="main">
			
			<div class="seach_tigs" id="edit">
				<h3>修改课程</h3>
	            
	                <ul class="clearfix">
                        <li>
                            <label class="seach-label">
                                <span>*</span>课程名称：
                            </label>
                            <input type="text" name="" value="" class="form-control" v-model="name">
                        </li>
                        <li>
                            <label class="seach-label">
                                <span>*</span>课程编号：
                            </label>
                            <input type="text" name="" value="" class="form-control" v-model="code">
                        </li>
                        <li>
                        	<label class="seach-label">
                                <span>*</span>课程图片：
                            </label>
	                        <div class="file_top">
	                            <span>点击选择图片</span>
	                            <input type="file" name="" id="file"  v-model="img">
                            </div>
                            <div class="fileBox"><p>建议上传图片的尺寸比例为1:1，大小不超过1M</p>
                            <img src="images/1.jpg" height="100"></div>
                        </li>
                        <li>
                            <label class="seach-label">
                                <span>*</span>所属校区：
                            </label>
                            <select class="form-control input-median" text="true" name="" id="province_id" v-model="province_id">
                            </select>
                            <select class="form-control input-median" text="true" name="" id="city_id" v-model="city_id">
                            </select>
                            <select class="form-control input-median" text="true" name="" id="area" v-model="area" @change="choose()">
                            </select>
                            <select class="form-control input-median" name="" id="school_id" v-model='school_id'>
                                <option value="">请选择校区</option>
                                <option v-for='t in school_name' :value="t.ID">{{t.SCHOOL_NAME}}</option>
                            </select>
                        </li>
                        <li>
                        	<label class="seach-label">
                                <span>*</span>课堂类型：
                            </label>
                            <select class="form-control" name="type" v-model="lessonType2">
                                <option value="">请选择课堂</option>
                                <option :value="t.value" v-for="t in lessonType" name="selectId">{{t.label}}</option>
                            </select>
                        </li>
                        <li>
                            <label class="seach-label">
                                <span>*</span>班型：
                            </label>
                            <select class="form-control" name="type" v-model="classType2">
                                <option value="">请选择班型</option>
                                <option :value="t.value" v-for="t in classType">{{t.label}}</option>
                            </select>
                        </li>
                        <li>
                            <label class="seach-label">
                                <span>*</span>学期：
                            </label>
                            <input type="text" name="" value="" class="form-control" v-model="semester">
                        </li>
                        <li>
                        	<label class="seach-label">
                                <span>*</span>选择年级科目：
                            </label>
                        	<select name="grade_id" class="form-control input-xlarge" id="grade_id" v-model="grade2">
		                        <option value="">请选择年级</option>
		                        <option :value="t.ID" v-for="t in grade">{{t.NAME}}</option>
		                        
	                        </select>
	                    	<select name="subject_id" id="subject_id" class="form-control input-xlarge" v-model="subjects2">
		                        <option value="">请选择科目</option>
		                        <option :value="t.ID" v-for="t in subjects">{{t.NAME}}</option>
		                        
	                        </select>
                        </li>
                        <li>
                        	<label class="seach-label">
                                <span>*</span>选择老师：
                            </label>
                            <select class="form-control" name="type" v-model="teacher2">
                                <option value="">请选择老师</option>
                                <option :value="t.ID" v-for="t in teacher">{{t.NAME}}</option>
                            </select>
                        </li>
                        
                        <li>
                        	<label class="seach-label">
                                <span>*</span>开课时间：
                            </label>
                        	<input class="form-control input-xlarge" id="test5" type="text"> 至
                        	<input class="form-control input-xlarge" id="test4" type="text">
                        </li>
                        <li>
                        	<label class="seach-label">
                                <span>*</span>课程节数：
                            </label>
                            <input type="number" name="" value="" class="form-control" v-model="lessonNum">
                        </li>
                        <li>
                        	<label class="seach-label">
                                <span>*</span>课程时长：
                            </label>
                            <input type="number" name="" value="" class="form-control" v-model="lessonTime">
                        </li>
                        <li>
                        	<label class="seach-label">
                                <span>*</span>课程详情：
                            </label>

                            <style>
                            	#edui1{width:100%;}
                            </style>
                            <!-- 加载编辑器的容器 -->
                            <textarea id="container" style="width:900px;margin-left:137px;margin-top:-23px;"  v-model="intro">
                                
                            </textarea> 
	
                        </li>
                        <li>
                        	<label class="seach-label">
                                排序：
                            </label>
                            <input type="number" name="" value="" class="form-control" v-model="num">
                        </li>
                        
                        <li class="seach"><input type="submit" name="" value="确认" @click="get()"><a href="javascript:history.back(-1)" id="back">返回</a></li>
                    </ul>
                
            </div>

		</div>
	</div>
</div>

{include file="public/footer"}
<script src="__PUBLIC__/admin/js/laydate.js"></script>
<script type="text/javascript">

laydate.render({
  elem: '#test5',
  type: 'datetime'
});
laydate.render({
  elem: '#test4',
  type: 'datetime'
});


var vue=new Vue({
    el:'#lessonEdit',
    data:{
        name:'',//课程名称
        code:'',//编号
        img:'',//图片
        province:'',//省
        city:'',//市
        area:'',//区
        school_name:[],//校区名
        lessonType2:'',
        lessonType:[
            {value:'金石V课',label:'金石V课'},
            {value:'金石拼课',label:'金石拼课'},
            {value:'金石1对1',label:'金石1对1'}
        ],//课堂类型
        classType2:'',
        classType:[
            {value:'班型1',label:'班型1'},
            {value:'班型2',label:'班型2'},
            {value:'班型3',label:'班型3'}
        ],//班型
        semester:'',//学期
        grade2:'',
        grade:[
            
        ],//年级
        subjects2:'',
        subjects:[
            
        ],//科目
        teacher2:'',
        teacher:[
            
        ],//老师
        
        lessonNum:'',//课程节数
        lessonTime:'',//课程时长
        intro:'',//课程详情
        num:'',//序号
        id:'<?php echo @$_GET['id']?>'
    },
    methods:{
        get:function(){
            var startTime=$('#test5').val();
            var endTime=$('#test4').val();
            var intro=ue.getContent();
            console.log(intro);
            this.$http.post(baseurl+'?s=admin/Lesson/lesson_edit',{
                'name':this.name,
                'code':this.code,
                'img':this.img,
                'province':this.province,
                'city':this.city,
                'area':this.area,
                'school_name':this.school_name,
                'lessonType':this.lessonType,
                'classType':this.classType,
                'semester':this.semester,
                'grade':this.grade,
                'subjects':this.subjects,
                'teacher':this.teacher,
                'time':this.time,
                'lessonNum':this.lessonNum,
                'lessonTime':this.lessonTime,
                'intro':intro,
                'num':this.num,
                'classType2':this.classType2,
                'lessonType2':this.lessonType2,
                'grade2':this.grade2,
                'subjects2':this.subjects2,
                'teacher2':this.teacher2,
                'startTime':startTime,
                'endTime':endTime
            }).then(res=>{
                if(res.bodyText==1){
                    layer.msg('保存成功！',function(){
                        window.history.go(-1);
                    })
                }
            },res=>{
                console.log('请求失败处理,请检查Network!');
            })
        },
        choose:function(){
            this.$http.post(baseurl+'?s=admin/Lesson/get_schoolval',{
                'city':this.city,
                'area':this.area}).then(res=>{
                    //console.log(res);
                    this.school_name=eval('('+res.bodyText+')');
                },res=>{
                    console.log('请求失败处理,请检查Network!');
                })
            
        },
        
    },
    created:function(){
        if(!this.id){
            return;
        }
        this.$http.post(baseurl+'?s=admin/Lesson/getcurriculum',{'id':this.id}).then(res=>{
            var val=eval('('+res.bodyText+')');
            
        },res=>{
             console.log('请求失败处理,请检查Network!');
        });
        //教师
        this.$http.post(baseurl+'?s=admin/Lesson/get_teacherval').then(res=>{
            var teaName=eval('('+res.bodyText+')');
            this.teacher=teaName['value'];
        },res=>{
            console.log('请求失败处理,请检查Network!');
        });
        //年级
        this.$http.post(baseurl+'?s=admin/Lesson/school_classList').then(res=>{
            var grade=eval('('+res.bodyText+')');
            this.grade=grade['value'];
        },res=>{
            console.log('请求失败处理,请检查Network!');
        });
        //科目
        this.$http.post(baseurl+'?s=admin/Lesson/subject_list').then(res=>{
            var subject=eval('('+res.bodyText+')');
            this.subjects=subject['value'];
        },res=>{
            console.log('请求失败处理,请检查Network!');
        })
    }
})


</script>
</body>
</html>