{include file="public/header"}

<div class="content" id="teacher">
    <div class="rightBox">
        <div class="main">
            <h3>教师列表</h3>
            <div class="topBtns">
                <a href="<?php echo BASE_URL;?>?s=admin/lesson/update_teacher.html">新增教师</a>
                <a href="#">批量上传</a>
                <a href="#">zip模板</a>
            </div>

            <div class="seach_tigs">
                
                    <ul class="clearfix">
                        <li>
                            <label class="seach-label">
                                教师姓名：
                            </label>
                            <input type="text" name="teacher_name" v-model="name"  placeholder="请输入教师姓名" class="form-control">
                        </li>
                        <li>
                            <label class="seach-label">
                                教师编号：
                            </label>
                            <input type="text" name="teacher_number" v-model="code"  placeholder="请输入教师编号" class="form-control">
                        </li>
                        <li>
                            <label class="seach-label">
                                科目：
                            </label>
                            <select class="form-control" v-model="subject_id" name="subject_id">
                                <option value="">请选择</option>
                                <option v-for='subject in subjectList'>{{subject.NAME}}</option>
                            </select>
                        </li>
                        <li>
                            <label class="seach-label">
                                所属校区：
                            </label>
                            <select class="form-control input-median" text="true" name="province_id"
                                    id="province_id">
                            </select>
                            <select class="form-control input-median" text="true" name="city_id" id="city_id">
                            </select>
                            <select class="form-control input-median" text="true" name="district_id" id="district_id" v-model="area" @change="choose()">
                            </select>
                            <select class="form-control input-median" v-model='school_id' name="school_id" id="school_id">
                                <option value="">请选择校区</option>
                                <option v-for="schoolName in school_name">{{schoolName.SCHOOL_NAME}}</option>
                            </select>
                        </li>
                    </ul>
                    <div class="seach">
                        <input type="button" name="" value="搜索" @click="get();">
                    </div>
                    
                
            </div>

            <table class="tableBox">
                    <thead>
                        <tr>
                            <th>选择</th>
                            <th>教师姓名</th>
                            <th>教师头像</th>
                            <th>编号</th>
                            <th>所属校区</th>
                            <!-- <th>科目</th>
                            <th>课程数</th>
                            <th>排序</th> -->
                            <th>更新时间</th>
                            <th width="8%">操作</th>
                        </tr>
                    </thead>
                    <tbody id="storeList">
                        <tr v-for="(product,index) in products">
                            <td><input type="checkbox" name="ids[]" class="check_one" :value="product.ID"  /></td>
                            <td>{{product.NAME}}</td>
                            <td style="padding:10px 0"><img :src="product.PIC" height="60" width="60" /></td>
                            <td>{{product.CODE}}</td>
                            <td>{{product.SCHOOL}}</td>
                            <!-- <td>{{product.SUBJECT}}</td>
                            <td>{{product.num}}</td>
                            <td>{{product.order}}</td> -->
                            <td>{{product.DATE}}</td>
                            <td>
                            <a href="javascript:void(0)" @click="goupdate(product.ID)">编辑</a>
                            <a href="javascript:void(0)" @click="remove(product.ID,index)">删除</a>
                            </td>
                        </tr>
                                   
                        </tbody>
                </table>
                <div class="topBtns1">
                    <a href="javascript:;" onclick="selectAll()">全选</a>
                    <a href="javascript:;" onclick="uselectAll()">反选</a>
                    <a href="javascript:;" onclick="hideAll()">批量隐藏</a>
                </div>
        </div>
    </div>
</div>
<div class="page">
    <ul class="clearfix pageonload" v-html="html">
       {{html}}
    </ul>
</div>
{include file="public/footer"}
<script type="text/javascript" src="__PUBLIC__/admin/js/page.js"></script>
<script type="text/javascript">
    /**
     *****搜索*********
    **/
    var vue=new Vue({
        el:'#teacher',
        data:{
            name:'',
            code:'',
            subject_id:'',
            school_id:'',
            subjectList:[],
            province:'',
            city:'',
            area:'',
            school_name:[],
            products:[],
        },
        methods:{
            goupdate:function(id){
                window.location.href=baseurl+'?s=admin/Lesson/update_teacher&id='+id;
            },
            get:function(){
                this.$http.post(baseurl+'?s=admin/Lesson/get_teacherval',{where:{'name':this.name,'code':this.code,'subject_id':this.subject_id,'school_id':this.school_id}}).then(function(res){
                    //给分页组件添加条件
                    page.where={'name':this.name,'code':this.code,'subject_id':this.subject_id,'school_id':this.school_id};
                   
                    var val=eval('('+res.bodyText+')');
                    this.products=val['value'];
                    //console.log(this.products);
                   //给分页组件传入总页数
                   page.htmlPage(val['allCount']);
                   //console.log(page.allCount);

                },function(res){
                    console.log('请求失败处理,请检查Network!');
                })
            },
          choose:function(){
            this.$http.post(baseurl+'?s=admin/Lesson/get_schoolval',{
                'city':this.city,
                'area':this.area}).then(res=>{
                    //console.log(res);
                    this.school_name=eval('('+res.bodyText+')');
                },res=>{
                    console.log('请求失败处理,请检查Network!');
                })
          },
          remove:function(ids,arrid){
            layer.alert('确定要删除吗？',function(){
                vue.$http.post(baseurl+'?s=admin/Lesson/dele_teacher',{id:ids}).then(res=>{
                    var num=eval('('+res.bodyText+')');
                    if(num==1){                
                        // console.log(vue.products);
                        // console.log(vue.products.arrid);
                        // console.log(arrid);
                        layer.msg('删除成功！',{time:1500});
                        vue.products.splice(arrid,1);
                    }else{
                        location.reload();
                    }
                },res=>{
                    console.log('请求失败处理，请检查Network!');
                })
            })
          }
        },
        created:function(){
            page.url='admin/Lesson/get_teacherval';
            page.onload();
            this.$http.post(baseurl+'?s=admin/Lesson/get_subjectval').then(res=>{
                //console.log(res);
                this.subjectList=eval('('+res.bodyText+')');
            },res=>{
                console.log('请求失败处理,请检查Network!');
            })
        }
    })



/****************点击事件***************************/
 showLocation();
    CheckProvince('');
    CheckCity('');
    CheckTown('');
     /**
     *****批量隐藏*********
    **/
   function hideAll(){
            if($('.check_one:checked').length < 1){
                layer.msg('您还未勾选任何项');
                return false;
            }
            layer.alert('确定要批量隐藏选中的项吗?',function(){
                var ids = [];
                $('.check_one:checked').each(function(){
                    ids.push($(this).val());
                });
                ids = ids.join(',');

                //var url ="<?php echo BASE_URL;?>";
                $.post(baseurl+'?s=admin/Lesson/dele_teacher',{'id':ids},function(data){
                    if(data == 1){
                        layer.msg('删除成功！',{time:1500});
                        
                    }else{
                        location.reload();
                    }
                },'JSON');
            });
        }
</script>
<script type="text/javascript">
    var isChrome = window.navigator.userAgent.indexOf("Chrome") !== -1;
(function() {
    if (!isChrome) {
        $("#is_chrome").html("为了更好的使用效果请使用Chrome浏览器");
    }
})();
</script>
</body>
</html>