{include file="public/header"}

<div class="content" id="school">
	<div class="rightBox">
		<div class="main">
			<h3>校区列表</h3>
			<div class="topBtns sc">
				<a href="<?php echo BASE_URL;?>?s=admin/lesson/add_school.html">新增校区</a>
			</div>

			<div class="seach_tigs">
	            
	                <ul class="clearfix">
	                    <li>
	                        <label class="seach-label">
	                            校区名称：
	                        </label>
	                        <input type="text" name="" placeholder="请输入校区名称" class="form-control" v-model="name">
	                    </li>
	                    <li>
	                        <label class="seach-label">
	                            校区电话：
	                        </label>
	                        <input type="number" maxlength="15" name="" value="" placeholder="请输入校区电话" class="form-control" v-model="phone">
	                    </li>
	                    <li>
	                        <label class="seach-label">
	                            是否显示：
	                        </label>
	                        <select class="form-control" name="">
	                            <option value="">请选择</option>
	                            <option value="1">显示</option>
	                            <option value="2">隐藏</option>
	                        </select>
	                    </li>
	                    <li>
	                        <label class="seach-label">
	                            校区地址：
	                        </label>
	                        <select class="form-control input-median" text="true" name="province_id" id="province_id" selectedindex="0" v-model="province"></select>
	                        <select class="form-control input-median" text="true" name="" id="city_id" v-model="city">
	                        	<option value="">地级市</option>
	                        </select>
	                        <select class="form-control input-median" text="true" name="" id="district_id" v-model="area">
	                        	<option value="">市、县、区</option>
	                        </select>
	                    </li>
	                </ul>
	                <div class="topBtns seach">
	                    <input type="button" name="" value="搜索" @click="get()">
	                </div>
	            	
	            
	        </div>

	        <table class="tableBox">
                    <thead>
                        <tr>
                            <th>校区名称</th>
                            <th>校区电话</th>
                            <th>校区地址</th>
                            <th>是否显示</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="slist in products">
                                <td>{{slist.SCHOOL_NAME}}</td>
                                <td>{{slist.PHONE}}</td>
                                <td>{{slist.ADDRESS}}</td>
                                <td>显示</td>
                                <td>
                                <a href="<?php echo BASE_URL;?>?s=admin/lesson/add_school.html">编辑</a>
                                </td>
                            </tr>                   
                        </tbody>
                </table>
                
		</div>
	</div>
</div>
<div class="page">
	<ul class="clearfix pageonload" v-html="html">
       {{html}}
    </ul>
</div>
{include file="public/footer"}
<script type="text/javascript" src="__PUBLIC__/admin/js/page.js"></script>
<script type="text/javascript">
    showLocation();
    CheckProvince('');
    CheckCity('');
    CheckTown('');
</script>
<script type="text/javascript">
    
    var vue=new Vue({
        el:'#school',
        data:{
            products:[],
            name:'',
            phone:'',
            province:'',
            city:'',
            area:'',
            address:''
        },
        methods:{
            get:function(){
                this.$http.post(baseurl+'?s=admin/Lesson/get_schoollist',{where:{
                	'PROVINCE':this.province,
                	'CITY':this.city,
                	'AREA':this.area,
                	'PHONE':this.phone,
                	'SCHOOL_NAME':this.name
                }}).then(function(res){
                	page.where={'SCHOOL_NAME':this.name,'PROVINCE':this.province,'CITY':this.city,'AREA':this.area,'PHONE':this.phone,'ADDRESS':this.address};
                	var val=eval('('+res.bodyText+')');
                    this.products=val['value'];
                    //console.log(this.products);
                   //给分页组件传入总页数
                   page.htmlPage(val['allCount']);
                   //console.log(page.allCount);
                },function(res){
                	console.log('请求失败处理，请检查Network!');
                })
            }
        },
        created:function(){
        	 page.url='admin/Lesson/get_schoollist';
             page.onload();
        }
        
    })
</script>
</body>
</html>