{include file="public/header"}

<div class="content" id="teacher">
    <div class="rightBox">
        <div class="main">
            <h3>教师列表</h3>
            <div class="topBtns">
                <a href="#">新增教师</a>
                <a href="#">批量上传</a>
                <a href="#">zip模板</a>
            </div>

            <div class="seach_tigs">
                <form id="form1" method="" action="">
                    <ul class="clearfix">
                        <li>
                            <label class="seach-label">
                                教师姓名：
                            </label>
                            <input type="text" name="teacher_name" v-model="name"  placeholder="请输入教师姓名" class="form-control">
                        </li>
                        <li>
                            <label class="seach-label">
                                教师编号：
                            </label>
                            <input type="text" name="teacher_number" v-model="tid"  placeholder="请输入教师编号" class="form-control">
                        </li>
                        <li>
                            <label class="seach-label">
                                科目：
                            </label>
                            <select class="form-control" name="subject_id">
                                <option value="">请选择</option>
                                <option v-for='subject in subjectList' :value="subject.value">{{subject.label}}</option>
                            </select>
                        </li>
                        <li style="width:32.33%;text-align:left;margin-left:40px;">
                            <label class="seach-label">
                                是否显示：
                            </label>
                            <select class="form-control" name="status" style="width:60%;">
                                <option value="">请选择</option>
                                <option  value="1">显示</option>
                                <option  value="2">隐藏</option>
                            </select>
                        </li>
                        <li style="width:63.66%;margin-left:8px;">
                            <label class="seach-label">
                                所属校区：
                            </label>
                            <select class="form-control input-median" text="true" name="province_id"
                                    id="province_id" selectedindex="2">
                            </select>
                            <select class="form-control input-median" text="true" name="city_id" id="city_id">
                            </select>
                            <select class="form-control input-median" text="true" name="district_id" id="district_id" onchange="getSchoolInfosByAreaId(this.value)">
                            </select>
                            <select class="form-control input-median" name="school_id" id="school_id">
                                <option value="">请选择校区</option>
                            </select>
                        </li>
                    </ul>
                    <div class="seach">
                        <input type="button" name="" value="搜索">
                    </div>
                    
                </form>
            </div>

            <table class="tableBox">
                    <thead>
                        <tr>
                            <th>选择</th>
                            <th>教师姓名</th>
                            <th>教师头像</th>
                            <th>编号</th>
                            <th>所属校区</th>
                            <th>科目</th>
                            <th>课程数</th>
                            <th>排序</th>
                            <th>更新时间</th>
                            <th>是否显示</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="storeList">
                        <tr>
                                <td><input type="checkbox" name="ids[]" class="check_one" value="658" /></td>
                                <td>宋昂</td>
                                <td><img src="" height="60" /></td>
                                <td>658</td>
                                <td>南京鼓楼校区</td>
                                <td>数学</td>
                                <td>4</td>
                                <td>0</td>
                                <td>2018-08-31 10:22:19</td>
                                <td>显示</td>
                                <td>
                                <a href="">编辑</a>
                                </td>
                            </tr><tr>
                                <td><input type="checkbox" name="ids[]" class="check_one" value="657" /></td>
                                <td>黄威成</td>
                                <td><img src="" height="60" /></td>
                                <td>657</td>
                                <td>南京鼓楼校区</td>
                                <td>语文</td>
                                <td>7</td>
                                <td>0</td>
                                <td>2018-08-31 10:20:19</td>
                                <td>显示</td>
                                <td>
                                <a href="#">编辑</a>
                                </td>
                            </tr><tr>
                                <td><input type="checkbox" name="ids[]" class="check_one" value="656" /></td>
                                <td>蒋晶</td>
                                <td><img src="" height="60" /></td>
                                <td>656</td>
                                <td>南京鼓楼校区</td>
                                <td>英语</td>
                                <td>4</td>
                                <td>0</td>
                                <td>2018-08-31 10:18:26</td>
                                <td>显示</td>
                                <td>
                                <a href="#">编辑</a>
                                </td>
                            </tr><tr>
                                <td><input type="checkbox" name="ids[]" class="check_one" value="655" /></td>
                                <td>邵淇</td>
                                <td><img src="" height="60" /></td>
                                <td>655</td>
                                <td>南京鼓楼校区</td>
                                <td>数学</td>
                                <td>3</td>
                                <td>0</td>
                                <td>2018-08-31 10:17:08</td>
                                <td>显示</td>
                                <td>
                                <a href="#">编辑</a>
                                </td>
                            </tr><tr>
                                <td><input type="checkbox" name="ids[]" class="check_one" value="654" /></td>
                                <td>管晓龙</td>
                                <td><img src="" height="60" /></td>
                                <td>654</td>
                                <td>辛安校区</td>
                                <td>物理</td>
                                <td>1</td>
                                <td>0</td>
                                <td>2018-08-23 14:19:20</td>
                                <td>显示</td>
                                <td>
                                <a href="#">编辑</a>
                                </td>
                            </tr><tr>
                                <td><input type="checkbox" name="ids[]" class="check_one" value="653" /></td>
                                <td>张启超</td>
                                <td><img src="" height="60" /></td>
                                <td>653</td>
                                <td>辛安校区</td>
                                <td>物理</td>
                                <td>1</td>
                                <td>0</td>
                                <td>2018-08-23 14:17:09</td>
                                <td>显示</td>
                                <td>
                                <a href="#">编辑</a>
                                </td>
                            </tr><tr>
                                <td><input type="checkbox" name="ids[]" class="check_one" value="652" /></td>
                                <td>毛立达</td>
                                <td><img src="" height="60" /></td>
                                <td>652</td>
                                <td>滨州渤十二校区</td>
                                <td>化学</td>
                                <td>2</td>
                                <td>0</td>
                                <td>2018-08-23 10:22:04</td>
                                <td>显示</td>
                                <td>
                                <a href="#">编辑</a>
                                </td>
                            </tr><tr>
                                <td><input type="checkbox" name="ids[]" class="check_one" value="651" /></td>
                                <td>李金明</td>
                                <td><img src="" height="60" /></td>
                                <td>651</td>
                                <td>滨州渤十二校区</td>
                                <td>数学</td>
                                <td>1</td>
                                <td>0</td>
                                <td>2018-08-23 10:20:58</td>
                                <td>显示</td>
                                <td>
                                <a href="#">编辑</a>
                                </td>
                            </tr><tr>
                                <td><input type="checkbox" name="ids[]" class="check_one" value="650" /></td>
                                <td>程玲</td>
                                <td><img src="" height="60" /></td>
                                <td>650</td>
                                <td>滨州渤十二校区</td>
                                <td>数学</td>
                                <td>3</td>
                                <td>0</td>
                                <td>2018-08-23 10:20:10</td>
                                <td>显示</td>
                                <td>
                                <a href="#">编辑</a>
                                </td>
                            </tr><tr>
                                <td><input type="checkbox" name="ids[]" class="check_one" value="649" /></td>
                                <td>薛玮</td>
                                <td><img src="" height="60" /></td>
                                <td>649</td>
                                <td>万科中心城校区</td>
                                <td>物理</td>
                                <td>1</td>
                                <td>0</td>
                                <td>2018-08-23 10:05:54</td>
                                <td>显示</td>
                                <td>
                                <a href="#">编辑</a>
                                </td>
                            </tr><tr>
                                <td><input type="checkbox" name="ids[]" class="check_one" value="648" /></td>
                                <td>宋超燕</td>
                                <td><img src="" height="60" /></td>
                                <td>648</td>
                                <td>万科中心城校区</td>
                                <td>英语</td>
                                <td>1</td>
                                <td>0</td>
                                <td>2018-08-23 10:04:07</td>
                                <td>显示</td>
                                <td>
                                <a href="#">编辑</a>
                                </td>
                            </tr><tr>
                                <td><input type="checkbox" name="ids[]" class="check_one" value="647" /></td>
                                <td>袁姗姗</td>
                                <td><img src="" height="60" /></td>
                                <td>647</td>
                                <td>万科中心城校区</td>
                                <td>地理</td>
                                <td>1</td>
                                <td>0</td>
                                <td>2018-08-23 09:54:44</td>
                                <td>显示</td>
                                <td>
                                <a href="#">编辑</a>
                                </td>
                            </tr><tr>
                                <td><input type="checkbox" name="ids[]" class="check_one" value="646" /></td>
                                <td>孙红霞</td>
                                <td><img src="" height="60" /></td>
                                <td>646</td>
                                <td>灵山湾路校区</td>
                                <td>数学</td>
                                <td>1</td>
                                <td>0</td>
                                <td>2018-08-23 09:35:10</td>
                                <td>显示</td>
                                <td>
                                <a href="#">编辑</a>
                                </td>
                            </tr><tr>
                                <td><input type="checkbox" name="ids[]" class="check_one" value="645" /></td>
                                <td>张璐</td>
                                <td><img src="" height="60" /></td>
                                <td>645</td>
                                <td>灵山湾路校区</td>
                                <td>化学</td>
                                <td>1</td>
                                <td>0</td>
                                <td>2018-08-23 09:29:17</td>
                                <td>显示</td>
                                <td>
                                <a href="#">编辑</a>
                                </td>
                            </tr><tr>
                                <td><input type="checkbox" name="ids[]" class="check_one" value="644" /></td>
                                <td>朱广春</td>
                                <td><img src="" height="60" /></td>
                                <td>644</td>
                                <td>崂山金家岭校区</td>
                                <td>英语</td>
                                <td>3</td>
                                <td>0</td>
                                <td>2018-08-22 12:53:05</td>
                                <td>显示</td>
                                <td>
                                <a href="#">编辑</a>
                                </td>
                            </tr><tr>
                                <td><input type="checkbox" name="ids[]" class="check_one" value="643" /></td>
                                <td>蔡梓珍</td>
                                <td><img src="" height="60" /></td>
                                <td>643</td>
                                <td>南京鼓楼校区</td>
                                <td>语文</td>
                                <td>0</td>
                                <td>0</td>
                                <td>2018-08-20 14:55:38</td>
                                <td>隐藏</td>
                                <td>
                                <a href="#">编辑</a>
                                </td>
                            </tr><tr>
                                <td><input type="checkbox" name="ids[]" class="check_one" value="642" /></td>
                                <td>闻德亮</td>
                                <td><img src="" height="60" /></td>
                                <td>642</td>
                                <td>南京鼓楼校区</td>
                                <td>英语</td>
                                <td>7</td>
                                <td>0</td>
                                <td>2018-08-20 14:39:50</td>
                                <td>显示</td>
                                <td>
                                <a href="#">编辑</a>
                                </td>
                            </tr><tr>
                                <td><input type="checkbox" name="ids[]" class="check_one" value="641" /></td>
                                <td>陈美莹</td>
                                <td><img src="" height="60" /></td>
                                <td>641</td>
                                <td>张店柳泉校区</td>
                                <td>生物</td>
                                <td>4</td>
                                <td>0</td>
                                <td>2018-08-20 11:18:05</td>
                                <td>显示</td>
                                <td>
                                <a href="#">编辑</a>
                                </td>
                            </tr><tr>
                                <td><input type="checkbox" name="ids[]" class="check_one" value="640" /></td>
                                <td>蓝传艺</td>
                                <td><img src="" height="60" /></td>
                                <td>640</td>
                                <td>即墨文化路校区</td>
                                <td>物理</td>
                                <td>1</td>
                                <td>0</td>
                                <td>2018-08-17 13:16:45</td>
                                <td>显示</td>
                                <td>
                                <a href="#">编辑</a>
                                </td>
                            </tr><tr>
                                <td><input type="checkbox" name="ids[]" class="check_one" value="639" /></td>
                                <td>王运鹏</td>
                                <td><img src="" height="60" /></td>
                                <td>639</td>
                                <td>即墨文化路校区</td>
                                <td>化学</td>
                                <td>1</td>
                                <td>0</td>
                                <td>2018-08-17 11:19:54</td>
                                <td>显示</td>
                                <td>
                                <a href="#">编辑</a>
                                </td>
                            </tr>              
                        </tbody>
                </table>
                <div class="topBtns1">
                    <a href="javascript:;" onclick="selectAll()">全选</a>
                    <a href="javascript:;" onclick="uselectAll()">反选</a>
                    <a href="javascript:;" onclick="hideAll()">批量隐藏</a>
                </div>
                <div class="page">
                    <ul class="clearfix">
                        <li><a href="">上一页</a></li>
                        <li class="curr"><a href="">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">下一页</a></li>
                    </ul>
                </div>
        </div>
    </div>
</div>

{include file="public/footer"}

<script type="text/javascript">
    /**
     *****搜索*********
    **/
    new Vue({
        el:'#teacher',
        data:{
            name:'',
            tid:'',
            subjectList:[
                {value:'1',label:'语文'},
                {value:'2',label:'数学'},
                {value:'3',label:'英语'},
                {value:'4',label:'政治'},
                {value:'5',label:'历史'},
                {value:'6',label:'地理'},
                {value:'7',label:'生物'},
                {value:'8',label:'物理'},
                {value:'9',label:'化学'}
            ]
        },
        method:{
            get:function(){
                this.$http.get('url',{}).then(function(res){

                },function(res){
                    console.log('请求失败处理，请检查Network!');
                })
            }
        }
    })
</script>

<script type="text/javascript">
    showLocation();
    CheckProvince('');
    CheckCity('');
    CheckTown('');
     /**
     *****批量隐藏*********
    **/
    function hideAll(){
        if($('.check_one:checked').length < 1){
            layer.msg('您还未勾选任何项');
            return false;
        }
        layer.confirm('确定要批量隐藏选中的项吗?',function(){
            var ids = [];
            $('.check_one:checked').each(function(){
                ids.push($(this).val());
            });
            ids = ids.join(',');
            var url = '/admin/teacher/hideAll';
            $.post(url,{'ids':ids},function(data){
                if(data.status == 1){
                    layer.msg(data.info);
                }else{
                    location.reload();
                }
            },'JSON');
        });
    } 
</script>
<script>
var isChrome = window.navigator.userAgent.indexOf("Chrome") !== -1;
(function() {
    if (!isChrome) {
        $("#is_chrome").html("为了更好的使用效果请使用Chrome浏览器");
    }
})();
</script>
</body>
</html>