{include file="public/header"}
<!-- 配置文件 -->
<script type="text/javascript" src="utf8-php/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="utf8-php/ueditor.all.js"></script>
<!-- 实例化编辑器 -->

<div class="content" id="lessonEdit">
	<div class="rightBox">
		<div class="main">
			
			<div class="seach_tigs" id="edit">
				<h3 id="addLesson"></h3>
	            
	                <ul class="clearfix">
                        <li>
                            <label class="seach-label">
                                <span>*</span>课程名称：
                            </label>
                            <input type="text" name="" value="" class="form-control" v-model="name">
                        </li>
                        <li>
                            <label class="seach-label">
                                <span>*</span>课程编号：
                            </label>
                            <input type="text" name="" value="" class="form-control" v-model="code">
                        </li>
                        <li>
                            <label class="seach-label">
                                <span>*</span>价格：
                            </label>
                            <input type="text" name="" value="" class="form-control" v-model="price">
                        </li>
                        <li>
                            <label class="seach-label">
                                <span>*</span>库存：
                            </label>
                            <input type="text" name="" value="" class="form-control" v-model="count">
                        </li>
                        <li>
                        	<label class="seach-label">
                                <span>*</span>课程图片：
                            </label>
	                        <div class="file_top">
	                            <span>点击选择图片</span>
	                            <input type="file" name="pic" id="file" class="upload" onchange="uploadpic(this)">
                                <input type="hidden" name="" class="" id="hpic" v-model="img">
                            </div>
                            <div class="fileBox">
                                <p>建议上传图片的尺寸比例为1:1，大小不超过1M</p>
                                <img :src="img" height="100" id="image" v-model="img">
                            </div>
                        </li>
                        <li>
                            <label class="seach-label">
                                <span>*</span>所属校区：
                            </label>
                            <select class="form-control input-median" text="true" name="" id="province_id" v-model="provinceid">
                            </select>
                            <select class="form-control input-median" text="true" name="" id="city_id" v-model="cityid">
                                
                            </select>
                            <select class="form-control input-median" text="true" name="" id="district_id" v-model="areaid" @change="choose()">
                            </select>
                            <select class="form-control input-median" name="" id="school_id" v-model='school_id'>
                                <option value="">请选择校区</option>
                                <option v-for='t in school_name' :value="t.ID">{{t.SCHOOL_NAME}}</option>
                            </select>
                        </li>
                        <li>
                        	<label class="seach-label">
                                <span>*</span>课堂类型：
                            </label>
                            <select class="form-control" name="type" v-model="lessonTypeid">
                                <option value="">请选择课堂</option>
                                <option :value="t.ID" v-for="t in lessonType" name="selectId">{{t.NAME}}</option>
                            </select>
                        </li>
                        <li>
                            <label class="seach-label">
                                <span>*</span>班型：
                            </label>
                            <input type="text" name="" value="" class="form-control" v-model="classType">
                        </li>
                        <li>
                            <label class="seach-label">
                                <span>*</span>学期：
                            </label>
                            <input type="text" name="" value="" class="form-control" v-model="semester">
                        </li>
                        <li>
                        	<label class="seach-label">
                                <span>*</span>选择年级科目：
                            </label>
                        	<select name="grade_id" class="form-control input-xlarge" id="grade_id" v-model="gradeid">
		                        <option value="">请选择年级</option>
		                        <option :value="t.ID" v-for="t in grade">{{t.NAME}}</option>
		                        
	                        </select>
	                    	<select name="subject_id" id="subject_id" class="form-control input-xlarge" v-model="subjectsid">
		                        <option value="">请选择科目</option>
		                        <option :value="t.ID" v-for="t in subjects">{{t.NAME}}</option>
		                        
	                        </select>
                        </li>
                        <li>
                        	<label class="seach-label">
                                <span>*</span>选择老师：
                            </label>
                            <select class="form-control" name="type" v-model="teacherid">
                                <option value="">请选择老师</option>
                                <option :value="t.ID" v-for="t in teacher">{{t.NAME}}</option>
                            </select>
                        </li>
                        
                        <li>
                        	<label class="seach-label">
                                <span>*</span>开课时间：
                            </label>
                        	<input class="form-control input-xlarge" id="test5" type="text"> 至
                        	<input class="form-control input-xlarge" id="test4" type="text">
                        </li>
                        <li>
                        	<label class="seach-label">
                                <span>*</span>课程节数：
                            </label>
                            <input type="number" name="" value="" class="form-control" v-model="lessonNum">
                        </li>
                        <li>
                        	<label class="seach-label">
                                <span>*</span>课程时长：
                            </label>
                            <input type="number" name="" value="" class="form-control" v-model="lessonTime">
                        </li>
                        <li>
                        	<label class="seach-label">
                                <span>*</span>课程详情：
                            </label>

                            <style>
                            	#edui1{width:100%;}
                            </style>
                            <!-- 加载编辑器的容器 -->
                            <textarea id="container" style="width:900px;margin-left:137px;margin-top:-23px;">
                                {{intro}}
                            </textarea> 
	
                        </li>
                        <li>
                        	<label class="seach-label">
                                排序：
                            </label>
                            <input type="number" name="" value="" class="form-control" v-model="num">
                        </li>
                        
                        <li class="seach"><input type="submit" name="" value="确认" @click="get()"><a href="javascript:history.back(-1)" id="back">返回</a></li>
                    </ul>
                
            </div>

		</div>
	</div>
</div>

{include file="public/footer"}
<script src="__PUBLIC__/admin/js/laydate.js"></script>
<script type="text/javascript">
var ue = UE.getEditor('container');//加载编辑器
function uploadpic(this0){
    $.ajaxFileUpload({
        fileElementId: 'file',    //需要上传的文件域的ID，即<input type="file">的ID。
        url: baseurl+'?s=admin/Uploadpic/index', //后台方法的路径
        type: 'post',   //当要提交自定义参数时，这个参数要设置成post
        dataType: 'json', //返回值类型 一般设置为json
        contentType: "application/x-www-form-urlencoded; charset=utf-8",
        success: function(data) {   //提交成功后自动执行的处理函数，参数data就是服务器返回的数据。
            console.log(data.src);
            $('#hpic').val(data.src);
            $('#image').attr('src',data.src);
        }
    });
}

laydate.render({
  elem: '#test5',
  type: 'datetime'
});
laydate.render({
  elem: '#test4',
  type: 'datetime'
});

var vue=new Vue({
    el:'#lessonEdit',
    data:{
        name:'',//课程名称
        code:'',//编号
        price:'',
        count:'',
        img:'',//图片
        provinceid:'',//省
        cityid:'',//市
        areaid:'',//区
        province:'',//省
        city:'',//市
        area:'',//区
        school_id,
        school_name:[],//校区名
        lessonTypeid:' ',
        lessonType:[
            
        ],//课堂类型
        classType:'',//班型
        semester:'',//学期
        gradeid:'',
        grade:[],//年级
        subjectsid:'',
        subjects:[],//科目
        teacherid:'',
        teacher:[],//老师
        lessonNum:'',//课程节数
        lessonTime:'',//课程时长
        intro:'',//课程详情
        num:'',//序号
        id:'<?php echo @$_GET['id']?>'
    },
    methods:{
        get:function(){
            var startTime=$('#test5').val();
            var endTime=$('#test4').val();
            var intro=ue.getContent();
            var img=$('#hpic').val();
            //console.log(this.lessonTypeid);
            if(!this.name){
                layer.alert('课程名称不能为空！');
                return;
            }
            if(!this.code){
                layer.alert('课程编号不能为空！');
                return;
            }
            if(!this.price){
                layer.alert('价格不能为空！');
                return;
            }
            if(!this.count){
                layer.alert('库存不能为空！');
                return;
            }
            if(!this.img){
                layer.alert('课程图片不能为空！');
                return;
            }
            if(!this.school_id){
                layer.alert('所属校区不能为空！');
                return;
            }
            if(!this.lessonTypeid){
                layer.alert('课堂类型不能为空！');
                return;
            }
            if(!this.classType){
                layer.alert('班型不能为空！');
                return;
            }
            if(!this.semester){
                layer.alert('学期不能为空！');
                return;
            }
            if(!this.gradeid || !this.subjectsid){
                layer.alert('年级科目不能为空！');
                return;
            }
            if(!this.teacherid){
                layer.alert('教师不能为空！');
                return;
            }
            if(!startTime || !endTime){
                layer.alert('开课时间不能为空！');
                return;
            }
            if(!this.lessonNum){
                layer.alert('课程节数不能为空！');
                return;
            }
            if(!this.lessonTime){
                layer.alert('课程时长不能为空！');
                return;
            }
            if(!intro){
                layer.alert('课程详情不能为空！');
                return;
            }
            this.$http.post(baseurl+'?s=admin/Lesson/lesson_edit',{
                'id':this.id,
                'name':this.name,//
                'code':this.code,//
                'price':this.price,//
                'count':this.count,
                'img':img,//
                'provinceid':this.provinceid,//
                'cityid':this.cityid,//
                'areaid':this.areaid,//
                'schoolid':this.school_id,
                'semester':this.semester,//
                'lessonNum':this.lessonNum,//
                'lessonTime':this.lessonTime,//
                'intro':intro,//
                'num':this.num,//
                'lessonTypeid':this.lessonTypeid,
                'gradeid':this.gradeid,
                'subjectsid':this.subjectsid,
                'teacherid':this.teacherid,//
                'startTime':startTime,//
                'endTime':endTime,
                'classTypeid':this.classType//
            }).then(res=>{
                if(res.bodyText==1){
                    layer.msg('保存成功！',function(){
                        window.history.go(-1);
                    })
                }
            },res=>{
                console.log('请求失败处理,请检查Network!');
            })
        },
        choose:function(){
            this.$http.post(baseurl+'?s=admin/Lesson/get_schoolval',{
                'province':this.province,
                'city':this.city,
                'area':this.area}).then(res=>{
                    //console.log(res);
                    this.school_name=eval('('+res.bodyText+')');
                },res=>{
                    console.log('请求失败处理,请检查Network!');
                })
        },
        
    },
    created:function(){
        
        //教师
        this.$http.post(baseurl+'?s=admin/Lesson/get_teacherval').then(res=>{
            var teaName=eval('('+res.bodyText+')');
            this.teacher=teaName['value'];
        },res=>{
            console.log('请求失败处理,请检查Network!');
        });
        //年级
        this.$http.post(baseurl+'?s=admin/Lesson/school_classList').then(res=>{
            var grade=eval('('+res.bodyText+')');
            this.grade=grade['value'];
        },res=>{
            console.log('请求失败处理,请检查Network!');
        });
        //科目
        this.$http.post(baseurl+'?s=admin/Lesson/subject_list').then(res=>{
            var subject=eval('('+res.bodyText+')');
            this.subjects=subject['value'];
        },res=>{
            console.log('请求失败处理,请检查Network!');
        });
        //课堂类型
        this.$http.post(baseurl+'?s=admin/Lesson/type',{list:1}).then(res=>{
            this.lessonType=eval('('+res.bodyText+')')['value'];
            //console.log(this.lessonType);
        },res=>{
            console.log('请求失败处理,请检查Network!');
        })

        if(!this.id){
            $('#addLesson').html('新增课程');
            return;
        }
        this.$http.post(baseurl+'?s=admin/Lesson/getcurriculum',{'id':this.id}).then(res=>{
            $('#addLesson').html('修改课程');
            var val=eval('('+res.bodyText+')')[0];
            this.name=val['NAME'];
            this.code=val['CODE'];
            this.price=val['PRICE'];
            this.count=val['COUNT'];
            this.img=val['IMG'];
            this.provinceid=val['PROVINCE'];
            this.cityid=val['CITY'];
            this.areaid=val['AREA'];
            this.school_id=val['SCHOOLID'];
            this.lessonTypeid=val['CLASSTYPEGUID'];
            this.classType=val['SEASONTYPE'];
            this.semester=val['SEMESTER'];
            this.gradeid=val['CLASSGUID'];
            this.subjectsid=val['SUBJECTGUID'];
            this.teacherid=val['TEACHERGUID'];
            this.lessonNum=val['COURSENUM'];
            this.lessonTime=val['COURSETIME'];
            this.num=val['ORDERINDEX'];
            $('#test5').val(val['STARTTIME']);
            $('#test4').val(val['ENDTIME']);
            ue.setContent(val['CONTENT']);
        },res=>{
             console.log('请求失败处理,请检查Network!');
        });
    }
})


</script>
</body>
</html>