{include file="public/header"}
 <!-- 配置文件 -->
<script type="text/javascript" src="utf8-php/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="utf8-php/ueditor.all.js"></script>
<!-- 实例化编辑器 -->


<script type="text/javascript">
    var ue = UE.getEditor('container');
</script>	
<div class="content" id="update">
	<div class="rightBox">
		<div class="main">
			<div class="seach_tigs" id="edit">
				<h3>新增教师</h3>
	            
	                <ul class="clearfix">
                        <li>

                            <label class="seach-label">
                                <span>*</span>教师名称：
                            </label>
                            <input type="text" name="" v-model="name" class="form-control">
                        </li>
                        <li>
                            <label class="seach-label">
                                <span>*</span>教师编号：
                            </label>
                            <input type="text" name="" v-model="code" class="form-control">
                        </li>
                        <li>
                        	<label class="seach-label">
                                <span>*</span>教师头像：
                            </label>
	                        <div class="file_top">
	                            <span>点击选择图片</span>
	                            <input type="file" name="pic" id="file" class="upload" onchange="uploadpic(this)">
	                            <input type="hidden" name="" class="" id="hpic" v-model="pic">
                            </div>
                            <div class="fileBox"><p>建议上传图片的尺寸比例为1:1，大小不超过1M</p>
                            <img src="" height="100" id="image"></div>

                        </li>
                        <li>
                            <label class="seach-label">
                                <span>*</span>所属校区：
                            </label>
                            <select class="form-control input-median" text="true" name="province_id"
                                    id="province_id">
                                   
                            </select>
                            <select class="form-control input-median" text="true" name="city_id" id="city_id">
                                
                            </select>
                            <select class="form-control input-median" text="true" name="district_id" id="district_id"   @change="choose()" v-model="area">
                            </select>
                            <select class="form-control input-median" v-model='school_id' name="school_id" id="school_id">
                                <option value="">请选择校区</option>
                                <option v-for="schoolName in school_name" :value="schoolName.ID">{{schoolName.SCHOOL_NAME}}</option>
                            </select>
                        </li>
                        <li>
                            <label class="seach-label">
                                <span>*</span>校区地址：
                            </label>
                            <input type="text" name="" v-model="school_address" class="form-control">
                        </li>
                       
                        <li>
                        	<label class="seach-label">
                                <span>*</span>课程详情：
                            </label>

                            <style>
                            	#edui1{width:100%;}
                            </style>
                            <!-- 加载编辑器的容器 -->
						    <textarea id="container" style="width:900px;margin-left:137px;margin-top:-23px;"  v-model="intro"></textarea>  
						    
                        </li>
                        
                        <li class="seach"><input type="submit" name="" value="确认" @click="get();"><a href="javascript:history.back(-1)" id="back">返回</a></li>
                    </ul>
                
            </div>

		</div>
	</div>
</div>



{include file="public/footer"}
<script type="text/javascript">

function uploadpic(this0){
    
        $.ajaxFileUpload({
            fileElementId: 'file',    //需要上传的文件域的ID，即<input type="file">的ID。
            url: baseurl+'?s=admin/Uploadpic/index', //后台方法的路径
            type: 'post',   //当要提交自定义参数时，这个参数要设置成post
            dataType: 'json', //返回值类型 一般设置为json
            contentType: "application/x-www-form-urlencoded; charset=utf-8",
            success: function(data) {   //提交成功后自动执行的处理函数，参数data就是服务器返回的数据。
                console.log(data.src);
                $('#hpic').val(data.src);
                $('#image').attr('src',data.src);
            }
        });
    
}


var vue=new Vue({
	el:'#update',
	data:{
		name:'',
		code:'',
		pic:'',
		school:'',
		school_address:'',
		intro:'',
        province:'',
        city:'',
        area:'',
        school_name:[],
        school_id:'',
        id:'<?php echo @$_GET['id']?>'
	},
	methods:{
		get:function(){
			var intro=ue.getContent();
            var img=$('#hpic').val();
            //console.log(img);
			//console.log(a);
			this.$http.post(baseurl+'?s=admin/Lesson/update_teacher',{
				'name':this.name,
				'code':this.code,
				'pic':img,
				'school':this.school,
				'school_address':this.school_address,
				'intro':intro,
                'school_id':this.school_id,
                'id':this.id
			}).then(res=>{
                
				if(res.bodyText==1) {
            		layer.msg('保存成功！',function(){
               		 window.history.go(-1);
            	    });  
			    }
            });
		},
        choose:function(){
            this.$http.post(baseurl+'?s=admin/Lesson/get_schoolval',{
                'city':this.city,
                'area':this.area}).then(res=>{
                   // console.log(res);
                    this.school_name=eval('('+res.bodyText+')');

                },res=>{
                    console.log('请求失败处理,请检查Network!');
                })
            
          },
	},
    created:function(){
        if (!this.id) {return;}
        this.$http.post(baseurl+'?s=admin/Lesson/get_teacherval',{
        'id':this.id
        }).then(res=>{

            var val=eval('('+res.bodyText+')')['value'][0];
           
            this.name=val['NAME'];
            this.code=val['CODE'];
            this.pic=val['PIC'];
            this.school=val['SCHOOL'];
            this.school_address=val['SCHOOL_ADDRESS'];
            this.intro=val['INTRO'];
            
            
        },res=>{
            console.log('请求失败处理,请检查Network!');
        })
    }
})

</script>

</body>
</html>