
.main{
  width:90%;
  margin:0 auto;
}
.left{
  float:left;
}
.right{
  float:right;
};
.clearfix:after{
  content:'';
  display: block;
  clear:both;
}
.title{
  font-size:32/@r;
  color:@c;
  text-align:center;
  margin:38/@r 0;
}
.fixedNav{
  background: #FFF;
  width:100%;
  height: 100/@r;
  position: fixed;
  bottom:0;
  left:0;
  border-top:1/@r solid #eee;
}
.fixedNav ul li{
  text-align:center;
  width:25%;
  float:left;
  padding:20/@r 0 16/@r 0;
  
}

.fixedNav ul li p{
  margin-top:2/@r;
  font-size:26/@r;
}
.fixedNav ul li a{
  color:@c;
}
.fixedNav ul li i{
  font-size:36/@r;
}