<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="robots" content="noindex,nofollow">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>金石教育_商城站</title>
<link href="http://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css" rel="stylesheet">
<link href="css/reset.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">
<script src="js/jquery-1.8.3.min.js"></script>
<script src="http://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
<style type="text/css">
.swiper-pagination-bullet-active{background: #FFF;}
.swiper-pagination-bullet{background: #FFF;}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{background-image:url(images/pc_08.png);right:0;}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{background-image:url(images/pc_06.png);left:0;}
.swiper-button-next, .swiper-button-prev{top: 33%;width: 80px;height: 146px;-moz-background-size: 80px 146px;-webkit-background-size: 80px 146px;background-size: 80px 146px;}
.banner, .banner .swiper-container, .banner .swiper-container .swiper-slide, .banner .swiper-container .swiper-slide img{width: 100%;min-width: 1200px;}
</style>
</head>
<body>
<div class="top">
	<div class="mainTwo clearfix">
		<div class="posi left">
			<i class="icon iconfont">&#xe64e;</i>
			<span>山东省青岛市崂山区</span>
		</div>
		<div class="right">
			<a href="">返回首页</a>|<a href="">点击下载</a>|<a href="">收藏夹</a> &nbsp;&nbsp;
			<a href="">登录</a>|<a href="">注册</a>|<a href="">设置</a> 
		</div>
	</div>
</div>

<div class="header">
	<div class="mainTwo clearfix">
		<div class="logo left"><img src="images/logo.png"></div>
		<div class="nav left">
			<ul class="clearfix">
				<li><a href="">首页</a></li>
				<li><a href="" class="on">选课中心</a>
					<div>
						<p><a href="">中高考</a></p>
						<p><a href="">子女教育</a></p>
						<p><a href="">政策新闻</a></p>
						<p><a href="">金石资讯</a></p>
					</div>
				</li>
				<li><a href="">资讯</a></li>
				<li><a href="">校区地址</a></li>
			</ul>
		</div>
		<div class="right">
			<input type="" name=""><a href=""><i class="icon iconfont">&#xe64d;</i></a>
		</div>
	</div>
</div>
<div class="banner">
  <div class="swiper-container">
    <div class="swiper-wrapper">
	    <div class="swiper-slide"><img src="images/banner.jpg" alt=""></div>
		<div class="swiper-slide"><img src="images/banner.jpg" alt=""></div>
	    <div class="swiper-slide"><img src="images/banner.jpg" alt=""></div>  
    </div>
    <!-- 如果需要分页器-->
    <div class="swiper-pagination"></div>
    <!-- 如果需要导航按钮 -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
<div class="clearfix"></div>
<script>
var mySwiper = new Swiper('.banner .swiper-container',{
    loop: true,
	autoplay:5000,
    autoplayDisableOnInteraction: false,
	speed:500,
	// 如果需要分页器
    pagination: '.banner .swiper-pagination',
	paginationClickable: true,
	grabCursor : true,
	navigation: {
      nextEl: '.banner .swiper-button-next',
      prevEl: '.banner .swiper-button-prev',
    },
	parallax:true,
	observer:true,
}); 
</script>
<div class="container">
	<div class="tab">
		<div class="main">
			<span>年级</span>
			<a href="">一年级</a>
			<a href="">二年级</a>
			<a href="">三年级</a>
			<a href="">四年级</a>
			<a href="">五年级</a>
			<a href="">初一</a>
			<a href="">初二</a>
			<a href="">初三</a>
			<a href="">初四</a>
			<a href="">高一</a>
			<a href="">高二</a>
			<a href="" class="on">高三</a>
		</div>
	</div>
	<div class="recommend">
		<div class="main">
			<h2 class="title">课程推荐<a href="">更多<i class="icon iconfont">&#xe617;</i></a></h2>
			<ul class="line">
				<li><a href="">
					<p class="label on">班型标签</p>
					<h3><span class="han">寒</span><span class="ying">英</span>四年级英语寒假视频直播课</h3>
					<p class="infor"><i class="icon iconfont">&#xe700;</i>崂山校区</p>
					<p class="infor"><i class="icon iconfont">&#xe606;</i>2018.02.20 20.00</p>
					<div class="teacher_img">
						<span><img src="images/test_03.jpg"><br>白帆</span>
						<span><img src="images/test_03.jpg"><br>陈敬凯</span>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
					<div class="was">
						<p class="left">已有<span>6666</span>人购买</p>
						<h4 class="right"><span>￥</span>200</h4>
					</div>
				</a></li>
				<li><a href="">
					<p class="label">班型标签</p>
					<h3><span class="han">寒</span><span class="ying">英</span>四年级英语寒假视频直播课</h3>
					<p class="infor"><i class="icon iconfont">&#xe700;</i>崂山校区</p>
					<p class="infor"><i class="icon iconfont">&#xe606;</i>2018.02.20 20.00</p>
					<div class="teacher_img">
						<span><img src="images/test_03.jpg"><br>白帆</span>
						<span><img src="images/test_03.jpg"><br>陈敬凯</span>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
					<div class="was">
						<p class="left">已有<span>6666</span>人购买</p>
						<h4 class="right"><span>￥</span>200</h4>
					</div>
				</a></li>
				<li><a href="">
					<p class="label">班型标签</p>
					<h3><span class="han">寒</span><span class="ying">英</span>四年级英语寒假视频直播课</h3>
					<p class="infor"><i class="icon iconfont">&#xe700;</i>崂山校区</p>
					<p class="infor"><i class="icon iconfont">&#xe606;</i>2018.02.20 20.00</p>
					<div class="teacher_img">
						<span><img src="images/test_03.jpg"><br>白帆</span>
						<span><img src="images/test_03.jpg"><br>陈敬凯</span>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
					<div class="was">
						<p class="left">已有<span>6666</span>人购买</p>
						<h4 class="right"><span>￥</span>200</h4>
					</div>
				</a></li>
				<li><a href="">
					<p class="label">班型标签</p>
					<h3><span class="han">寒</span><span class="ying">英</span>四年级英语寒假视频直播课</h3>
					<p class="infor"><i class="icon iconfont">&#xe700;</i>崂山校区</p>
					<p class="infor"><i class="icon iconfont">&#xe606;</i>2018.02.20 20.00</p>
					<div class="teacher_img">
						<span><img src="images/test_03.jpg"><br>白帆</span>
						<span><img src="images/test_03.jpg"><br>陈敬凯</span>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
					<div class="was">
						<p class="left">已有<span>6666</span>人购买</p>
						<h4 class="right"><span>￥</span>200</h4>
					</div>
				</a></li>
			</ul>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="recommend color">
		<div class="main">
			<h2 class="title">课程推荐<a href="">更多<i class="icon iconfont">&#xe617;</i></a></h2>
			<ul class="clearfix">
				<li style="width: 48.2%;padding:0;"><img src="images/pc_12.jpg" width="100%"></li>
				<li><a href="">
					<p class="label on">班型标签</p>
					<h3><span class="han">寒</span><span class="ying">英</span>四年级英语寒假视频直播课</h3>
					<p class="infor"><i class="icon iconfont">&#xe700;</i>崂山校区</p>
					<p class="infor"><i class="icon iconfont">&#xe606;</i>2018.02.20 20.00</p>
					<div class="teacher_img">
						<span><img src="images/test_03.jpg"><br>白帆</span>
						<span><img src="images/test_03.jpg"><br>陈敬凯</span>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
					<div class="was">
						<p class="left">已有<span>6666</span>人购买</p>
						<h4 class="right"><span>￥</span>200</h4>
					</div>
				</a></li>
				<li><a href="">
					<p class="label">班型标签</p>
					<h3><span class="han">寒</span><span class="ying">英</span>四年级英语寒假视频直播课</h3>
					<p class="infor"><i class="icon iconfont">&#xe700;</i>崂山校区</p>
					<p class="infor"><i class="icon iconfont">&#xe606;</i>2018.02.20 20.00</p>
					<div class="teacher_img">
						<span><img src="images/test_03.jpg"><br>白帆</span>
						<span><img src="images/test_03.jpg"><br>陈敬凯</span>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
					<div class="was">
						<p class="left">已有<span>6666</span>人购买</p>
						<h4 class="right"><span>￥</span>200</h4>
					</div>
				</a></li>
				<li><a href="">
					<p class="label on">班型标签</p>
					<h3><span class="han">寒</span><span class="ying">英</span>四年级英语寒假视频直播课</h3>
					<p class="infor"><i class="icon iconfont">&#xe700;</i>崂山校区</p>
					<p class="infor"><i class="icon iconfont">&#xe606;</i>2018.02.20 20.00</p>
					<div class="teacher_img">
						<span><img src="images/test_03.jpg"><br>白帆</span>
						<span><img src="images/test_03.jpg"><br>陈敬凯</span>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
					<div class="was">
						<p class="left">已有<span>6666</span>人购买</p>
						<h4 class="right"><span>￥</span>200</h4>
					</div>
				</a></li>
				<li><a href="">
					<p class="label">班型标签</p>
					<h3><span class="han">寒</span><span class="ying">英</span>四年级英语寒假视频直播课</h3>
					<p class="infor"><i class="icon iconfont">&#xe700;</i>崂山校区</p>
					<p class="infor"><i class="icon iconfont">&#xe606;</i>2018.02.20 20.00</p>
					<div class="teacher_img">
						<span><img src="images/test_03.jpg"><br>白帆</span>
						<span><img src="images/test_03.jpg"><br>陈敬凯</span>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
					<div class="was">
						<p class="left">已有<span>6666</span>人购买</p>
						<h4 class="right"><span>￥</span>200</h4>
					</div>
				</a></li>
				<li><a href="">
					<p class="label">班型标签</p>
					<h3><span class="han">寒</span><span class="ying">英</span>四年级英语寒假视频直播课</h3>
					<p class="infor"><i class="icon iconfont">&#xe700;</i>崂山校区</p>
					<p class="infor"><i class="icon iconfont">&#xe606;</i>2018.02.20 20.00</p>
					<div class="teacher_img">
						<span><img src="images/test_03.jpg"><br>白帆</span>
						<span><img src="images/test_03.jpg"><br>陈敬凯</span>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
					<div class="was">
						<p class="left">已有<span>6666</span>人购买</p>
						<h4 class="right"><span>￥</span>200</h4>
					</div>
				</a></li>
				<li><a href="">
					<p class="label">班型标签</p>
					<h3><span class="han">寒</span><span class="ying">英</span>四年级英语寒假视频直播课</h3>
					<p class="infor"><i class="icon iconfont">&#xe700;</i>崂山校区</p>
					<p class="infor"><i class="icon iconfont">&#xe606;</i>2018.02.20 20.00</p>
					<div class="teacher_img">
						<span><img src="images/test_03.jpg"><br>白帆</span>
						<span><img src="images/test_03.jpg"><br>陈敬凯</span>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
					<div class="was">
						<p class="left">已有<span>6666</span>人购买</p>
						<h4 class="right"><span>￥</span>200</h4>
					</div>
				</a></li>
			</ul>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="recommend color" style="padding-bottom: 30px;">
		<div class="main">
			<h2 class="title">课程推荐<a href="">更多<i class="icon iconfont">&#xe617;</i></a></h2>
			<ul class="clearfix">
				<li style="width: 48.2%;padding:0;"><img src="images/pc_15.jpg" width="100%"></li>
				<li><a href="">
					<p class="label on">班型标签</p>
					<h3><span class="han">寒</span><span class="ying">英</span>四年级英语寒假视频直播课</h3>
					<p class="infor"><i class="icon iconfont">&#xe700;</i>崂山校区</p>
					<p class="infor"><i class="icon iconfont">&#xe606;</i>2018.02.20 20.00</p>
					<div class="teacher_img">
						<span><img src="images/test_03.jpg"><br>白帆</span>
						<span><img src="images/test_03.jpg"><br>陈敬凯</span>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
					<div class="was">
						<p class="left">已有<span>6666</span>人购买</p>
						<h4 class="right"><span>￥</span>200</h4>
					</div>
				</a></li>
				<li><a href="">
					<p class="label">班型标签</p>
					<h3><span class="han">寒</span><span class="ying">英</span>四年级英语寒假视频直播课</h3>
					<p class="infor"><i class="icon iconfont">&#xe700;</i>崂山校区</p>
					<p class="infor"><i class="icon iconfont">&#xe606;</i>2018.02.20 20.00</p>
					<div class="teacher_img">
						<span><img src="images/test_03.jpg"><br>白帆</span>
						<span><img src="images/test_03.jpg"><br>陈敬凯</span>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
					<div class="was">
						<p class="left">已有<span>6666</span>人购买</p>
						<h4 class="right"><span>￥</span>200</h4>
					</div>
				</a></li>
				<li><a href="">
					<p class="label">班型标签</p>
					<h3><span class="han">寒</span><span class="ying">英</span>四年级英语寒假视频直播课</h3>
					<p class="infor"><i class="icon iconfont">&#xe700;</i>崂山校区</p>
					<p class="infor"><i class="icon iconfont">&#xe606;</i>2018.02.20 20.00</p>
					<div class="teacher_img">
						<span><img src="images/test_03.jpg"><br>白帆</span>
						<span><img src="images/test_03.jpg"><br>陈敬凯</span>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
					<div class="was">
						<p class="left">已有<span>6666</span>人购买</p>
						<h4 class="right"><span>￥</span>200</h4>
					</div>
				</a></li>
				<li><a href="">
					<p class="label">班型标签</p>
					<h3><span class="han">寒</span><span class="ying">英</span>四年级英语寒假视频直播课</h3>
					<p class="infor"><i class="icon iconfont">&#xe700;</i>崂山校区</p>
					<p class="infor"><i class="icon iconfont">&#xe606;</i>2018.02.20 20.00</p>
					<div class="teacher_img">
						<span><img src="images/test_03.jpg"><br>白帆</span>
						<span><img src="images/test_03.jpg"><br>陈敬凯</span>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
					<div class="was">
						<p class="left">已有<span>6666</span>人购买</p>
						<h4 class="right"><span>￥</span>200</h4>
					</div>
				</a></li>
				<li><a href="">
					<p class="label">班型标签</p>
					<h3><span class="han">寒</span><span class="ying">英</span>四年级英语寒假视频直播课</h3>
					<p class="infor"><i class="icon iconfont">&#xe700;</i>崂山校区</p>
					<p class="infor"><i class="icon iconfont">&#xe606;</i>2018.02.20 20.00</p>
					<div class="teacher_img">
						<span><img src="images/test_03.jpg"><br>白帆</span>
						<span><img src="images/test_03.jpg"><br>陈敬凯</span>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
					<div class="was">
						<p class="left">已有<span>6666</span>人购买</p>
						<h4 class="right"><span>￥</span>200</h4>
					</div>
				</a></li>
				<li><a href="">
					<p class="label">班型标签</p>
					<h3><span class="han">寒</span><span class="ying">英</span>四年级英语寒假视频直播课</h3>
					<p class="infor"><i class="icon iconfont">&#xe700;</i>崂山校区</p>
					<p class="infor"><i class="icon iconfont">&#xe606;</i>2018.02.20 20.00</p>
					<div class="teacher_img">
						<span><img src="images/test_03.jpg"><br>白帆</span>
						<span><img src="images/test_03.jpg"><br>陈敬凯</span>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
					<div class="was">
						<p class="left">已有<span>6666</span>人购买</p>
						<h4 class="right"><span>￥</span>200</h4>
					</div>
				</a></li>
			</ul>
			<div class="clearfix"></div>
		</div>
	</div> 
</div>
<div class="footer">
	<div class="main">
		<p>此处是标注标注标注此处是标注标注标注此处是标</p>
		<p>此处是标注标注标注此处是标注标注标注此处是标此处是标注标注标注此处是标注</p>
		<p>此处是标注标注标注此处是标注标注标注此处是标注标注标注</p>
	</div>
</div>




<script type="text/javascript">
$(function(){
	$('.header .nav ul li').hover(function(){
		$(this).children('div').slideDown();
	},function(){
		$(this).children('div').slideUp();
	})
})
</script>
</body>
</html>