{include file="common/header"}

<div class="banner">
  <div class="swiper-container">
    <div class="swiper-wrapper">
	    <div class="swiper-slide"><img src="__PUBLIC__/pc/images/banner.jpg" alt=""></div>
		<div class="swiper-slide"><img src="__PUBLIC__/pc/images/banner.jpg" alt=""></div>
	    <div class="swiper-slide"><img src="__PUBLIC__/pc/images/banner.jpg" alt=""></div>  
    </div>
    <!-- 如果需要分页器-->
    <div class="swiper-pagination"></div>
    <!-- 如果需要导航按钮 -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
<div class="clearfix"></div>
<script>
var mySwiper = new Swiper('.banner .swiper-container',{
    loop: true,
	autoplay:5000,
    autoplayDisableOnInteraction: false,
	speed:500,
	// 如果需要分页器
    pagination: '.banner .swiper-pagination',
	paginationClickable: true,
	grabCursor : true,
	navigation: {
      nextEl: '.banner .swiper-button-next',
      prevEl: '.banner .swiper-button-prev',
    },
	parallax:true,
	observer:true,
}); 
</script>
<div class="container">
	<div class="tab">
		<div class="main">
			<span>年级</span>
			<a href="">一年级</a>
			<a href="">二年级</a>
			<a href="">三年级</a>
			<a href="">四年级</a>
			<a href="">五年级</a>
			<a href="">初一</a>
			<a href="">初二</a>
			<a href="">初三</a>
			<a href="">初四</a>
			<a href="">高一</a>
			<a href="">高二</a>
			<a href="" class="on">高三</a>
		</div>
	</div>
	<div class="recommend">
		<div class="main">
			<h2 class="title">课程推荐<a href="">更多<i class="icon iconfont">&#xe617;</i></a></h2>
			<ul class="line">
				<li><a href="">
					<p class="label on">班型标签</p>
					<h3><span class="han">寒</span><span class="ying">英</span>四年级英语寒假视频直播课</h3>
					<p class="infor"><i class="icon iconfont">&#xe700;</i>崂山校区</p>
					<p class="infor"><i class="icon iconfont">&#xe606;</i>2018.02.20 20.00</p>
					<div class="teacher_img">
						<span><img src="__PUBLIC__/pc/images/test_03.jpg"><br>白帆</span>
						<span><img src="__PUBLIC__/pc/images/test_03.jpg"><br>陈敬凯</span>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
					<div class="was">
						<p class="left">已有<span>6666</span>人购买</p>
						<h4 class="right"><span>￥</span>200</h4>
					</div>
				</a></li>
				<li><a href="">
					<p class="label">班型标签</p>
					<h3><span class="han">寒</span><span class="ying">英</span>四年级英语寒假视频直播课</h3>
					<p class="infor"><i class="icon iconfont">&#xe700;</i>崂山校区</p>
					<p class="infor"><i class="icon iconfont">&#xe606;</i>2018.02.20 20.00</p>
					<div class="teacher_img">
						<span><img src="__PUBLIC__/pc/images/test_03.jpg"><br>白帆</span>
						<span><img src="__PUBLIC__/pc/images/test_03.jpg"><br>陈敬凯</span>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
					<div class="was">
						<p class="left">已有<span>6666</span>人购买</p>
						<h4 class="right"><span>￥</span>200</h4>
					</div>
				</a></li>
				<li><a href="">
					<p class="label">班型标签</p>
					<h3><span class="han">寒</span><span class="ying">英</span>四年级英语寒假视频直播课</h3>
					<p class="infor"><i class="icon iconfont">&#xe700;</i>崂山校区</p>
					<p class="infor"><i class="icon iconfont">&#xe606;</i>2018.02.20 20.00</p>
					<div class="teacher_img">
						<span><img src="__PUBLIC__/pc/images/test_03.jpg"><br>白帆</span>
						<span><img src="__PUBLIC__/pc/images/test_03.jpg"><br>陈敬凯</span>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
					<div class="was">
						<p class="left">已有<span>6666</span>人购买</p>
						<h4 class="right"><span>￥</span>200</h4>
					</div>
				</a></li>
				<li><a href="">
					<p class="label">班型标签</p>
					<h3><span class="han">寒</span><span class="ying">英</span>四年级英语寒假视频直播课</h3>
					<p class="infor"><i class="icon iconfont">&#xe700;</i>崂山校区</p>
					<p class="infor"><i class="icon iconfont">&#xe606;</i>2018.02.20 20.00</p>
					<div class="teacher_img">
						<span><img src="__PUBLIC__/pc/images/test_03.jpg"><br>白帆</span>
						<span><img src="__PUBLIC__/pc/images/test_03.jpg"><br>陈敬凯</span>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
					<div class="was">
						<p class="left">已有<span>6666</span>人购买</p>
						<h4 class="right"><span>￥</span>200</h4>
					</div>
				</a></li>
			</ul>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="recommend color">
		<div class="main">
			<h2 class="title">课程推荐<a href="">更多<i class="icon iconfont">&#xe617;</i></a></h2>
			<ul class="clearfix">
				<li style="width: 48.2%;padding:0;"><img src="__PUBLIC__/pc/images/pc_12.jpg" width="100%"></li>
				<li><a href="">
					<p class="label on">班型标签</p>
					<h3><span class="han">寒</span><span class="ying">英</span>四年级英语寒假视频直播课</h3>
					<p class="infor"><i class="icon iconfont">&#xe700;</i>崂山校区</p>
					<p class="infor"><i class="icon iconfont">&#xe606;</i>2018.02.20 20.00</p>
					<div class="teacher_img">
						<span><img src="__PUBLIC__/pc/images/test_03.jpg"><br>白帆</span>
						<span><img src="__PUBLIC__/pc/images/test_03.jpg"><br>陈敬凯</span>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
					<div class="was">
						<p class="left">已有<span>6666</span>人购买</p>
						<h4 class="right"><span>￥</span>200</h4>
					</div>
				</a></li>
				<li><a href="">
					<p class="label">班型标签</p>
					<h3><span class="han">寒</span><span class="ying">英</span>四年级英语寒假视频直播课</h3>
					<p class="infor"><i class="icon iconfont">&#xe700;</i>崂山校区</p>
					<p class="infor"><i class="icon iconfont">&#xe606;</i>2018.02.20 20.00</p>
					<div class="teacher_img">
						<span><img src="__PUBLIC__/pc/images/test_03.jpg"><br>白帆</span>
						<span><img src="__PUBLIC__/pc/images/test_03.jpg"><br>陈敬凯</span>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
					<div class="was">
						<p class="left">已有<span>6666</span>人购买</p>
						<h4 class="right"><span>￥</span>200</h4>
					</div>
				</a></li>
				<li><a href="">
					<p class="label on">班型标签</p>
					<h3><span class="han">寒</span><span class="ying">英</span>四年级英语寒假视频直播课</h3>
					<p class="infor"><i class="icon iconfont">&#xe700;</i>崂山校区</p>
					<p class="infor"><i class="icon iconfont">&#xe606;</i>2018.02.20 20.00</p>
					<div class="teacher_img">
						<span><img src="__PUBLIC__/pc/images/test_03.jpg"><br>白帆</span>
						<span><img src="__PUBLIC__/pc/images/test_03.jpg"><br>陈敬凯</span>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
					<div class="was">
						<p class="left">已有<span>6666</span>人购买</p>
						<h4 class="right"><span>￥</span>200</h4>
					</div>
				</a></li>
				<li><a href="">
					<p class="label">班型标签</p>
					<h3><span class="han">寒</span><span class="ying">英</span>四年级英语寒假视频直播课</h3>
					<p class="infor"><i class="icon iconfont">&#xe700;</i>崂山校区</p>
					<p class="infor"><i class="icon iconfont">&#xe606;</i>2018.02.20 20.00</p>
					<div class="teacher_img">
						<span><img src="__PUBLIC__/pc/images/test_03.jpg"><br>白帆</span>
						<span><img src="__PUBLIC__/pc/images/test_03.jpg"><br>陈敬凯</span>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
					<div class="was">
						<p class="left">已有<span>6666</span>人购买</p>
						<h4 class="right"><span>￥</span>200</h4>
					</div>
				</a></li>
				<li><a href="">
					<p class="label">班型标签</p>
					<h3><span class="han">寒</span><span class="ying">英</span>四年级英语寒假视频直播课</h3>
					<p class="infor"><i class="icon iconfont">&#xe700;</i>崂山校区</p>
					<p class="infor"><i class="icon iconfont">&#xe606;</i>2018.02.20 20.00</p>
					<div class="teacher_img">
						<span><img src="__PUBLIC__/pc/images/test_03.jpg"><br>白帆</span>
						<span><img src="__PUBLIC__/pc/images/test_03.jpg"><br>陈敬凯</span>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
					<div class="was">
						<p class="left">已有<span>6666</span>人购买</p>
						<h4 class="right"><span>￥</span>200</h4>
					</div>
				</a></li>
				<li><a href="">
					<p class="label">班型标签</p>
					<h3><span class="han">寒</span><span class="ying">英</span>四年级英语寒假视频直播课</h3>
					<p class="infor"><i class="icon iconfont">&#xe700;</i>崂山校区</p>
					<p class="infor"><i class="icon iconfont">&#xe606;</i>2018.02.20 20.00</p>
					<div class="teacher_img">
						<span><img src="__PUBLIC__/pc/images/test_03.jpg"><br>白帆</span>
						<span><img src="__PUBLIC__/pc/images/test_03.jpg"><br>陈敬凯</span>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
					<div class="was">
						<p class="left">已有<span>6666</span>人购买</p>
						<h4 class="right"><span>￥</span>200</h4>
					</div>
				</a></li>
			</ul>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="recommend color" style="padding-bottom: 30px;">
		<div class="main">
			<h2 class="title">课程推荐<a href="">更多<i class="icon iconfont">&#xe617;</i></a></h2>
			<ul class="clearfix">
				<li style="width: 48.2%;padding:0;"><img src="__PUBLIC__/pc/images/pc_15.jpg" width="100%"></li>
				<li><a href="">
					<p class="label on">班型标签</p>
					<h3><span class="han">寒</span><span class="ying">英</span>四年级英语寒假视频直播课</h3>
					<p class="infor"><i class="icon iconfont">&#xe700;</i>崂山校区</p>
					<p class="infor"><i class="icon iconfont">&#xe606;</i>2018.02.20 20.00</p>
					<div class="teacher_img">
						<span><img src="__PUBLIC__/pc/images/test_03.jpg"><br>白帆</span>
						<span><img src="__PUBLIC__/pc/images/test_03.jpg"><br>陈敬凯</span>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
					<div class="was">
						<p class="left">已有<span>6666</span>人购买</p>
						<h4 class="right"><span>￥</span>200</h4>
					</div>
				</a></li>
				<li><a href="">
					<p class="label">班型标签</p>
					<h3><span class="han">寒</span><span class="ying">英</span>四年级英语寒假视频直播课</h3>
					<p class="infor"><i class="icon iconfont">&#xe700;</i>崂山校区</p>
					<p class="infor"><i class="icon iconfont">&#xe606;</i>2018.02.20 20.00</p>
					<div class="teacher_img">
						<span><img src="__PUBLIC__/pc/images/test_03.jpg"><br>白帆</span>
						<span><img src="__PUBLIC__/pc/images/test_03.jpg"><br>陈敬凯</span>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
					<div class="was">
						<p class="left">已有<span>6666</span>人购买</p>
						<h4 class="right"><span>￥</span>200</h4>
					</div>
				</a></li>
				<li><a href="">
					<p class="label">班型标签</p>
					<h3><span class="han">寒</span><span class="ying">英</span>四年级英语寒假视频直播课</h3>
					<p class="infor"><i class="icon iconfont">&#xe700;</i>崂山校区</p>
					<p class="infor"><i class="icon iconfont">&#xe606;</i>2018.02.20 20.00</p>
					<div class="teacher_img">
						<span><img src="__PUBLIC__/pc/images/test_03.jpg"><br>白帆</span>
						<span><img src="__PUBLIC__/pc/images/test_03.jpg"><br>陈敬凯</span>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
					<div class="was">
						<p class="left">已有<span>6666</span>人购买</p>
						<h4 class="right"><span>￥</span>200</h4>
					</div>
				</a></li>
				<li><a href="">
					<p class="label">班型标签</p>
					<h3><span class="han">寒</span><span class="ying">英</span>四年级英语寒假视频直播课</h3>
					<p class="infor"><i class="icon iconfont">&#xe700;</i>崂山校区</p>
					<p class="infor"><i class="icon iconfont">&#xe606;</i>2018.02.20 20.00</p>
					<div class="teacher_img">
						<span><img src="__PUBLIC__/pc/images/test_03.jpg"><br>白帆</span>
						<span><img src="__PUBLIC__/pc/images/test_03.jpg"><br>陈敬凯</span>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
					<div class="was">
						<p class="left">已有<span>6666</span>人购买</p>
						<h4 class="right"><span>￥</span>200</h4>
					</div>
				</a></li>
				<li><a href="">
					<p class="label">班型标签</p>
					<h3><span class="han">寒</span><span class="ying">英</span>四年级英语寒假视频直播课</h3>
					<p class="infor"><i class="icon iconfont">&#xe700;</i>崂山校区</p>
					<p class="infor"><i class="icon iconfont">&#xe606;</i>2018.02.20 20.00</p>
					<div class="teacher_img">
						<span><img src="__PUBLIC__/pc/images/test_03.jpg"><br>白帆</span>
						<span><img src="__PUBLIC__/pc/images/test_03.jpg"><br>陈敬凯</span>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
					<div class="was">
						<p class="left">已有<span>6666</span>人购买</p>
						<h4 class="right"><span>￥</span>200</h4>
					</div>
				</a></li>
				<li><a href="">
					<p class="label">班型标签</p>
					<h3><span class="han">寒</span><span class="ying">英</span>四年级英语寒假视频直播课</h3>
					<p class="infor"><i class="icon iconfont">&#xe700;</i>崂山校区</p>
					<p class="infor"><i class="icon iconfont">&#xe606;</i>2018.02.20 20.00</p>
					<div class="teacher_img">
						<span><img src="__PUBLIC__/pc/images/test_03.jpg"><br>白帆</span>
						<span><img src="__PUBLIC__/pc/images/test_03.jpg"><br>陈敬凯</span>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
					<div class="was">
						<p class="left">已有<span>6666</span>人购买</p>
						<h4 class="right"><span>￥</span>200</h4>
					</div>
				</a></li>
			</ul>
			<div class="clearfix"></div>
		</div>
	</div> 
</div>
{include file="common/footer"}