<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title></title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/index/css/reset.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/index/css/dw.css">
<style type="text/css">
    body,html{max-width:none;}
    @media screen and (max-width: 768px){
        .bg_img{
            background-image: url(public/static/index/images/sq_m.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            
            background-position: center center;}
            .bg_img{min-width: 100%;}
        .top .nav{display: none;}
        .container .content .download{width:  100%;right:0;top:65%;}
        .container .content .download a{width: 42%;margin-right: 0;margin-left:30%;}
        .container .content .download span{display: none}
    }
</style>
</head>

<body>
<div class="container">
    <div class="bg_img"></div>
    <div class="top">
        <div class="main">
            <div class="logo">
                <img src="__PUBLIC__/index/images/logo.png" width="150">
            </div>
            <div class="nav">
                <ul> 
                    <li><a href="http://www.jinshiedu.com/">返回首页</a></li>
                    <li><a href="http://www.jinshiedu.com/course/explore">选课中心</a></li>
                    <li><a href="http://www.jinshiedu.net/">直播课程</a></li>
                    <li><a href="http://www.jinshiedu.com/group/1">论坛</a></li>
                    <li><a href="http://www.jinshiedu.com/article">活动资讯</a></li>
                    <li><a href="http://www.jinshiedu.com/teacher">金石名师</a></li>
                    <li><a href="http://www.jinshiedu.com/page/xiaoqu">校区VR全景</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    
    <div class="content">
        <div class="download">
            <a href="http://ftp.jinshiedu.net/stuappftp/1.apk" class="android">
                <img src="__PUBLIC__/index/images/android.png">
            </a>
            <a href="https://itunes.apple.com/cn/app/%E9%87%91%E7%9F%B3%E6%95%99%E8%82%B2/id1437224611??l=zh&ls=1&mt=8" class="ios">
                <img src="__PUBLIC__/index/images/appstore.png">
            </a>
            <span>
                <img src="__PUBLIC__/index/images/download.png" class="littleImg">
                <img src="__PUBLIC__/index/images/er.png" class="bigImg" width="200">
            </span>
        </div>
    </div>
    <div class="footer">
        <p>Powered by 金石教育 课程存档</p>
        <p>课程内容版权均归 青岛金石教育科技股份有限公司 所有 鲁ICP备12014631号-2</p>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/index/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
    $(function(){
        //平台、设备和操作系统
        var system = {
            win: false,
            mac: false,
            xll: false,
            ipad:false
        };
        //检测平台
        var p = navigator.platform;
        system.win = p.indexOf("Win") == 0;
        system.mac = p.indexOf("Mac") == 0;
        system.x11 = (p == "X11") || (p.indexOf("Linux") == 0);
        system.ipad = (navigator.userAgent.match(/iPad/i) != null)?true:false;
        //跳转语句，如果是手机访问就自动跳转到wap.baidu.com页面
        if (system.win || system.mac || system.xll||system.ipad) {
 
        } else {
            var u = navigator.userAgent, app = navigator.appVersion;
            var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1; //g
            var isIOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
            if (isAndroid) {
               //这个是安卓操作系统
               $('.container .content .download a.ios').css('display','none');
               window.location.href = "http://ftp.jinshiedu.net/stuappftp/1.apk";
            }
            if (isIOS) {
        　　　　//这个是ios操作系统
            $('.container .content .download a.android').css('display','none');
                window.location.href = "https://itunes.apple.com/cn/app/%E9%87%91%E7%9F%B3%E6%95%99%E8%82%B2/id1437224611??l=zh&ls=1&mt=8";
            }
 
            
        }

        
        $('.download span').hover(function(){
            $('.download a').animate({opacity:0},200);
        },function(){
            $('.download a').animate({opacity:1},200);
        });
        var bodyHeight=$(window).height();
        $('.bg_img').css('height',bodyHeight);



    })
</script>
</body>
</html>