{include file="common/header"}

<body>
<form action="" id="payForm"></form>
<div class="payForm">
	<input type="text" name="" placeholder="姓名" form="payForm">
	<input type="number" name="" placeholder="电话" form="payForm">
	<input type="text" name="" placeholder="地址[选填]" form="payForm">
</div>
<div class="success">
	<h1>提交订单完成<i class="icon iconfont">&#xe663;</i></h1>
	<a href="#">订单详情</a><a href="index.html">首页</a>
</div>
<div class="cart" id="payBox">
	<div class="main xjTitle">
		<p class="line"></p>
		<h1>你可能还想浏览</h1>
	</div>
	<div class="cartBox pay succ">
		<ul>
			<li>
				<div class="topLi clearfix">
					<a href="#">
						<div class="main">
							<img src="images/gw_03.jpg" alt="" class="left">
							<div class="left cartTxt">
								<h2>[寒假课程报名] 金石教育七年级语文基金班</h2>
								<p>海尔路校区丨许向前</p>
								<p>体验课1节</p>
							</div>
						</div>
					</a>
				</div>
				<div class="botLi main">
					<h3>￥299</h3>
				</div>
			</li>
			<li>
				<div class="topLi clearfix">
					<a href="#">
						<div class="main">
							<img src="images/gw_03.jpg" alt="" class="left">
							<div class="left cartTxt">
								<h2>[寒假课程报名] 金石教育七年级语文基金班</h2>
								<p>海尔路校区丨许向前</p>
								<p>体验课1节</p>
							</div>
						</div>
					</a>
				</div>
				<div class="botLi main">
					<h3>￥299</h3>
				</div>
			</li>
		</ul>
	</div>
</div>


<div class="fixedNav">
	<div class="main">
		<ul>
			<li><a href="" class="active">
				<i class="icon iconfont">&#xe65e;</i>
				<p>首页</p>
			</a></li>
			<li><a href="">
				<i class="icon iconfont">&#xe626;</i>
				<p>课程</p>
			</a></li>
			<li><a href="">
				<i class="icon iconfont">&#xe617;</i>
				<p>购物车</p>
			</a></li>
			<li><a href="">
				<i class="icon iconfont">&#xe638;</i>
				<p>我的</p>
			</a></li>
		</ul>
	</div>
</div>

{include file="common/footer"}
</body>
</html>