{include file="common/header"}

<body>
<div id="pay">
<form action="" id="payForm"></form>
	<div class="payForm">
		<input type="text" name="" placeholder="姓名" form="payForm" v-model="name">
		<input type="number" name="" placeholder="电话" form="payForm" v-model="phone">
		<input type="text" name="" placeholder="地址[选填]" form="payForm" v-model="address">
	</div>
<div class="cart" id="payBox">
	<div class="cartBox pay">
		<ul>
			<li v-for="v in products">
				<div class="topLi clearfix">
					<a href="#">
						<div class="main">
							<img :src="v.IMG" alt="" class="left">
							<div class="left cartTxt">
								<h2>{{v.NAME}}</h2>
								<p>{{v.SCHOOL_NAME}}丨{{v.TEACHERNAME}}</p>
								<p>课程定金</p>
							</div>
						</div>
					</a>
				</div>
				<div class="botLi main">
					<h3>￥{{v.PRICE}}</h3>
					<div class="right">×<span>{{v.NUM}}</span></div>
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="discount">
	<ul>
		<!-- <li>
			<div class="main quan">
				<a href="javascript:void(0)" @click="choose()">
					<h2>可用优惠券<i class="icon iconfont">&#xe615;</i><span>-￥200</span></h2>
				</a>
			</div>
		</li> -->
		<li>
			<div class="main">
				<h2>课程金额<span>￥{{allPrice}}</span></h2>
			</div>
		</li>
		<!-- <li>
			<div class="main">
				<h2>优惠金额<span>-￥{{discountsPrice}}</span></h2>
			</div>
		</li> -->
		<li>
			<div class="main">
				<h2>总价<span>￥{{allMoney}}</span></h2>
			</div>
		</li>
	</ul>
	<a href="javascript:void(0)" class="sub" form="payForm" @click="get()">微信支付</a>
</div>

<!-- 领取商品券 -->
<div class="test_lay sp_quan">
	<div class="quan_box">
		<div class="main2">
			<h3>选择票券</h3>
			<ul>
				<li v-for="v in disList">
					<p class="sp_time">{{v.DATETIME}}至{{v.ENDTIME}}<span>满1000减{{v.PRICE}}</span></p>
					<div class="clear on"><a href="javascript:void(0)">
						<div class="left">
							<h1>{{v.PRICE}}</h1>
							<p>RMB</p>
						</div>
						<!-- <div class="right">领取票券<i class="icon iconfont">&#xe615;</i></div> -->
					</a></div>
				</li>
				<!-- <li>
					<p class="sp_time">有效期至2017.06.15<span>满1000减200</span></p>
					<div class="clear"><a href="javascript:void(0)">
						<div class="left">
							<h1>200</h1>
							<p>RMB</p>
						</div>
						
					</a></div>
				</li> -->
			</ul>
			<a href="javascript:void(0)" class="back">返回</a>
		</div>
	</div>
</div>
</div> 
{include file="common/footer"}
<script type="text/javascript">
//setcookie('userid',this.userid);
var id="<?php echo @$_GET['id']?>";
	var vue=new Vue({
		el:'#pay',
		data:{
			userid:'1',
			name:'',
			phone:'',
			address:'',
			products:[],
			currid:'',
			num:'',
			allPrice:'',
			discountsPrice:'',
			allMoney:'',
			disList:[]
			
		},
		methods:{
			get:function(){
				var userinfo=[this.name,this.phone,this.address];
				var goodsid=[];
				for(var i=0;i<this.products.length;i++){
					goodsid[i]={'id':this.products[i]['CURRICULUMID'],'num':this.products[i]['NUM']};
				}
				
				if(!this.name){
	                layer.alert('姓名不能为空！');
	                return;
            	}
            	if(!this.phone){
	                layer.alert('电话号码不能为空！');
	                return;
            	}
            	if(!(/^1(3|4|5|7|8)\d{9}$/.test(this.phone))){ 
				    layer.alert("手机号码有误，请重填");  
				    return false;
				}

				this.$http.post(baseurl+'?s=index/Order/suborder',{'goodsid':goodsid,'userinfo':userinfo}).then(res=>{
					var data=eval('('+res.bodyText+')');
					if(data['STATE']=='1'){
						var val=JSON.parse(data['jsApiParameters']);
						jsApiCall(val);
					}else{
						layer.msg(data['msg']);
					}
				},res=>{
					console.log('请求失败,请检查Network!');
				})
			},
			choose:function(){
				this.$http.post(baseurl+'?s=index/Center/my_coupon',{list:1,'userid':this.userid}).then(res=>{
					 this.disList=eval('('+res.bodyText+')');
					 //console.log(this.disList);
				},res=>{
					console.log('请求失败,请检查Network!');
				})
			}
		},
		
		created:function(){
			this.$http.post(baseurl+'?s=index/Shopcart/get_user',{list:1,'userid':this.userid}).then(res=>{
				this.name=eval('('+res.bodyText+')')[0]['NAME'];
				this.phone=eval('('+res.bodyText+')')[0]['PHONE'];
			},res=>{
				console.log('请求失败,请检查Network!');
			});
			this.$http.post(baseurl+'?s=index/Shopcart/cart',{list:1,'userid':this.userid,'curriculumid':id}).then(res=>{
				this.products=eval('('+res.bodyText+')');
				//this.currid=eval('('+res.bodyText+')')
				var priceArr=[];
				for(var i=0;i<this.products.length;i++){
				     priceArr[i]={'price':this.products[i]['PRICE'],'num':this.products[i]['NUM']};
				     //priceArr.join('+');
				     priceArr[i]=priceArr[i]['price']*priceArr[i]['num'];
				}
				this.allPrice=eval(priceArr.join('+'));
				this.allMoney=this.allPrice-this.discountsPrice;
				//console.log(priceArr);
			},res=>{
				console.log('请求失败,请检查Network!');
			});
		}
	});
		//调用微信JS api 支付

	function jsApiCall(jsApiParameters)
	{
		WeixinJSBridge.invoke(
			'getBrandWCPayRequest',
			jsApiParameters,
			function(res){
				WeixinJSBridge.log(res.err_msg);
				window.location.href=baseurl+"?s=index/order/pay_success";

			}
		);
	}

	function callpay()
	{
		if (typeof WeixinJSBridge == "undefined"){
		    if( document.addEventListener ){
		        document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
		    }else if (document.attachEvent){
		        document.attachEvent('WeixinJSBridgeReady', jsApiCall); 
		        document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
		    }
		}else{
		    jsApiCall();
		}
	}
</script>

</body>
</html>