{include file="common/header"}

<body>
<form action="" id="payForm"></form>
	<div class="payForm">
		<input type="text" name="" placeholder="姓名" form="payForm">
		<input type="number" name="" placeholder="电话" form="payForm">
		<input type="text" name="" placeholder="地址[选填]" form="payForm">
	</div>
<div class="cart" id="payBox">
	<div class="cartBox pay">
		<ul>
			<li>
				<div class="topLi clearfix">
					<a href="#">
						<div class="main">
							<img src="images/gw_03.jpg" alt="" class="left">
							<div class="left cartTxt">
								<h2>[寒假课程报名] 金石教育七年级语文基金班</h2>
								<p>海尔路校区丨许向前</p>
								<p>课程定金</p>
							</div>
						</div>
					</a>
				</div>
				<div class="botLi main">
					<h3>￥299</h3>
					<div class="right">×<span>1</span></div>
				</div>
			</li>
			<li>
				<div class="topLi clearfix">
					<a href="#">
						<div class="main">
							<img src="images/gw_03.jpg" alt="" class="left">
							<div class="left cartTxt">
								<h2>[寒假课程报名] 金石教育七年级语文基金班</h2>
								<p>海尔路校区丨许向前</p>
								<p>课程定金</p>
							</div>
						</div>
					</a>
				</div>
				<div class="botLi main">
					<h3>￥299</h3>
					<div class="right">×<span>1</span></div>
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="discount">
	<ul>
		<li>
			<div class="main">
				<a href="#">
					<h2>可用优惠券<i class="icon iconfont">&#xe615;</i><span>-￥200</span></h2>
				</a>
			</div>
		</li>
		<li>
			<div class="main">
				<h2>课程金额<span>￥1299</span></h2>
			</div>
		</li>
		<li>
			<div class="main">
				<h2>优惠金额<span>-￥200</span></h2>
			</div>
		</li>
		<li>
			<div class="main">
				<h2>总价<span>￥1099</span></h2>
			</div>
		</li>
	</ul>
	<button type="submit" form="payForm">微信支付</button>
</div>

{include file="common/footer"}


</body>
</html>