<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.4&ak=s4u13aUZAj36D4XWMm52TexzlwGGg7GG"></script>

<script type="text/javascript" src="__PUBLIC__/index/js/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/index/js/mdate.js"></script>
<script type="text/javascript" src="__PUBLIC__/index/js/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="__PUBLIC__/index/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/index/js/iscroll.js"></script>
<script type="text/javascript" src="__PUBLIC__/index/js/hc-mobile-nav.js"></script>
<script type="text/javascript" src="__PUBLIC__/index/js/echarts.js"></script>
<script type="text/javascript" src="__PUBLIC__/index/js/common2.js"></script>
