<div class="fixedNav">
	<div class="main">
		<ul>
			<li>
				<a href="<?php echo BASE_URL;?>?s=index/index/index" <?php if(request()->controller()=='Index') echo 'class="active"'?>>
				<i class="icon iconfont">&#xe65e;</i>
				<p>首页</p>
			</a></li>
			<li>
				<a href="<?php echo BASE_URL;?>?s=index/lesson/index" <?php if(request()->controller()=='Lesson') echo 'class="active"'?>>
				<i class="icon iconfont">&#xe626;</i>
				<p>课程</p>
			</a></li>
			<li>
				<a href="<?php echo BASE_URL;?>?s=index/shopcart/cart" <?php if(request()->controller()=='Shopcart') echo 'class="active"'?>>
				<i class="icon iconfont">&#xe617;</i>
				<p>购物车</p>
			</a></li>
			<li>
				<a href="<?php echo BASE_URL;?>?s=index/center/index" <?php if(request()->controller()=='Center') echo 'class="active"'?>>
				<i class="icon iconfont">&#xe638;</i>
				<p>我的</p>
			</a></li>
		</ul>
	</div>
</div>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.4&ak=s4u13aUZAj36D4XWMm52TexzlwGGg7GG"></script>
<script type="text/javascript" src="__PUBLIC__/index/js/area.js"></script>
<script type="text/javascript" src="__PUBLIC__/index/js/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/index/js/mdate.js"></script>
<script type="text/javascript" src="__PUBLIC__/index/js/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="__PUBLIC__/index/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/index/js/iscroll.js"></script>
<script type="text/javascript" src="__PUBLIC__/index/js/hc-mobile-nav.js"></script>
<script type="text/javascript" src="__PUBLIC__/index/js/echarts.js"></script>
<script type="text/javascript" src="__PUBLIC__/index/js/common2.js"></script>

