{include file="common/header"}

<body>
<div id="cart">
<div class="cart">
	<form action="" id="cartForm"></form>
	<div class="cartTop">
		<div class="main">
			<input type="checkbox" name="" form="cartForm" class="shopChoice" id="qx">
			<span>全部选择</span>
			<a href="javascript:;" id="sc"><i class="icon iconfont">&#xe732;</i></a>
		</div>
	</div>
	<div class="cartBox">
		<ul>
			<li v-for="t in carts">
				<div class="topLi clearfix">
					<a href="javascript:;">
						<div class="main">
							<input type="checkbox" name="" class="left son_check" form="cartForm" :value="t.ID">
							<img :src="t.IMG" alt="" class="left">
							<div class="left cartTxt">
								<h2>{{t.NAME}}</h2>
								<p>{{t.SCHOOL_NAME}}丨{{t.TEACHERNAME}}</p>
								<p>课程定金</p>
							</div>
						</div>
					</a>
				</div>
				<div class="botLi main">
					<h3>￥<span class="price1">{{t.PRICE}}</span></h3>
					<div class="right">
						<a href="javascript:void(0)" val='1' class="reduce num">-</a><span>{{t.NUM}}</span><a href="javascript:void(0)" class="plus num">+</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="result">
	<div class="main">
		<h1>合计：￥<span id="allmoney">0</span></h1>
		<a href="javascript:void(0)" @click="gopay()">立即购买</a>
	</div>
</div>
</div>

<script>
	/*function fun(a){
  var sum = 0;
  for(var i = 0; i < a.length; i++){
    sum += a[i];
  }
  //alert(sum);
}
var arr = [1,2,3,4,5];
fun(arr);*/


//==================================全选与取消全选===============================================
//找到id为qx的input,为其绑定单击事件为function：
		
		window.onload=function(){
			var chbAll=document.getElementById('qx');
			chbAll.onclick=function(){
				//获得cartBox下ul下所有第一个li中的input,保存在chbs
				var chbs=document.querySelectorAll(".cartBox ul li input");
				//console.log(chbs);
				//遍历chbs中每个chb
				for(var i=0;i<chbs.length;i++){
				  //chbs数组中当前chb的checked等于事件中当前chb的checked
				  chbs[i].checked=this.checked;
				}
				cilci_all_money();
			}
		

			//找到cartBox下ul下所有第一个li中的input,保存在chbs
			var chbs=document.querySelectorAll(".cartBox ul li input");
			//遍历chbs
			for(var i=0;i<chbs.length;i++){
				chbs[i].onclick=check;//为当前chb绑定点击事件为check
			}
			//定义函数check
			function check(){
				//如果当前chb未选中
				if(!this.checked){
					chbAll.checked=false;//chbAll也改为未选中
				}else{
					//获得cartBox下ul下所有第一个li中的input,保存在chbs
					var chbs=document.querySelectorAll(".cartBox ul li input:not(:checked)");
					//如果chbs的length等于0
					if(chbs.length==0){chbAll.checked=true;}//chbAll也改为选中
					//否则chbAll改为未选中
					else{chbAll.checked=false;}
				}
			}
		}


var vue=new Vue({
  el: '#cart',
  data: {
  	id:'1',
    carts:[
	    
    ]
  },
  methods:{
  	gopay:function(arrid){
  		window.location.href=baseurl+'?s=index/Shopcart/pay&id='+arrid;
  	}
  },
  created:function(){
  	this.$http.post(baseurl+'?s=index/Shopcart/cart',{list:1,'id':this.id}).then(res=>{
  			this.carts=eval('('+res.bodyText+')');
  			
  	},res=>{
  		console.log('请求失败,请检查Network!');
  	})
  }
})
</script>
{include file="common/footer"}
</body>
</html>
