{include file="common/header"}

<body>
<div id="cart">

<div class="cart">
	<form action="" id="cartForm"></form>
	<div class="cartTop">
		<div class="main">
			<input type="checkbox" name="" form="cartForm" class="shopChoice" id="qx">
			<span>全部选择</span>
			<a href="javascript:;" id="sc" @click="remove()"><i class="icon iconfont">&#xe732;</i></a>
		</div>
	</div>
	<div class="cartBox">
		<ul>
			<li v-for="(t,index) in cart">
				<div class="topLi clearfix">
					<a href="javascript:void(0)">
						<div class="main">
							<input type="checkbox" name="" class="left son_check" form="cartForm" :val="t.CARTID" :value="t.CURRICULUMID" onclick="cmoney()" checked="checked">
							<img :src="t.IMG" alt="" class="left">
							<div class="left cartTxt">
								<h2>{{t.NAME}}</h2>
								<p>{{t.SCHOOL_NAME}}丨{{t.TEACHERNAME}}</p>
								<p>课程定金</p>
							</div>
						</div>
					</a>
				</div>
				<div class="botLi main">
					<h3>￥<span class="price1">{{t.PRICE}}</span></h3>
					<div class="right">
						<a href="javascript:void(0)" val='1' class="reduce num" @click="add('-',index)">-</a><span>{{t.NUM}}</span><a href="javascript:void(0)" class="plus num" @click="add('+',index)">+</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="result">
	<div class="main">
		<h1>合计：￥<span id="allmoney">{{allMoney}}</span></h1>
		<a href="javascript:void(0)" @click="gopay()">立即购买</a>
	</div>
</div>

</div>

<script>
	/*function fun(a){
  var sum = 0;
  for(var i = 0; i < a.length; i++){
    sum += a[i];
  }
  //alert(sum);
}
var arr = [1,2,3,4,5];
fun(arr);*/


//==================================全选与取消全选===============================================
//找到id为qx的input,为其绑定单击事件为function：

	function cmoney(){
		vue.$options.methods.allMoney();
	};

var vue=new Vue({
  el: '#cart',
  data: {
  	id:'1',
    cart:[
	    
    ],
    allMoney:'0'
  },
  methods:{
  	gopay:function(){
  		var  arrid=[];
  		$('.cartBox ul li input[type=checkbox]:checked').each(function(){
  			arrid.push(this.value);
  		});
  		//console.log(arrid);
  		if(arrid==''){
  			layer.msg('还没有选择商品',{time:1500});
  			return;
  		}
  		window.location.href=baseurl+'?s=index/Order/suborder&id='+arrid;
  	},
  	/*add:function(symbol,elem){
  		if(symbol=="-"){
  			this.cart[elem]['NUM']--;
  			if(this.cart[elem]['NUM']<=1){
				this.cart[elem]['NUM']=1;
			}
		}else{
			this.cart[elem]['NUM']++;
		}
		
		this.$http.post(baseurl+'?s=index/Shopcart/update_cart',{'num':this.cart[elem]['NUM'],'curriculumid':this.cart[elem]['CURRICULUMID'],'cartid':this.cart[elem]['CARTID']}).then(res=>{
			var count=eval('('+res.bodyText+')');
			if(count=='1'){

			}else{
				this.cart[elem]['NUM']--;
				layer.msg(count['msg'],{time:1500});
				this.$options.methods.allMoney();
			}
  		},res=>{ 
  			console.log('请求失败,请检查Network！');
  		})
  		this.$options.methods.allMoney();
  	},*/
  	allMoney:function(isload){
  		var chbAll=document.getElementById('qx');
  		chbAll.onclick=function(){
				//获得cartBox下ul下所有第一个li中的input,保存在chbs
				var chbs=document.querySelectorAll(".cartBox ul li input");
				//console.log(chbs);
				//遍历chbs中每个chb
				for(var i=0;i<chbs.length;i++){
				  //chbs数组中当前chb的checked等于事件中当前chb的checked
				  chbs[i].checked=this.checked;
				}
				//cilci_all_money();
				vue.$options.methods.allMoney();
			}
		var chbs=document.querySelectorAll(".cartBox ul li input:not(:checked)");
		//var check=document.querySelectorAll(".cartBox ul li input:checked");
			//如果chbs的length等于0
			if(chbs.length==0){
				chbAll.checked=true;//chbAll也改为选中
			}else{
				chbAll.checked=false;//否则chbAll改为未选中
			}
			
  		var money=0;//总价
  		for(var i=0;i<vue.cart.length;i++){
  			$isok=$('li').eq(i).find('.son_check').is(':checked');
  			if($isok || isload=='1'){
  				money+=parseFloat(vue.cart[i]['PRICE'])*vue.cart[i]['NUM'];	
  			}
  		}
  		vue.allMoney=money;
  	},
  	remove:function(){
  		var  arrid=[];
  		$('.cartBox ul li input[type=checkbox]:checked').each(function(){
  			arrid.push(this.getAttribute("val"));
  		});
		layer.open({
		    content: '确定要删除吗？',
		    btn: ['确认', '取消'],
		    yes: function(index){
				vue.$http.post(baseurl+'?s=index/Shopcart/delete_cart',{'cartid':arrid}).then(res=>{
	                var num=eval('('+res.bodyText+')');
	                if(num==1){
	                    layer.msg('商品已删除！',{time:1500});
	                    $('.cartBox ul li input[type=checkbox]:checked').parents('li').remove();
	                    /*if($('.cartBox ul li input[type=checkbox]:checked').length==0){
	                    	$('#qx').attr('checked',false);
	                    }*/
	                }else{
	                    location.reload();
	                }  
	            },res=>{
	                console.log('请求失败处理,请检查Network!');
	            })
				layer.close(index);
		    }
	  	});
  
  	}
  },
  created:function(){
  	this.$http.post(baseurl+'?s=index/Shopcart/cart',{list:1,'userid':this.id}).then(res=>{
  			this.cart=eval('('+res.bodyText+')');
  			this.$options.methods.allMoney('1');
  			/*//全选
  			var chbAll=document.getElementById('qx');
			chbAll.onclick=function(){
				//获得cartBox下ul下所有第一个li中的input,保存在chbs
				var chbs=document.querySelectorAll(".cartBox ul li input");
				//console.log(chbs);
				//遍历chbs中每个chb
				for(var i=0;i<chbs.length;i++){
				  //chbs数组中当前chb的checked等于事件中当前chb的checked
				  chbs[i].checked=this.checked;
				}
				//cilci_all_money();
				vue.$options.methods.allMoney();
			}
			//找到cartBox下ul下所有第一个li中的input,保存在chbs
			var chbs=document.querySelectorAll(".cartBox ul li input");
			//遍历chbs
			for(var i=0;i<chbs.length;i++){
				chbs[i].onclick=check;//为当前chb绑定点击事件为check
			}
			//定义函数check
			function check(){
				//如果当前chb未选中,只要有一个未选中
				if(!this.checked){
					chbAll.checked=false;//chbAll也改为未选中
					vue.$options.methods.allMoney();
				}else{
					//如果选中了,获取没有选中的input,如果没有选中的input长度为0,那说明为全选中状态
					//获得cartBox下ul下所有第一个li中的input,保存在chbs
					var chbs=document.querySelectorAll(".cartBox ul li input:not(:checked)");
					//如果chbs的length等于0
					if(chbs.length==0){
						alert(11);
						chbAll.checked=true;//chbAll也改为选中
					}else{
						chbAll.checked=false;//否则chbAll改为未选中
					}
					vue.$options.methods.allMoney();
				}
			};*/
  	},res=>{
  		console.log('请求失败,请检查Network!');
  	});
  	
  }
})
	</script>
{include file="common/footer"}
</body>
</html>
