{include file="public/header"}

<div class="content" id="lessonEdit">
    <div class="rightBox">
        <div class="main">
            
            <div class="seach_tigs" id="edit">
                <h3></h3>
                
                    <ul class="clearfix">
                        <li>
                            <label class="seach-label">
                                <span>*</span>用户名：
                            </label>
                            <input type="text" name="" value="" class="form-control" v-model="name">
                        </li>
                        <li>
                            <label class="seach-label">
                                <span>*</span>课程图片：
                            </label>
                            <div class="file_top">
                                <span>点击选择图片</span>
                                <input type="file" name="pic" id="file" class="upload" onchange="uploadpic(this)">
                                <input type="hidden" name="" class="" id="hpic" v-model="img">
                            </div>
                            <div class="fileBox">
                                <p>建议上传图片的尺寸比例为1:1，大小不超过1M</p>
                                <img :src="img" height="100" id="image" v-model="img">
                            </div>
                        </li>
                        <li>
                            <label class="seach-label">
                                <span>*</span>手机号：
                            </label>
                            <input type="text" name="" value="" class="form-control" v-model="phone">
                        </li>
                        <li>
                            <label class="seach-label">
                                <span>*</span>校区：
                            </label>
                            <input type="text" name="" value="" class="form-control" v-model="school" style="width: 300px;">
                        </li>
                        <li>
                            <label class="seach-label">
                                <span>*</span>年级：
                            </label>
                            <input type="text" name="" value="" class="form-control" v-model="grade" style="width: 300px;">
                        </li>
                        <li>
                            <label class="seach-label">
                                <span>*</span>性别：
                            </label>
                            <input type="text" name="" value="" class="form-control" v-model="sex">
                        </li>
                        <li>
                            <label class="seach-label">
                                <span>*</span>出生年月日：
                            </label>
                            <input type="text" name="" value="" class="form-control" id="test5" style="width: 300px;">
                        </li>
                        <li>
                            <label class="seach-label">
                                <span>*</span>家长姓名：
                            </label>
                            <input type="text" name="" value="" class="form-control" v-model="JNAME" style="width: 300px;">
                        </li>
                        <li class="seach"><input type="submit" name="" value="确认" @click="get()"><a href="javascript:history.back(-1)" id="back">返回</a></li>
                    </ul>
                
            </div>

        </div>
    </div>
</div>

{include file="public/footer"}
<script src="__PUBLIC__/admin/js/laydate.js"></script>
<script type="text/javascript">
function uploadpic(this0){
    $.ajaxFileUpload({
        fileElementId: 'file',    //需要上传的文件域的ID，即<input type="file">的ID。
        url: baseurl+'?s=admin/Uploadpic/index', //后台方法的路径
        type: 'post',   //当要提交自定义参数时，这个参数要设置成post
        dataType: 'json', //返回值类型 一般设置为json
        contentType: "application/x-www-form-urlencoded; charset=utf-8",
        success: function(data) {   //提交成功后自动执行的处理函数，参数data就是服务器返回的数据。
            console.log(data.src);
            $('#hpic').val(data.src);
            $('#image').attr('src',data.src);
        }
    });
}


var vue=new Vue({
    el:'#lessonEdit',
    data:{
        name:'',
        img:'',
        phone:'',
        school:'',
        grade:'',
        sex:'',
        JNAME:'',
        id:'<?php echo @$_GET['id']?>'
    },

    methods:{
        get:function(){
            var birthday=$('#test5').val();
            var img=$('#hpic').val();
            if(!this.name){
                layer.alert('用户名不能为空！');
                return;
            }
            if(!this.phone){
                layer.alert('手机号不能为空！');
                return;
            }
            if(!this.school){
                layer.alert('校区不能为空！');
                return;
            }
            if(!this.grade){
                layer.alert('年级不能为空！');
                return;
            }
            if(!this.sex){
                layer.alert('性别不能为空！');
                return;
            }
            if(!birthday){
                layer.alert('出生年月不能为空！');
                return;
            }
            if(!this.JNAME){
                layer.alert('家长姓名不能为空！');
                return;
            }

            this.$http.post(baseurl+'?s=admin/User/updateUser',{
                'id':this.id,
                'name':this.name,
                'img':img,
                'phone':this.phone,
                'school':this.school,
                'grade':this.grade,
                'sex':this.sex,
                'birthday':birthday,
                'JNAME':this.JNAME
            }).then(res=>{
                if(res.bodyText==1){
                    layer.msg('保存成功！',function(){
                        window.history.go(-1);
                    })
                }
            },res=>{
                console.log('请求失败处理,请检查Network!');
            })
        }

    },
    mounted: function(){
        laydate.render({
            elem: '#test5',//指定元素
            type: 'datetime'
        });
    },
    created:function(){
        if(!this.id){
            $('.seach_tigs h3').html('新增用户');
            return;
        }
        this.$http.post(baseurl+'?s=admin/User/get_onevalue',{'id':this.id}).then(res=>{
            $('.seach_tigs h3').html('编辑用户');
            var val=eval('('+res.bodyText+')')[0];
            this.name=val['NAME'];
            this.img=val['PIC'];
            this.phone=val['PHONE'];
            this.school=val['SCHOOL'];
            this.grade=val['GRADE'];
            this.sex=val['SEX'];
            $('#test5').val(val['BIRTHDAY']);
            this.JNAME=val['JNAME'];
        },res=>{
             console.log('请求失败处理,请检查Network!');
        });
    }
})


</script>
</body>
</html>