{include file="public/header"}

<div class="content" id="lessonEdit">
    <div class="rightBox">
        <div class="main">
            
            <div class="seach_tigs" id="edit">
                <h3>修改密码</h3>
                
                    <ul class="clearfix">
                        <li>
                            <label class="seach-label">
                                <span>*</span>密码：
                            </label>
                            <input type="text" name="" value="" class="form-control" v-model="pwd">
                        </li>
                        <li>
                            <label class="seach-label">
                                <span>*</span>新密码：
                            </label>
                            <input type="text" name="" value="" class="form-control" v-model="newPwd">
                        </li>
                        <li class="seach"><input type="submit" name="" value="确认" @click="get()"></li>
                    </ul>
                
            </div>

        </div>
    </div>
</div>

{include file="public/footer"}
<script type="text/javascript">

var vue=new Vue({
    el:'#lessonEdit',
    data:{
        id:'',
        pwd:'',
        newPwd:''
    },

    methods:{
        get:function(){
            this.$http.post(baseurl+'?s=admin/User/updateAdminUser',{
                'id':this.id,
                'PASSWORD':this.newPwd,
            }).then(res=>{
                if(res.bodyText==1){
                    layer.msg('保存成功！',function(){
                        //window.history.go(-1);
                    })
                }
            },res=>{
                console.log('请求失败处理,请检查Network!');
            })
        }

    },
    created:function(){
        this.$http.post(baseurl+'?s=admin/User/get_oneadminvalue').then(res=>{
            var val=eval('('+res.bodyText+')')[0];
            this.pwd=val['PASSWORD'];
            this.id=val['ID'];
        },res=>{
             console.log('请求失败处理,请检查Network!');
        });
    }
})


</script>
</body>
</html>