{include file="public/header"}

<div class="content" id="order">
    <div class="rightBox">
        <div class="main">
            <h3>订单列表</h3>
            <div class="seach_tigs">
                <ul class="clearfix">
                    <li>
                        <label class="seach-label"> 订单编号：</label>
                        <input type="text" name="" value="" placeholder="请输入用户名" class="form-control">
                    </li>
                    <li style="width: 33%;">
                        <label class="seach-label">用户名：</label>
                        <input type="text" name="" value="" placeholder="请输入用户号" class="form-control">
                    </li>
                    <li style="width: 33%;">
                        <label class="seach-label">手机号：</label>
                        <input type="text" name="" value="" placeholder="请输入手机号" class="form-control">
                    </li>
                </ul>
                <div class="seach" style="margin-left: 70px;">
                    <input type="button" name="" value="搜索" @click="get()">
                </div>
            </div>
            <table class="tableBox" id="orderList">
                <thead>
                    <tr>
                        <th align="left" style="padding-left: 15px;width: 50%;">商品信息</th>
                        <th></th>
                        <th>用户名</th>
                        <th>手机号</th>
                        <th>实付金额</th>
                        <th>订单状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <template v-for="(t,index) in products">
                        <tr class="firstTd">
                            <td colspan="8" align="left">
                                <span class="topId">订单编号：{{t.orderCode}}</span> 
                                <span class="topId">交易流水号：{{t.tranId}}</span> 
                                <span>下单时间：2018-11-21 15:32</span>
                                <span>支付时间：2018-11-21 15:36</span>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" style="padding-left:30px;"><img src="__PUBLIC__/index/images/echart_10.jpg" width="60px" style="float: left;"><span>{{t.name}}</span><br><span class="price">单价：￥{{t.price}}</span></td>
                            <td style="font-size: 14px;">×{{t.num}}</td>
                            <td>{{t.userName}}</td>
                            <td>13956487789</td>
                            <td>￥299</td>
                            <td class="state">{{t.state}}</td>
                            <td><a href="javascript:void(0)" class="remove" @click="remove(t.ID,index)">删除</a></td>
                        </tr>
                    </template> 
                </tbody>
            </table>
                
        </div>
    </div>
</div>
<div class="page">
    <ul class="clearfix pageonload" v-html="html">
       {{html}}
    </ul>
</div>
{include file="public/footer"}
<script type="text/javascript" src="__PUBLIC__/admin/js/page.js"></script>
<script type="text/javascript">
    var vue=new Vue({
        el:'#order',
        data:{
            products:[
                {
                    orderCode:'123545165136844',
                    tranId:'54316541123121',
                    orderTime:'',
                    payTime:'',
                    name:'金石V课',
                    price:'399',
                    num:'1',
                    userName:'向阳',
                    phone:'13958456623',
                    allMoney:'399',
                    state:'已付款'
                },
                {
                    orderCode:'12354584652145',
                    tranId:'54316541123132',
                    orderTime:'',
                    payTime:'',
                    name:'金石1对1',
                    price:'399',
                    num:'2',
                    userName:'杨南',
                    phone:'18765412259',
                    allMoney:'598',
                    state:'待付款'
                }
            ],
            id:'<?php echo @$_GET['id']?>'    
        },
        methods:{
            get:function(){
                this.$http.post(baseurl+'?s=admin/Order/order_list',{where:{'orderCode':this.orderCode,'name':this.name,'phone':this.phone}}).then(function(res){
                    //给分页组件添加条件
                    page.where={'orderCode':this.orderCode,'name':this.name,'phone':this.phone};
                   
                    var val=eval('('+res.bodyText+')');
                    this.products=val['value'];
                    //console.log(this.products);
                   //给分页组件传入总页数
                   page.htmlPage(val['allCount']);
                   //console.log(page.allCount);

                },function(res){
                    console.log('请求失败处理,请检查Network!');
                })
            },
            remove:function(ids,arrid){
                this.$http.post(baseurl+'?s=admin/Order/delete_order',{id:ids}).then(res=>{
                    var num=eval('('+res.bodyText+')');
                    if(num==1){
                        layer.alert('确定删除吗？',{time:1500});
                        this.products.splice(arrid,1);
                    }else{
                        location.reload();
                    }
                },res=>{
                    console.log('请求失败处理,请检查Network!');
                })
            }
        },
        created:function(){
            page.url='admin/Order/order_list';
            page.onload();
            
        }
    })

$(function(){
    $('table tbody tr .state').each(function(){
        var html=$(this).html();
        if(html=='已付款'){
            $(this).addClass('succ');
        }else if(html=='待付款'){
            $(this).addClass('noth');
        }
    })
 
})
</script>
</body>
</html>