{include file="public/header"}

<div class="content" id="teacher">
    <div class="rightBox">
        <div class="main">
            <h3>订单列表</h3>

            <div class="seach_tigs">
                
            </div>

            <table class="tableBox">
                    <thead>
                        <tr>
                            <th>订单编号</th>
                            <th>下单时间</th>
                            <th>课程名称</th>
                            <th>单价</th>
                            <th>数量</th>
                            <th>实付金额</th>
                            <th>订单状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="storeList">
                        <tr>
                            <td>12356844</td>
                            <td>2018-11-21 15:32</td>
                            <td><img src="__PUBLIC__/index/images/echart_10.jpg" width="60px">金石V课</td>
                            <td>￥299</td>
                            <td>×1</td>
                            <td>299</td>
                            <td class="succ">已付款</td>
                            <td><a href="">删除</a></td>
                        </tr>
                        <tr>
                            <td>12356844</td>
                            <td>2018-11-21 15:32</td>
                            <td><img src="__PUBLIC__/index/images/echart_10.jpg" width="60px">金石V课</td>
                            <td>￥299</td>
                            <td>×1</td>
                            <td>299</td>
                            <td class="noth">未付款</td>
                            <td><a href="">删除</a></td>
                        </tr>        
                        </tbody>
                </table>
                
        </div>
    </div>
</div>
<div class="page">
    <ul class="clearfix pageonload" v-html="html">
       {{html}}
    </ul>
</div>
{include file="public/footer"}
<script type="text/javascript" src="__PUBLIC__/admin/js/page.js"></script>
<script type="text/javascript">
    /**
     *****搜索*********
    **/
    var vue=new Vue({
        el:'#teacher',
        data:{
            id:'',
            time:'',
            infor:[],
            price:'',
            num:'',
            money:'',
                    
        },
        methods:{
            get:function(){
                this.$http.post(baseurl+'?s=admin/Lesson/get_teacherval',{where:{'name':this.name,'code':this.code,'subject_id':this.subject_id,'school_id':this.school_id}}).then(function(res){
                    //给分页组件添加条件
                    page.where={'name':this.name,'code':this.code,'subject_id':this.subject_id,'school_id':this.school_id};
                   
                    var val=eval('('+res.bodyText+')');
                    this.products=val['value'];
                    //console.log(this.products);
                   //给分页组件传入总页数
                   page.htmlPage(val['allCount']);
                   //console.log(page.allCount);

                },function(res){
                    console.log('请求失败处理,请检查Network!');
                })
            }
          
        },
        created:function(){
            page.url='admin/Lesson/get_teacherval';
            page.onload();
            
        }
    })
</script>
<script type="text/javascript">
    var isChrome = window.navigator.userAgent.indexOf("Chrome") !== -1;
(function() {
    if (!isChrome) {
        $("#is_chrome").html("为了更好的使用效果请使用Chrome浏览器");
    }
})();
</script>
</body>
</html>