{include file="common/header"}
<style type="text/css">
body,html{max-width: 640px;}
	.mao{
		color:#333;
		font-size: 0.7rem;
	}
	.open1{
		width: 100%;
		height: 60px;
		line-height: 100px;
		display: block;
		position: absolute;
		top:-25px;
		left:0;
	}
	.open2{
		width: 50%;
		height: 60px;
		display: block;
		position: absolute;
		bottom:87px;
		left:0;
	}
	.open3{
		width: 100%;
		height: 60px;
		line-height: 60px;
		display: block;
		position: absolute;
		bottom:0;
		right:0;
	}
	.open4{
		width: 50%;
		height: 60px;
		display: block;
		position: absolute;
		bottom:87px;
		right:0;
	}
	.mainBig{
		position: relative;
	}
	.maobox{
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		z-index: 999;
	}
</style>
<body>
<div id="testResult">
<div class="echartTop">
	<h2>开放性得分分布</h2>
	<p>点击下图文字查看型态介绍</p>
	<div class="mainBig">
		<div class="maobox">
			<a href="#x" class="mao open1">{{hext}}</a>
			<a href="#x2" class="mao open2">{{hext2}}</a>
			<a href="#x3" class="mao open3">{{hext3}}</a>
			<a href="#x4" class="mao open4">{{hext4}}</a>
		</div>
		<div id="main" style="height:300px;position: relative;"></div>
	</div>
</div>

<a name="x"></a>
<div class="echartLi">
	<div class="main">
		<h4>1、创新性(Creation) ——<span>({{ext}}分)</span></h4>
		<p>高分者更喜欢新奇和多样性的事物，而不是熟悉和常规的事物，思维上表现为更擅长从不同角度和途径去看待事物，具有更显著的发散思维，做事有新意、敢于打破常规。低分者对陌生事物感到不适，喜欢待在舒适区内，思维上表现缺乏发散思维，看待事物常常从单一视角，做事按部就班。</p>
	</div>
</div>
<a name="x2"></a>
<div class="echartLi">
	<div class="main">
		<h4>2、聪慧性/思辨(ideas) ——<span>({{ext2}}分)</span></h4>
		<p>该维度反映了求知欲和追求智力的兴趣。高分者思维更加灵活，善于接受新事物、应用新知识，表现为对抽象概念、理论问题的兴趣，喜欢解决复杂的智力问题。低分者，表现为思维更僵化，学习新知识、接受新事物的速度慢，相对于抽象的智力游戏，对具体的人与事的处理更感兴趣。</p>
	</div>
</div>
<a name="x3"></a>
<div class="echartLi">
	<div class="main">
		<h4>3、洞察力/审美(Aesthetics) ——<span>({{ext3}}分)</span></h4>
		<p>高分者对艺术和美有更深的理解，表现为更具有洞察力，对外界事物敏感，更善于捕捉细节、发现联系、欣赏美。低分者对艺术和美不那么敏感，表现为更缺乏洞察力，对外界事物迟钝，不易发觉联系、捕捉细节，缺乏审美力。</p>
	</div>
</div>
<a name="x4"></a>
<div class="echartLi">
	<div class="main">
		<h4>3、想象力(Fantasy) ——<span>({{ext4}}分)</span></h4>
		<p>高分者有生动的想象和活跃的幻想生活，表现为对世界有更大的好奇心，具有丰富的想象力，能够创造有趣的内心世界。低分者更单调乏味，注意力常在手头的任务上，表现为对世界的好奇心低，缺乏想象力，更喜欢现实的思考。</p>
	</div>
</div>

<div class="echartBtn"><a href="javascript:history.back();">返回</a></div>
</div>
{include file="common/footer"}
<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
<script type="text/javascript">
var array='<?php echo @$_GET['arr']?>';
//array=eval('('+array+')');
array=JSON.parse(array);
var maxarr=[
	['创新性',array[0]],
	['聪慧性',array[1]],
	['洞察力',array[2]],
	['想象力',array[3]],
];

var vue=new Vue({
	el: '#testResult',
	data:{  
		ext:Math.round(array[0]),
		ext2:Math.round(array[1]),
		ext3:Math.round(array[2]),
		ext4:Math.round(array[3]),
		hext:array[0],
		hext2:array[1],
		hext3:array[2],
		hext4:array[3],
	},
	methods: {
	  
 	},
	created:function(){
		//console.log(array[0]);
	}
})

        // 路径配置
        require.config({
            paths: {
                echarts: 'http://echarts.baidu.com/build/dist'
            }
        });
        
        // 使用
        require(
            [
                'echarts',
                'echarts/chart/radar' // 使用柱状图就加载bar模块，按需加载
            ],
            function (ec) {
                // 基于准备好的dom，初始化echarts图表
                var myChart = ec.init(document.getElementById('main'));
                
                var option = {
				    
				    calculable : true,
				    polar : [
				        {
				            indicator : [
				                {text : '创新性', max  : 55,min:45},
				                {text : '聪慧性', max  : 55,min:45},
				                {text : '洞察力', max  : 55,min:45},
				                {text : '想象力', max  : 55,min:45},
				            ],
				            name:{
					         	textStyle:{color:'red'}
					        },
				            radius : 130
				        }
				    ],
				    series : [
				        {
				            name: '学生测试实况数据',
				            type: 'radar',
				            itemStyle: {
				                normal: {
				                    areaStyle: {
				                        type: 'macarons'
				                    }
				                }
				            },
				            data : [
				                {
				                    value :array,
				                    name : '金石教育性格测试'
				                }
				              
				            ]
				        }
				    ]
				};
        
                // 为echarts对象加载数据 
                myChart.setOption(option);
                //console.log(option.polar['indicator']);
            }
        );

    </script>
</body>
</html>