{include file="common/header"}
<style type="text/css">
body,html{max-width: 640px;}
	.mao{
		color:#333;
		font-size: 0.7rem;
	}
	.ext1{
		width: 100%;
		height: 60px;
		line-height: 100px;
		display: block;
		position: absolute;
		top:-25px;
		left:0;
	}
	.ext2{
		width: 50%;
		height: 60px;
		display: block;
		position: absolute;
		bottom:26px;
		left:0;
	}
	.ext3{
		width: 50%;
		height: 60px;
		display: block;
		position: absolute;
		bottom:26px;
		right:0;
	}
	.mainBig{
		position: relative;
	}
	.maobox{
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		z-index: 999;
	}
</style>
<body>
<div id="testResult">
<div class="echartTop">
	<h2>责任性得分分布</h2>
	<p>点击下图文字查看型态介绍</p>
	<div class="mainBig">
		<div class="maobox">
			<a href="#x" class="mao ext1">{{hext}}</a>
			<a href="#x2" class="mao ext2">{{hext2}}</a>
			<a href="#x3" class="mao ext3">{{hext3}}</a>
		</div>
		<div id="main" style="height:300px;position: relative;"></div>
	</div>
</div>

<a name="x"></a>
<div class="echartLi">
	<div class="main">
		<h4>1、谨慎(Deliberation) ——<span>({{ext}}分)</span></h4>
		<p>该维度反映了行动前是否仔细考虑的倾向。高分者更谨慎、深思熟虑，表现为做事高标准要求自己，总会三思而后行，做事反复考虑，力求正确完美。低分者更草率、做事不计后果，表现为更加冲动、随便，倾向于敷衍了事、完成任务。</p>
	</div>
</div>
<a name="x2"></a>
<div class="echartLi">
	<div class="main">
		<h4>2、有序(Order) ——<span>({{ext2}}分)</span></h4>
		<p>高分者整齐、组织性强，表现为做事有条理、有计划、按照一定的规则和顺序执行，生活有规律。低分者缺乏组织性，表现为做事无条理、缺乏规划，常常想到什么做什么。</p>
	</div>
</div>
<a name="x3"></a>
<div class="echartLi">
	<div class="main">
		<h4>3、努力/追求成就(Achievement Striving) ——<span>({{ext3}}分)</span></h4>
		<p>高分者有更高的抱负，并努力实现目标，表现为追求成功的意志力更强，学习工作更加努力、勤奋、不怕吃苦、有目标、有生活方向感。低分者缺乏抱负，随遇而安，表现为追求成就的意志力更弱，面对困难和挑战更容易放弃，学习工作满足于基本完成任务，懒散、不努力。</p>
	</div>
</div>

<div class="echartBtn"><a href="javascript:history.back();">返回</a></div>
</div>
{include file="common/footer"}
<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
<script type="text/javascript">
var array='<?php echo @$_GET['arr']?>';
//array=eval('('+array+')');
array=JSON.parse(array);
var maxarr=[
	['谨慎',array[0]],
	['有序',array[1]],
	['努力',array[2]],
];

var vue=new Vue({
	el: '#testResult',
	data:{  
		ext:Math.round(array[0]),
		ext2:Math.round(array[1]),
		ext3:Math.round(array[2]),
		hext:array[0],
		hext2:array[1],
		hext3:array[2]
	},
	methods: {
	  
 	},
	created:function(){
		//console.log(array[0]);
	}
})

        // 路径配置
        require.config({
            paths: {
                echarts: 'http://echarts.baidu.com/build/dist'
            }
        });
        
        // 使用
        require(
            [
                'echarts',
                'echarts/chart/radar' // 使用柱状图就加载bar模块，按需加载
            ],
            function (ec) {
                // 基于准备好的dom，初始化echarts图表
                var myChart = ec.init(document.getElementById('main'));
                
                var option = {
				    
				    calculable : true,
				    polar : [
				        {
				            indicator : [
				                {text : '谨慎', max  : 55,min:45},
				                {text : '有序', max  : 55,min:45},
				                {text : '努力', max  : 55,min:45},
				               
				            ],
				            name:{
					         	textStyle:{color:'red'}
					        },
				            radius : 130
				        }
				    ],
				    series : [
				        {
				            name: '学生测试实况数据',
				            type: 'radar',
				            itemStyle: {
				                normal: {
				                    areaStyle: {
				                        type: 'macarons'
				                    }
				                }
				            },
				            data : [
				                {
				                    value :array,
				                    name : '金石教育性格测试'
				                }
				              
				            ]
				        }
				    ]
				};
        
                // 为echarts对象加载数据 
                myChart.setOption(option);
                //console.log(option.polar['indicator']);
            }
        );

    </script>
</body>
</html>