{include file="common/header"}
<style type="text/css">
body,html{max-width: 640px;}
	.mao{
		color:#333;
		font-size: 0.7rem;
	}
	.ext1{
		width: 100%;
		height: 60px;
		line-height: 100px;
		display: block;
		position: absolute;
		top:-25px;
		left:0;
	}
	.ext2{
		width: 50%;
		height: 60px;
		display: block;
		position: absolute;
		bottom:26px;
		left:0;
	}
	.ext3{
		width: 50%;
		height: 60px;
		display: block;
		position: absolute;
		bottom:26px;
		right:0;
	}
	.mainBig{
		position: relative;
	}
	.maobox{
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		z-index: 999;
	}
</style>
<body>
<div id="testResult">
<div class="echartTop">
	<h2>外倾性得分分布</h2>
	<p>点击下图文字查看型态介绍</p>
	<div class="mainBig">
		<div class="maobox">
			<a href="#x" class="mao ext1">{{hext}}</a>
			<a href="#x2" class="mao ext2">{{hext2}}</a>
			<a href="#x3" class="mao ext3">{{hext3}}</a>
		</div>
		<div id="main" style="height:300px;position: relative;"></div>
	</div>
</div>

<a name="x"></a>
<div class="echartLi">
	<div class="main">
		<h4>1、活跃(activity) ——<span>({{ext}}分)</span></h4>
		<p>高分者对快节奏和忙碌感有追求，表现为做事很主动、活跃，对人很积极、健谈，精力充沛，愿意表现自己。低分者更悠闲和放松（但并不代表行动迟缓），表现为做事被动，对人比较内向、少言寡语，在公众场合不愿表现自己。</p>
	</div>
</div>
<a name="x2"></a>
<div class="echartLi">
	<div class="main">
		<h4>2、合群(Gregariousness) ——<span>({{ext2}}分)</span></h4>
		<p>高分者喜欢他人陪伴，典型的人来疯——人越多他就越开心，具体表现为乐于融入集体，喜欢人多的场合和大家在一起学习与活动。低分者不主动甚至倾向于回避社会刺激，具体表现为乐于独自行动，喜欢人少的场合独立学习和活动。</p>
	</div>
</div>
<a name="x3"></a>
<div class="echartLi">
	<div class="main">
		<h4>3、积极情绪(Positive emotions) ——<span>({{ext3}}分)</span></h4>
		<p>该维度反映了体验积极情绪的倾向。高分者表现为容易体验积极情绪，如快乐、兴奋、情绪高涨等，从而显示出乐观、开朗的性格倾向。低分者表现为不容易体验积极情绪（并不代表一定容易体验消极情绪），常表现出平静、严肃、缺乏热情的情绪状态，从而显示出悲观、内向的性格倾向。</p>
	</div>
</div>

<div class="echartBtn"><a href="javascript:history.back();">返回</a></div>
</div>
{include file="common/footer"}
<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
<script type="text/javascript">
var array='<?php echo @$_GET['arr']?>';
//array=eval('('+array+')');
array=JSON.parse(array);
var maxarr=[
	['活跃',array[0]],
	['合群',array[1]],
	['积极情绪',array[2]],
];

var vue=new Vue({
	el: '#testResult',
	data:{  
		ext:Math.round(array[0]),
		ext2:Math.round(array[1]),
		ext3:Math.round(array[2]),
		hext:array[0],
		hext2:array[1],
		hext3:array[2]
	},
	methods: {
	  
 	},
	created:function(){
		//console.log(array[0]);
	}
})

        // 路径配置
        require.config({
            paths: {
                echarts: 'http://echarts.baidu.com/build/dist'
            }
        });
        
        // 使用
        require(
            [
                'echarts',
                'echarts/chart/radar' // 使用柱状图就加载bar模块，按需加载
            ],
            function (ec) {
                // 基于准备好的dom，初始化echarts图表
                var myChart = ec.init(document.getElementById('main'));
                
                var option = {
				    
				    calculable : true,
				    polar : [
				        {
				            indicator : [
				                {text : '活跃', max  : 55,min:45},
				                {text : '合群', max  : 55,min:45},
				                {text : '积极情绪', max  : 55,min:45},
				               
				            ],
				            name:{
					         	textStyle:{color:'red'}
					        },
				            radius : 130
				        }
				    ],
				    series : [
				        {
				            name: '学生测试实况数据',
				            type: 'radar',
				            itemStyle: {
				                normal: {
				                    areaStyle: {
				                        type: 'macarons'
				                    }
				                }
				            },
				            data : [
				                {
				                    value :array,
				                    name : '金石教育性格测试'
				                }
				              
				            ]
				        }
				    ]
				};
        
                // 为echarts对象加载数据 
                myChart.setOption(option);
                //console.log(option.polar['indicator']);
            }
        );

    </script>
</body>
</html>