{include file="common/header"}
<style type="text/css">
	body,html{height: 100%;}
	.testTime p{
		text-align: left;
		margin-bottom: 0.56rem;
		text-indent: 2.2rem;
	}
	.testTime p span{
		text-decoration: underline;
	}
	.testTime h2{
		font-size: 1.5rem;
		margin:1.5rem 0 1rem 0;
	}
</style>

<body>
<div class="testTop testTime">
	<div class="main">
		<h2>学习动机</h2>
		<p>亲爱的同学，您好！为了帮助您客观真实的了解自己的学习状态，并为您提供科学的、针对性的和个性化的课程服务与指导意见，请您认真作答本问卷。<span>您的参与非常重要。我们郑重承诺：您所提供的所有信息都仅用于您了解自己的学习状态，绝不会用做其它用途，请您放心地填写。</span></p>
		<p>在填写时，请您<span>认真阅读每个句子</span>，并根据对每一题目的第一印象与实际情况作答，如果符合自己的情况，请选择“符合”，如果不符合自己的情况，请选择“不符合”。<span>请注意答案没有好坏、对错之分，请您一定要如实作答。</span></p>
		<p>非常感谢您的参与！</p>
	</div>
</div>
<div class="testMain" id="test">
	 
		<form action="" id="f"></form>
		<ul id="textList">
			<li v-for="(v,index) in products">
				<div class="main">
					<span>{{v.num}}、</span>{{v.title}}
				</div>
				<ul>
					<li><input type="radio" form="f" :name="'test'+v.num" :value="1" @click="answer($event,v.num)"><p>符合</p></li>
					<li><input type="radio" form="f" :name="'test'+v.num" :value="0" @click="answer($event,v.num)"><p>不符合</p></li>
				</ul>
			</li>

		</ul>
		<div class="btn"><button @click="get()">提交</button></div>
</div>

{include file="common/footer"}
<script type="text/javascript">
var T1,T2,T3,T4,T5,T6,T7,T8,T9,T10,T11,T12,T13,T14,T15,T16,T17,T18,T19,T20;

var vue=new Vue({
  el: '#test',
  data: {
    products: [
      { title: '如果老师、父母、同伴不督促您，您极少主动学习。',num:1},
      { title: '您需要非常努力才可以提起精神学习。',num:2},
      { title: '您一学习就感觉疲劳、厌倦、没有精神。',num:3},
      { title: '除老师指定的作业外，您不会再学习其他课本内容。',num:4},
      { title: '如果有不懂的内容，您通常不会想办法弄懂它。',num:5},
      { title: '您常常希望自己投入很少的时间就可以获得比别人更好的学习成绩。',num:6},
      { title: '您迫切希望自己在短时间内就能大幅度提高学习成绩。',num:7},
      { title: '您常常为短时间内没有提高学习成绩而烦恼。',num:8},
      { title: '为了及时完成作业，您常常学习很久或者学习到很晚。',num:9},
      { title: '为了学好功课，您放弃了很多感兴趣的活动，如体育锻炼、电影、郊游等。',num:10},
      { title: '您常常觉得读书没意思，想出去玩耍或者找工作。',num:11},
      { title: '您常常认为学习课本的基础知识没有用。',num:12},
      { title: '您对喜欢的科目学习非常努力，而对不喜欢的科目没有学习兴趣。',num:13},
      { title: '您经常花在课外读物上的时间比花在教科书上的时间要多的多。',num:14},
      { title: '您把时间平均分配在各个学科上。',num:15},
      { title: '您给自己定下的学习目标，多数因做不到而不得不放弃。',num:16},
      { title: '您给自己定下的学习目标，多数不容易做到。',num:17},
      { title: '您总是同时为实现几个学习目标而忙得焦头烂额。',num:18},
      { title: '为了完成每天的学习任务，您已经感到力不从心。',num:19},
      { title: '为了实现一个大目标，您常常在不同的阶段给自己制定一些小目标。',num:20}
    ]
  },
  methods:{
  	answer:function(element,index){
		if(index==1){
			T1=parseInt(element.toElement.value);
		}else if(index==2){
			T2=parseInt(element.toElement.value);
		}else if(index==3){
			T3=parseInt(element.toElement.value);
		}else if(index==4){
			T4=parseInt(element.toElement.value);
		}else if(index==5){
			T5=parseInt(element.toElement.value);
			//以上学习动机过弱
		}else if(index==6){
			T6=parseInt(element.toElement.value);
		}else if(index==7){
			T7=parseInt(element.toElement.value);
		}else if(index==8){
			T8=parseInt(element.toElement.value);
		}else if(index==9){
			T9=parseInt(element.toElement.value); 
		}else if(index==10){
			T10=parseInt(element.toElement.value);
			//以上学习动机过强 
		}else if(index==11){
			T11=parseInt(element.toElement.value);  
		}else if(index==12){
			T12=parseInt(element.toElement.value);  
		}else if(index==13){
			T13=parseInt(element.toElement.value);  
		}else if(index==14){
			T14=parseInt(element.toElement.value);  
		}else if(index==15){
			T15=parseInt(element.toElement.value); 
			//以上学习兴趣困扰
		}else if(index==16){
			T16=parseInt(element.toElement.value);  
		}else if(index==17){
			T17=parseInt(element.toElement.value);  
		}else if(index==18){
			T18=parseInt(element.toElement.value);
		}else if(index==19){
			T19=parseInt(element.toElement.value);  
		}else if(index==20){
			T20=parseInt(element.toElement.value);
			//以上学习目标困扰
		}
		
	},
	get:function(){
		this.$options.methods.answer();
	/* 1、 学习动机过弱  */
		var cost=T1+T2+T3+T4+T5;
	/*2、学习动机过强 */
		var moni=T6+T7+T8+T9+T10;
	/*3、学习兴趣困扰 */
		var effic=T11+T12+T13+T14+T15;
	/*4、学习目标困扰 */
		var study=T16+T17+T18+T19+T20;
		
		if(T1== undefined||T2== undefined||T3== undefined||T4== undefined||T5== undefined||T6== undefined||T7== undefined||T8== undefined||T9== undefined||T10== undefined||T11== undefined||T12== undefined||T13== undefined||T14== undefined||T15== undefined||T16== undefined||T17== undefined||T18== undefined||T19== undefined||T20== undefined){
			layer.alert('请不要留下空题');
			return;
		}
		var arr=[cost,moni,effic,study];
		arr=JSON.stringify(arr);
		window.location.href=baseurl+'?s=index/test/studyResult&arr='+arr;

	}
  },
  created:function(){

  }
})

</script>
</body>
</html>