{include file="common/header"}
<style type="text/css">
	body,html{height: 100%;}
</style>

<body>
<div id="test">
<div class="testTop">
	<img :src=img alt="">
	<p>以下问题请根据你学习及身体感受回答</p>
</div>
<div class="testMain">
	
		<form action="" id="f"></form>
		<ul id="textList">
			<li v-for="(v,index) in products">
				<div class="main">
					<span>{{v.or}}、</span>{{v.title}}
				</div>
				<ul>
					<li><input type="radio" form="f" :name="'test'+v.num" :value="1" @click="answer($event,v.num)"><p>很不像我</p></li>
					<li><input type="radio" form="f" :name="'test'+v.num" :value="2" @click="answer($event,v.num)"><p>不太像我</p></li>
					<li><input type="radio" form="f" :name="'test'+v.num" :value="3" @click="answer($event,v.num)"><p>有点像我</p></li>
					<li><input type="radio" form="f" :name="'test'+v.num" :value="4" @click="answer($event,v.num)"><p>比较像我</p></li>
					<li><input type="radio" form="f" :name="'test'+v.num" :value="5" @click="answer($event,v.num)"><p>非常像我</p></li>
				</ul>
			</li>
		</ul>
		<div class="btn"><button @click="get()">提交</button></div>
</div>
</div>
{include file="common/footer"}
<script type="text/javascript">

var T6,T21,T26,T36,T22,T37,T42,T48,T3,T8,T13,T33,T19,T24,T34,T44,T20,T30,T35,T45;


var vue=new Vue({
  el: '#test',
  data: {
    products: [
      { title: '对学过的知识，我常能及时复习，认真总结。',num:3,or:1},
      { title: '我很健谈，爱和别人聊天、交谈。',num:6,or:2},
      { title: '我很勤奋，我总是努力学习和工作。',num:8,or:3},
      { title: '我做事认真，做完一件事后仔细检查，尽力避免错误。',num:13,or:4},
      { title: '我经常能看出别人难以觉察的美。',num:19,or:5},
      { title: '我经常对自己应该有把握的事情也感到很担心。',num:20,or:6},
      { title: '别人认为我很活泼。',num:21,or:7},
      { title: '我总是力所能及地帮助别人。',num:22,or:8},
      { title: '我有丰富的想象力。',num:24,or:9},
      { title: '我很爱笑，也喜欢和别人开玩笑。',num:26,or:10},
      { title: '我对自己经常没有把握，需要别人告诉我做的事是否正确。',num:30,or:11},
      { title: '我做事很有计划性，能按计划一步步地努力。',num:33,or:12},
      { title: '我兴趣爱好广泛，知识面宽。',num:34,or:13},
      { title: '与周围的人相比，我常常觉得自己不如别人。',num:35,or:14},
      { title: '我喜欢参加集体活动和同学、亲友的聚会。',num:36,or:15},
      { title: '我待人真诚，总是实话实说。',num:37,or:16},
      { title: '我不会因为小事而与别人争吵或闹别扭。',num:42,or:17},
      { title: '我有敏锐的观察力，常常能观察到别人观察不到的细节。',num:44,or:18},
      { title: '我常常担心会发生不好的事情。',num:45,or:19},
      { title: '只要答应过别人的事，我都会竭尽全力。',num:48,or:20}
    ],
    name:'',
    img:''
  },
  methods:{
  	answer:function(element,index){
		
		if(index==6){ //外向性合成分：6+21+26+36
			T6=parseInt(element.toElement.value);
		}else if(index==21){
			T21=parseInt(element.toElement.value);
		}else if(index==26){
			T26=parseInt(element.toElement.value);
		}else if(index==36){
			T36=parseInt(element.toElement.value);
		}else if(index==22){ //宜人性合成分：22+37++42+48
			T22=parseInt(element.toElement.value);
		}else if(index==37){
			T37=parseInt(element.toElement.value);
		}else if(index==42){
			T42=parseInt(element.toElement.value);  
		}else if(index==48){
			T48=parseInt(element.toElement.value);  
		}else if(index==3){ //谨慎性合成分：3+8+13+33
			T3=parseInt(element.toElement.value);  
		}else if(index==8){
			T8=parseInt(element.toElement.value);
		}else if(index==13){
			T13=parseInt(element.toElement.value);  
		}else if(index==33){
			T33=parseInt(element.toElement.value);  
		}else if(index==19){ //开放性合成分：19+24+34+44
			T19=parseInt(element.toElement.value);  
		}else if(index==24){
			T24=parseInt(element.toElement.value);  
		}else if(index==34){
			T34=parseInt(element.toElement.value);  
		}else if(index==44){
			T44=parseInt(element.toElement.value);  
		}else if(index==20){ //情绪性合成分：20+30+35+45
			T20=parseInt(element.toElement.value);  
		}else if(index==30){
			T30=parseInt(element.toElement.value);
		}else if(index==35){
			T35=parseInt(element.toElement.value);  
		}else if(index==45){
			T45=parseInt(element.toElement.value);  
		}
		
	},
	get:function(){
		this.$options.methods.answer();
	/* 1、 外向性合成分：6+21+26+36  */
		var x=(T6+T21+T26+T36)/4;//X(外向型原始分)
		var xRe=50+(x-3.1409)/0.7669;//X(外向型原始分) 最终得分
		xRe=xRe.toFixed(5);
	/*2、宜人性合成分：22+37++42+48 */
		var x2=(T22+T37+T42+T48)/4;//原始分
		var x2Re=50+(x2 - 3.5815)/0.7650;//最终分
		x2Re=x2Re.toFixed(5);

	/*3、谨慎性合成分：3+8+13+33 */
		var x3=(T3+T8+T13+T33)/4;
		var x3Re=50+(x3 - 2.0141)/0.4547;
		x3Re=x3Re.toFixed(5);
	/*4、开放性合成分：19+24+34+44 */
		var x4=(T19+T24+T34+T44)/4;
		var x4Re=50+(x4- 3.2665)/0.7127;
		x4Re=x4Re.toFixed(5);

	/*5、情绪性合成分：20+30+35+45 */
		var x5=(T20+T30+T35+T45)/4;
		var x5Re=50+(x5 - 3.0298)/0.8592;
		x5Re=x5Re.toFixed(5);
		
		
		if(T6== undefined||T21== undefined||T26== undefined||T36== undefined||T22== undefined||T37== undefined||T42== undefined||T48== undefined||T3== undefined||T8== undefined||T13== undefined||T33== undefined||T19== undefined||T24== undefined||T34== undefined||T44== undefined||T20== undefined||T30== undefined||T35== undefined||T45== undefined){
			layer.alert('请不要留下空题');
			return;
		}
		var arr=[xRe,x2Re,x3Re,x4Re,x5Re];
		arr=JSON.stringify(arr);
		window.location.href=baseurl+'?s=index/test/test_show&arr='+arr;

	}
  },
  created:function(){
  	this.$http.post(baseurl+'?s=index/center/index',{list:1,'id':this.id}).then(res=>{
			var val=eval('('+res.bodyText+')')[0];
	        this.name=val['NAME'];
	        this.img=val['PIC'];
		},res=>{
			console.log('请求失败,请检查Network!');
	})
  }
})

</script>
</body>
</html>