{include file="common/header"}
<body>
<div id="back"><div class="main"><a href="javascript:history.back(-1)"><i class="icon iconfont">&#xe63b;</i></a></div></div>
<div class="testfull">
	<div class="main">
		<ul>
			<li><a href="<?php echo BASE_URL;?>?s=index/test/test_two">
				<h2>人格</h2>
			</a></li>
			<li><a href="<?php echo BASE_URL;?>?s=index/test/time_two">
				<h2>时间管理</h2>
			</a></li>
			<li><a href="<?php echo BASE_URL;?>?s=index/test/study_two">
				<h2>学习动机</h2>
			</a></li>
		</ul>
	</div>
</div>

{include file="common/footer"}
</body>
</html>