<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
<div class="container">
    <div class="bg_img"></div>
    <div class="top">
        <div class="main">
            <div class="logo">
                <img src="images/logo.png" width="150">
            </div>
            <div class="nav">
                <ul>
                    <li><a href="javascript:void(0)">返回首页</a></li>
                    <li><a href="javascript:void(0)">返回首页</a></li>
                    <li><a href="javascript:void(0)">返回首页</a></li>
                    <li><a href="javascript:void(0)">返回首页</a></li>
                    <li><a href="javascript:void(0)">返回首页</a></li>
                    <li><a href="javascript:void(0)">返回首页</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    
    <div class="content">
        <div class="download">
            <a href="http://ftp.jinshiedu.net/stuappftp/1.apk">
                <img src="images/android.png">
            </a>
            <a href="https://itunes.apple.com/cn/app/%E9%87%91%E7%9F%B3%E6%95%99%E8%82%B2/id1437224611??l=zh&ls=1&mt=8">
                <img src="images/appstore.png">
            </a>
        </div>
    </div>
    <div class="footer">
        <p>Powered by 金石教育 课程存档</p>
        <p>课程内容版权均归 青岛金石教育科技股份有限公司 所有 鲁ICP备12014631号-2</p>
    </div>
</div>

</body>
</html>